/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----========CSS RESET========------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
  color: black;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========FONTS========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v18-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin_cyrillic-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v18-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v18-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin_cyrillic-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v18-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin_cyrillic-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v18-latin_cyrillic-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v18-latin_cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v18-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v18-latin_cyrillic-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v18-latin_cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v18-latin_cyrillic-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------======GLOBAL STYLES======----- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
* {
  box-sizing: border-box;
}

main {
  overflow-x: hidden;
  min-height: 83vh;
  background: #F9F9F9;
}

.wrapper {
  width: 1166px;
  margin: 0 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

@mixin Open($size) {
  font-family: 'Open Sans' !important;
  font-weight: $size !important;
}

.white{
  color: #ffffff;
}
.orange{
  color: rgba(221, 174, 148, 0.9);
}

.active{
  transform: translateX(0) !important;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------======MAIN HEADER======------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

header{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-top: 85px;

  .wrapper{
    display: flex;
    align-items: center;

    .header__logo{
      margin-right: 67px;
    }
    .header__nav{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      .nav_list{
        display: flex;
        flex-direction: row;
        align-items: center;

        .nav_item{
          margin-right: 50px;
          a{
            span{
              @include Open(400);
              font-size: 18px;
              line-height: 25px;
            }
          }
        }
      }
      .nav_links{
        margin-left: auto;
        display: flex;
        align-items: center;

        a{
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: #B86536;
          @include Open(400);
        }
        a:first-child{
          margin-right: 53px;
        }
      }
    }
  }
}


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------========INTRO=======-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.intro{
  width: 100%;
  min-height: 200px;
  background: linear-gradient(90deg,rgb(221,174,148) 50%,#F9F9F9 50%);
  padding: 202px 0 145px 0;

  .wrapper{
    .intro__header{
      @include Open(600);
      font-size: 55px;
      line-height: 137.85%;
      text-transform: uppercase;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
      padding-left: 61px;
      margin-bottom: 120px;
    }

    .swiper-container{
      width: 962px;
      padding: 25px 69px;

      .swiper-button-prev{
        right: 0;
        width: fit-content;
        height: fit-content;
        &::after{
          display: none;
        }
      }
      .swiper-button-next{
        right: 0;
        width: fit-content;
        height: fit-content;
        &::after{
          display: none;
        }
      }

      
      .swiper-wrapper{
        .swiper-slide{
          display: flex;
          justify-content: center;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

          div{
            width: 412px;
            height: 483px;
          }
          div:first-child{
            width: 411px;
          }
        }
      }
    }
  }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------========PORTFOLIO=======------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.portfolio{
  margin-top: -41px;
  margin-bottom: 68px;

  .wrapper{
    width: 1440px;
    display: flex;
    padding-left: 106px;

    .portfolio_left{
      padding: 0 0 29px 29px;
      position: relative;
      &::after{
        position: absolute;
        content: "";
        width: 138px;
        height: 140px;
        background: #F2D9C9;
        left: 0;
        bottom: 0;
      }

      .left_img{
        width: 525px;
        height: 507px;
        z-index: 1;
        box-shadow: 0px 0.3px 12px rgba(0, 0, 0, 0.25);
      }
    }

    .portfolio_right{
      padding-left: 104px;
      padding-top: 147px;
      position: relative;
      width: 100%;

      .right_text{
        @include Open(300);
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.03em;
        color: #321A0C;
        width: 523px;
      }

      .right_btn{
        background: #DDAE94;
        font-size: 40px;
        line-height: 54px;
        letter-spacing: 0.08em;
        @include Open(600);
        color: #FFFFFF;
        padding: 87px 18px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
        position: absolute;
        right: 0px;
        writing-mode: tb-rl;
        top: 50%;
        transform: translateY(-50%) scale(-1);
      }
    }
  }
}


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----=======HOW TO ORDER=======----- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.how-to-order{
  .wrapper{
    width: 1440px;
    padding-left: 135px;
    position: relative;

    .how-to-order__title{
      @include Open(600);
      font-size: 45px;
      line-height: 61px;
      letter-spacing: 0.03em;
      color: #D9AD9F;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
      width: 100%;
      text-align: left;
      margin-bottom: 9px;
    }

    .how-to-order__fist-line{
      display: flex;
      margin-bottom: 73px;
      
      .first_line_left{
        width: 570px;
        z-index: 1;
        padding-top: 69px;
        .first_line_left_img{
          width: 570px;
          height: 560px;
          box-shadow: 0px 0.3px 12px rgba(0, 0, 0, 0.25);
        }
        
      }
      .first_line_right{
        padding-left: 72px;
        width: 100%;

        .first_line_right_header{
          width: 100%;
          background: #D9AD9F;
          padding: 23px 78px;
          margin-bottom: 60px;

          p{
            @include Open(400);
            font-size: 25px;
            line-height: 34px;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
          }
        }
        .first_line_right_main{
          font-size: 25px;
          line-height: 34px;
          letter-spacing: 0.03em;
          @include Open(300);
          color: #321A0C;
          text-align: center;

          p:nth-child(1){
            margin-left: 100px;
            margin-bottom: 25px;
            width: 296px;
            position: relative;
            z-index: 3;

            &::after{
              position: absolute;
              content: "01";
              font-size: 130px;
              line-height: 177px;
              letter-spacing: 0.03em;
              @include Open(600);
              color: #FFFFFF;
              left: 50%;
              transform: translateX(-50%);
              top: -49px;
              z-index: -1;
            }
          }
          p:nth-child(2){
            margin-left: 132px;
            margin-bottom: 11px;
            width: 231px;
            position: relative;
            z-index: 3;

            &::after{
              position: absolute;
              content: "02";
              font-size: 130px;
              line-height: 177px;
              letter-spacing: 0.03em;
              @include Open(600);
              color: #FFFFFF;
              left: 50%;
              transform: translateX(-50%);
              top: -40px;
              z-index: -1;
            }
          }
          p:nth-child(3){
            margin-left: 35px;
            margin-bottom: 50px;
            width: 425px;
            position: relative;
            z-index: 3;

            &::after{
              position: absolute;
              content: "03";
              font-size: 130px;
              line-height: 177px;
              letter-spacing: 0.03em;
              @include Open(600);
              color: #FFFFFF;
              left: 50%;
              transform: translateX(-50%);
              top: -30px;
              z-index: -1;
            }
          }
        }
        .first_line_right_footer{
          padding:33px 20px 33px 11px;
          position: relative;
          width: 100%;

          &::after{
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 831px;
            background: #F2D9C9;
            z-index: -1;
          }

          p{
            width: 552px;
            font-size: 25px;
            line-height: 34px;
            text-align: center;
            letter-spacing: 0.03em;
            @include Open(300);
            color: #262626;
          }
        }

      }
    }
    .how-to-order_second-line{
      display: flex;
      margin-bottom: 110px;

      .second-line_left{
        width: 552px;

        .second-line_left_text{
          font-size: 25px;
          line-height: 34px;
          letter-spacing: 0.03em;
          @include Open(300);
          color: #321A0C;

          p:first-child{
            width: 100%;
            margin-bottom: 23px;
          }
          p:last-child{
            margin-bottom: 38px;
            max-width: 446px;
            
            a{
              font-size: 25px;
              line-height: 34px;
              letter-spacing: 0.03em;
              @include Open(300);
              color: #B86536;
            }
          }
        }
        .second-line_left_photo{
          width: 519px;
          height: 614px;
          box-shadow: 0px 1px 12px rgba(98, 64, 45, 0.1);
        }
      }
      .second-line_right{
        width: 597px;
        margin-left: 45px;

        .second-line_right_photo{
          width: 566px;
          height: 440px;
          margin-bottom: 47px;
          box-shadow: 0px 1px 12px rgba(98, 64, 45, 0.1);
        }
        .second-line_right_text{
          font-size: 25px;
          line-height: 35.5px;
          letter-spacing: 0.03em;
          @include Open(300);
          color: #321A0C;
          margin-bottom: 48px;

          p:first-child{
            width: 589px;
            margin-bottom: 11px;
          }
          p:last-child{
            width: 100%;
          }
        }
        .second-line_right_btn{
          font-size: 40px;
          line-height: 54px;
          letter-spacing: 0.07em;
          @include Open(600);
          color: #FFFFFF;
          padding: 17px 106px;
          background: #DDAE94;
          display: block;
          width: fit-content;
          box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.16);
        }
      }
    }

    .how-to-order_palm{
      position: absolute;
      left: 0;
      top: 45px;
      z-index: -2;
      height: 407px;
    }
  }
}


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------=========PRICE========------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.price{
  .wrapper{
    width: 1440px;
    padding-left: 136px;
    margin-bottom: 77px;
    display: flex;

    .price__left{
      width: 600px;

      .price_title{
        font-size: 45px;
        line-height: 61px;
        letter-spacing: 0.03em;
        color: #D9AD9F;
        @include Open(600);
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        margin-bottom: 42px;
      }
      .price_text{
        font-weight: 300;
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.03em;
        @include Open(300);
        color: #321A0C;

        a{
          color:#B86536;
        }
        span{
          color:#B86536;
        }
        .link-with-arrow{
          padding-right: 40px;
          background: url(../img/svg/price_arrow.svg) right center no-repeat;
        }
      }
    }
    .price__right{
      width: 506px;
      height: 653px;
      margin-left: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &::after{
        content: "";
        position: absolute;
        width: 104px;
        height: 104px;
        right: 0;
        top: 0;
        border-right: 1px solid #B86536;
        border-top: 1px solid #B86536;
      }

      &::before{
        content: "";
        position: absolute;
        width: 104px;
        height: 104px;
        left: 0;
        bottom: 0;
        border-left: 1px solid #B86536;
        border-bottom: 1px solid #B86536;
        
      }

      .price__right_img{
        width: 450px;
        height: 600px;
        z-index: 1;
        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
      }
    }
  }
}


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------=========GET========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.get{
  .wrapper{
    width: 1440px;
    position: relative;

    .get_title{
      margin-left: 136px;
      font-size: 45px;
      line-height: 61px;
      letter-spacing: 0.03em;
      color: #D9AD9F;
      @include Open(600);
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
      margin-bottom: 75px;
    }
    .get_form_wrap{
      position: relative;

      .get_form{
        margin: 0 auto;
        width: 634px;
        padding: 34px 78px 38px 78px;
        background: #DDAE94;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        position: relative;
  
        input, textarea{
          background: 0;
          border: 0;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: 0.03em;
          @include Open(600);
          color: #FFFFFF;
          display: block;
          width: 100%;
          height: fit-content;
          border-bottom: 2px solid #FFFFFF;
          padding-bottom: 6px;
          margin-bottom: 20px;
          
          &::placeholder{
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.03em;
            @include Open(300);
            color:rgba(255, 255, 255, 0.7);
            opacity: 1;
          }
        }
        textarea{
          overflow: auto;
          resize: none;
        }
        input[type="file"]{
          display: none;
        }
        label{
          width: 100%;
          height: fit-content;
          line-height: 19px;
          font-size: 14px;
          letter-spacing: 0.03em;
          color:rgba(255, 255, 255, 0.7);
          @include Open(300);
          position: relative;
          padding-bottom: 6px;
          display: block;
          margin-bottom: 44px;
          cursor: pointer;
  
          &:after{
            position: absolute;
            content: "";
            width: 100%;
            left: 0;
            bottom: 0;
            height: 2px;
            background: #FFFFFF;
          }
        }
        .form-send{
          display: block;
          margin: 0 auto;
          font-size: 30px;
          line-height: 41px;
          letter-spacing: 0.07em;
          @include Open(600);
          padding: 5px 45px;
          color: #CE9E84;
          background: #FFFFFF;
          width: fit-content;
        }
      }
      .get_bg{
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
      }
    }
    
  }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------=======READ MORE========------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.read-more{
  padding:68px 0 40px 0;
  .wrapper{
    width: 1440px;
    padding-left: 136px;
    display: flex;

    .read-more_left{
      width: 870px;

      .read-more_left_link{
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.03em;
        @include Open(400);
        color: #62402D;
        width: 100%;
        padding-right: 40px;
        background: url(../img/svg/read-more-arrow.svg) right center no-repeat;
        margin-bottom: 18px;
        display: block;
      }
      .read-more_left_text{
        font-size: 25px;
        line-height: 34px;
        letter-spacing: 0.02em;
        @include Open(300);
        color: #321A0C;
      }
    }

    .read-mode_right{
      padding-top: 62px;
      padding-left: 27px;

      .read-more_right_link{
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        @include Open(400);
        color: #62402D;
        background: url(../img/svg/read-more-inst.svg) 3px top no-repeat;
        background-size: 25px 25px;
        padding: 0 0 8px 45px;
        border-bottom: 2px solid #B86536;
        width: 400px;
        height: fit-content;
        display: block;
      }

    }

  }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========REVIEVS========------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.reviews{
  .wrapper{
    width: 1440px;
    padding-left: 136px;
    padding-bottom: 105px;
    padding-top: 25px;
    position: relative;
    overflow: hidden;

    .reviews__title{
      font-size: 40px;
      line-height: 54px;
      letter-spacing: 0.08em;
      color: #DDAE94;
      @include Open(600);
      padding-right: 100px;
      margin-bottom: 59px;
    }
    .reviews__main{
      padding-left: 90px;
      display: flex;
      z-index: 1;

      .swiper-container1{
        margin-left: auto;
        margin-right: 252px;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        width: 870px;
        padding: 0 70px 0 107px;

        .swiper-slide{
          width: 693px;
          opacity: 0 !important;

          .slide_main{
            width: 626px;
            padding:57px 0 43px 101px;
            background: rgba(255, 226, 210, 0.85);
            display: flex;

            .main_left{
              width: 257px;
              margin-right: 43px;

              .main_header{
                font-size: 27px;
                line-height: 37px;
                letter-spacing: 0.02em;
                @include Open(400);
                color: #321A0C;
                margin-bottom: 15px;
              }
              .main_text{
                font-size: 22px;
                line-height: 30px;
                letter-spacing: 0.02em;
                @include Open(300);
                color: #321A0C;
                margin-bottom: 15px;
              }
              .main_date{
                font-size: 22px;
                line-height: 30px;
                letter-spacing: 0.02em;
                @include Open(300);
                color: #B86536;
                margin-bottom: 29px;
              }
              .main_stars{
                width: 190px;
                height: 30px;

                img{
                  margin-right: 6px;
                }
                img:last-child{
                  margin-right: 0;
                }
              }
            }
            .main_right{
              margin-top: 45px;
              width: 292px;
              height: 243px;
              margin-right: -67px;
            }
          }
        }
        .swiper-slide-active{
          opacity: 1 !important;
        }

        .swiper-button-next1{
          position: absolute;
          right: 0;
          top:50%;
          transform: translateY(-50%);
        }
        .swiper-button-prev1{
          position: absolute;
          left: 0;
          top:50%;
          transform: translateY(-50%);
        }
        .swiper-button-disabled {
          opacity: .35;
          cursor: auto;
          pointer-events: none;
        }
      }
      .reviews_btn{
        background: #DDAE94;
        font-size: 40px;
        line-height: 54px;
        letter-spacing: 0.08em;
        font-family: 'Open Sans' !important;
        font-weight: 600 !important;
        color: #FFFFFF;
        padding: 64px 17px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
        writing-mode: tb-rl;
        height: fit-content;
        position: relative;
        transform: translateY(20%) scale(-1,-1);
        z-index: 2;
      }
    }

    .palm1{
      position: absolute;
      left: 0;
      top: 0;
      width: 594px;
    }
    .palm2{
      position: absolute;
      right: 0;
      top: 0;
      width: 772px;
    }
  }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========FOOTER========------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

footer{
  width: 100%;
  padding: 50px 0;
  background: #927064;

  .wrapper{
    display: flex;
    align-items: center;

    .header__logo{
      margin-right: 49px;
    }
    .header__nav{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      .nav_list{
        display: flex;
        flex-direction: row;
        align-items: center;

        .nav_item{
          margin-right: 47px;
          a{
            @include Open(400);
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
          }
        }
      }
      .nav_links{
        margin-left: auto;
        display: flex;
        align-items: center;

        a{
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: #ffffff;
          @include Open(400);
        }
        a:first-child{
          margin-right: 60px;
        }
      }
    }
  }
}



/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========MEDIA========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

@media screen and (max-width: 1440px) {
  .wrapper{
    width:80.972vw;
  }
  header{
    margin-top: 5.903vw;

    .wrapper{
      .header__logo{
        margin-right: 4.653vw;
        width: 3.472vw;
      }
      .header__nav{
        .nav_list{
          .nav_item{
            margin-right: 3.472vw;
            a{
              span{
                font-size: 1.250vw;
                line-height: 1.736vw;
              }
            }
          }
        }
        .nav_links{
          margin-left: auto;
          display: flex;
          align-items: center;

          a{
            font-size: 1.250vw;
            line-height: 1.736vw;
          }
          a:first-child{
            margin-right: 3.681vw;
            img{
              width: 2.500vw;
              height: 2.500vw;
            }
            
          }
        }
      }
    }
  }

  .intro{
    min-height: 13.889vw;
    padding: 14.028vw 0 10.069vw 0;

    .wrapper{
      .intro__header{
        font-size: 3.819vw;
        padding-left: 4.236vw;
        margin-bottom: 8.333vw;
      }

      .swiper-container{
        width: 66.806vw;
        padding: 1.736vw 4.792vw;

        .swiper-wrapper{
          .swiper-slide{
            box-shadow: 0px 0.278vw 1.389vw rgba(0, 0, 0, 0.25);

            div{
              width: 28.611vw;
              height: 33.542vw;
            }
            div:first-child{
              width: 28.642vw;
            }
          }
        }
        .swiper-button-next,.swiper-button-prev{
          img{
            width: 2.500vw;
            height: 4.167vw;
          }
        }
      }
    }
  }

  .portfolio{
    margin-top: -2.847vw;
    margin-bottom: 4.722vw;

    .wrapper{
      width: 100vw;
      padding-left: 7.361vw;

      .portfolio_left{
        padding: 0 0 2.014vw 2.014vw;
        &::after{
          width: 9.583vw;
          height: 9.722vw;
        }

        .left_img{
          width: 36.458vw;
          height: 35.208vw;
          box-shadow: 0px 0.3px 0.833vw rgba(0, 0, 0, 0.25);
        }
      }

      .portfolio_right{
        padding-left: 7.222vw;
        padding-top: 10.208vw;

        .right_text{
          font-size: 1.736vw;
          line-height: 2.361vw;
          width: 36.319vw;
        }

        .right_btn{
          font-size: 2.778vw;
          line-height: 3.750vw;
          padding: 6.042vw 1.250vw;
          box-shadow: 0px 0.278vw 1.111vw rgba(0, 0, 0, 0.16);
        }
      }
    }
  }
  .how-to-order{
    .wrapper{
      width:100vw;
      padding-left: 9.375vw;

      .how-to-order__title{
        font-size: 3.125vw;
        line-height: 4.236vw;
        margin-bottom: 0.625vw;
      }

      .how-to-order__fist-line{
        margin-bottom: 5.069vw;
        
        .first_line_left{
          width: 39.583vw;
          padding-top: 4.792vw;
          .first_line_left_img{
            width: 39.583vw;
            height: 38.889vw;
            box-shadow: 0px 0.3px 0.833vw rgba(0, 0, 0, 0.25);
          }
          
        }
        .first_line_right{
          padding-left: 5vw;

          .first_line_right_header{
            padding: 1.597vw 5.417vw;
            margin-bottom: 4.167vw;

            p{
              font-size: 1.736vw;
              line-height: 2.361vw;
            }
          }
          .first_line_right_main{
            font-size: 1.736vw;
            line-height: 2.361vw;

            p:nth-child(1){
              margin-left: 6.944vw;
              margin-bottom: 1.736vw;
              width: 20.556vw;

              &::after{
                font-size: 9.028vw;
                line-height: 12.292vw;
                top: -3.403vw;
              }
            }
            p:nth-child(2){
              margin-left: 9.167vw;
              margin-bottom: 0.764vw;
              width: 16.042vw;

              &::after{
                font-size: 9.028vw;
                line-height: 12.292vw;
                top: -2.778vw;
              }
            }
            p:nth-child(3){
              margin-left: 2.431vw;
              margin-bottom: 3.472vw;
              width: 29.514vw;

              &::after{
                font-size: 9.028vw;
                line-height: 12.292vw;
                top: -2.083vw;
              }
            }
          }
          .first_line_right_footer{
            padding:2.292vw 1.389vw 2.292vw 0.764vw;

            &::after{
              width: 57.708vw;
            }

            p{
              width: 38.333vw;
              font-size: 1.736vw;
              line-height: 2.361vw;
            }
          }

        }
      }
      .how-to-order_second-line{
        margin-bottom: 7.639vw;

        .second-line_left{
          width: 38.333vw;

          .second-line_left_text{
            font-size: 1.736vw;
            line-height: 2.361vw;

            p:first-child{
              margin-bottom: 1.597vw;
            }
            p:last-child{
              margin-bottom: 2.639vw;
              max-width: 30.972vw;
              
              a{
                font-size: 1.736vw;
                line-height: 2.361vw;
              }
            }
          }
          .second-line_left_photo{
            width: 36.042vw;
            height: 42.639vw;
          }
        }
        .second-line_right{
          width: 41.458vw;
          margin-left: 3.125vw;

          .second-line_right_photo{
            width: 39.306vw;
            height: 30.556vw;
            margin-bottom: 3.264vw;
            box-shadow: 0px 1px 0.833vw rgba(98, 64, 45, 0.1);
          }
          .second-line_right_text{
            font-size: 1.736vw;
            line-height: 2.465vw;
            margin-bottom: 3.333vw;

            p:first-child{
              width: 40.903vw;
              margin-bottom: 0.764vw;
            }
          }
          .second-line_right_btn{
            font-size: 2.778vw;
            line-height: 3.750vw;
            padding: 1.181vw 7.361vw;
            box-shadow: 0px 1px 7.361vw rgba(0, 0, 0, 0.16);
          }
        }
      }

      .how-to-order_palm{
        top: 3.125vw;
        height: 28.264vw;
        
      }
    }
  }
  .price{
    .wrapper{
      width: 100vw;
      padding-left: 9.444vw;
      margin-bottom: 5.347vw;

      .price__left{
        width: 41.667vw;

        .price_title{
          font-size: 3.125vw;
          line-height: 4.236vw;
          margin-bottom: 2.917vw;
        }
        .price_text{
          font-weight: 20.833vw;
          font-size: 1.736vw;
          line-height: 2.361vw;

          .link-with-arrow{
            padding-right: 2.778vw;
            background-size: 2.222vw 1.250vw;
          }
        }
      }
      .price__right{
        width: 34.722vw;
        height: 45.347vw;
        margin-left: 4.167vw;

        &::after{
          width: 7.222vw;
          height: 7.222vw;
        }

        &::before{
          width: 7.222vw;
          height: 7.222vw;
          
        }

        .price__right_img{
          width: 31.250vw;
          height: 41.667vw;
          box-shadow: 0px 1px 0.833vw rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  .get{
    .wrapper{
      width: 100vw;

      .get_title{
        margin-left: 9.444vw;
        font-size: 3.125vw;
        line-height: 4.236vw;
        margin-bottom: 5.208vw;
      }
      .get_form_wrap{

        .get_form{
          width: 44.028vw;
          padding: 2.361vw 5.417vw 2.639vw 5.417vw;
          box-shadow: 0px 0.278vw 0.833vw rgba(0, 0, 0, 0.1);

          input, textarea{
            font-size: 0.972vw;
            line-height: 1.319vw;
            padding-bottom: 0.417vw;
            margin-bottom: 1.389vw;
            
            &::placeholder{
              font-size: 0.972vw;
              line-height: 1.319vw;
            }
          }
          label{
            line-height: 1.319vw;
            font-size: 0.972vw;
            padding-bottom: 0.417vw;
            margin-bottom: 3.056vw;
    
            &:after{
              height: 0.139vw;
            }
          }
          .form-send{
            font-size: 2.083vw;
            line-height: 2.847vw;
            padding: 0.347vw 3.125vw;
          }
        }
      }  
    }
  }
  .read-more{
    padding:4.722vw 0 2.778vw 0;
    .wrapper{
      width: 100vw;
      padding-left: 9.444vw;

      .read-more_left{
        width: 60.417vw;

        .read-more_left_link{
          font-size: 1.736vw;
          line-height: 2.361vw;
          padding-right: 2.778vw;
          margin-bottom: 1.250vw;
          background-size: 2.222vw 1.250vw;
        }
        .read-more_left_text{
          font-size: 1.736vw;
          line-height: 2.361vw;
        }
      }

      .read-mode_right{
        padding-top: 4.306vw;
        padding-left: 1.875vw;

        .read-more_right_link{
          font-size: 1.389vw;
          line-height: 1.875vw;
          background-size: 1.736vw 1.736vw;
          padding: 0 0 0.556vw 3.125vw;
          width: 27.778vw;
        }

      }

    }
  }
  .reviews{
    .wrapper{
      width: 100vw;
      padding-left: 9.444vw;
      padding-bottom: 7.292vw;
      padding-top: 1.736vw;

      .reviews__title{
        font-size: 2.778vw;
        line-height: 3.750vw;
        padding-right: 6.944vw;
        margin-bottom: 4.097vw;
      }
      .reviews__main{
        padding-left: 6.250vw;

        .swiper-container1{
          margin-right: 17.500vw;
          width: 60.417vw;
          padding: 0 4.861vw 0 7.431vw;

          .swiper-slide{
            width: 48.125vw;

            .slide_main{
              width: 43.472vw;
              padding:3.958vw 0 2.986vw 7.014vw;

              .main_left{
                width: 17.847vw;
                margin-right: 2.986vw;

                .main_header{
                  font-size: 1.875vw;
                  line-height: 2.569vw;
                  margin-bottom: 1.042vw;
                }
                .main_text{
                  font-size: 1.528vw;
                  line-height: 2.083vw;
                  margin-bottom: 1.042vw;
                }
                .main_date{
                  font-size: 1.528vw;
                  line-height: 2.083vw;
                  margin-bottom: 2.014vw;
                }
                .main_stars{
                  width: 15.194vw;
                  height: 2.083vw;

                  img{
                    margin-right: 0.417vw;
                    width: 2.083vw;
                  }
                }
              }
              .main_right{
                margin-top: 3.125vw;
                width: 20.278vw;
                height: 16.875vw;
                margin-right: -4.653vw;
              }
            }
          }

          .swiper-button-next1,.swiper-button-prev1{
            img{
              width: 2.500vw;
              height: 4.167vw;
            }
          }
          
        }
        .reviews_btn{
          font-size: 2.778vw;
          line-height: 3.750vw;
          padding: 4.444vw 1.181vw;
          box-shadow: 0px 0.278vw 1.111vw rgba(0, 0, 0, 0.16);
        }
      }
      .palm1{
        width: 41.250vw;
      }
      .palm2{
        width: 53.611vw;
      }
    }
  }

  footer{
    padding: 3.472vw 0;

    .wrapper{

      .header__logo{
        margin-right: 3.403vw;
      }
      .header__nav{
        .nav_list{
          .nav_item{
            margin-right: 3.264vw;
            a{
              font-size: 1.250vw;
              line-height: 1.736vw;
            }
          }
        }
        .nav_links{

          a{
            font-size: 1.250vw;
            line-height: 1.736vw;
          }
          a:first-child{
            margin-right: 4.167vw;
            img{
              width: 2.500vw;
              height: 2.500vw;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 650px){
  .main_header{
    z-index: 14;
    position: absolute;

    .wrapper{
      justify-content: space-between;
      width: 90.667vw;

      .header__logo{
        display: none;
      }
      .header__logo-mobile{
        display: block !important;
      }
      .burger{
        display: block !important;
      }
      .header__nav{
        position: fixed;
        padding: 20vw 26.667vw;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.86);
        z-index: 999 ;
        flex-direction: column;
        transform: translateX(100%);
        transition: .3s;
  
        .nav_list{
          flex-direction: column;

          .nav_item{
            margin-bottom: 6.133vw;
            margin-right: 0;

            a{
              span{
                color: #FFFFFF;
                font-size: 5.333vw;
                line-height: 7.200vw; 
              }
            }
            
          }
        }
        .nav_links{
          width: fit-content;
          margin: 0 auto;


          a:first-child{
            margin-right: 0;
            img:first-child{
             display: none;
            }
            img:last-child{
              display: block !important;
              width: 6.933vw;
              height: 6.933vw;
            }
          }
          
          a:last-child{
            display: none;
          }
        }
        .burger-close{
          display: block !important;
          position: absolute;
          right: 5.067vw;
          top: 8.533vw;
        }
      }
    }

    
  }

  .desktop{
    display: none;
  }
  .mobile{
    display: block !important;
    .intro{
      padding: 0;
      min-height: unset;
      background: 0;
      background: #E7D3C6;

      .intro_swiper{
        width: 100vw;
        height: 100vw;
        margin-left: auto;
        margin-right: 67.200vw;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

        .swiper-slide{
          width: 100%;
          height: 100%;
        }
        .swiper-pagination-bullet{
          background: rgba(249, 210, 189, 0.8);
          opacity: 1;
        }
        .swiper-pagination-bullet-active{
          background: #C09B86;
        }
      }
      .intro__title{
        font-size: 9.333vw;
        line-height: 137.85%;
        @include Open(700);
        padding: 18.133vw 0 8.533vw 0;
        max-width: 95vw;
        margin: 0 auto;
        
        p{
          color: #FFFFFF;
          width: fit-content;
          background: #B59C94;
          padding: 0.533vw 3.733vw;
          display: block;
          width: fit-content;
          margin: 0 auto;
          margin-bottom: 5.067vw;
        }
      }
      .intro__subtitle{
        background: #FFF5E7;
        box-shadow: 0px 1.067vw 2.667vw rgba(0, 0, 0, 0.25);
        padding: 5.867vw 2.667vw 5.867vw 2.667vw;
        width: 84.267vw;
        height: 49.867vw;
        z-index: 1;
        position: relative;

        p{
          font-size: 4vw;
          line-height: 5.333vw;
          text-align: center;
          letter-spacing: 0.02em;
          @include Open(300);
          color: #321A0C;
        }
      }
      .intro__bottom-image{
        width: 89.333vw;
        height: 72.533vw;
        margin-top: -7.200vw;
        z-index: 0;
        position: relative;
      }
    }

    .how{
      padding-top: 14.933vw;
      position: relative;
      background: #E7D3C6;

      .how__title{
        display: block;
        width: 57.600vw;
        padding: 9.600vw 6.400vw;
        box-shadow: 0px 1.067vw 2.667vw rgba(0, 0, 0, 0.25);
        font-size: 4vw;
        line-height: 5.333vw;
        text-align: center;
        letter-spacing: 0.02em;
        @include Open(300);
        color: #1A1513;
        margin-left: 18.133vw;
        margin-top: -4.533vw;
        z-index: 4;
        position: relative;
        background: #FFF5E7;
      }

      .how__main{
        
        margin-top: -20.800vw;
        .main_block{
          height: fit-content;
          min-height: 1px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
  
          .main_text{
            width: 50.133vw;
            min-height: 77.867vw;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6.133vw;
            background: #FAF8F4;
            position: relative;
    
            p{
              font-size: 4.267vw;
              line-height: 5.867vw;
              text-align: center;
              letter-spacing: 0.01em;
              @include Open(300);
              color: #000000;
              width: 31.733vw;
              z-index: 2;
            }
    
            &::after{
              content: url(../img/svg/how-text-bg-1.svg);
              position: absolute;
              left: 0;
              bottom: 0;
              width: fit-content;
              height: 72.533vw;
            }
            &::before{
              content: "01";
              font-size: 110px;
              line-height: 150px;
              letter-spacing: 0.03em;
              @include Open(600);
              color: #FFFFFF;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translateX(-50%) translateY(-50%);
              width: fit-content;
              height: fit-content;
              z-index: 1;
            }
          }
          .main_image{
            width: 50.133vw;
            height: 100%;
          }
        }
        .main_block:nth-child(2){
          .main_text{
            p{
              width: 38.133vw;
            }
            &::after{
              content: url(../img/svg/how-text-bg-2.svg);
              right: 0;
              left: unset;
              height: 78.400vw;
            }
            &::before{
              content: "02";
            }
          }
        }
        .main_block:nth-child(3){
          .main_text{
            p{
              width: 31.200vw;
            }
            &::after{
              content: url(../img/svg/how-text-bg-3.svg);
              height: 78.400vw;
            }
            &::before{
              content: "03";
            }
          }
        }
        .main_intro{
          width: 100%;
          background: #FFFFFF;
          padding: 6.667vw 12vw;
          position: relative;

          &::after{
            content: "";
            background: #000000;
            width: 100%;
            height: 6.667vw;
            position: absolute;
            top: 0;
            left: 0;
          }
          &::before{
            content: "";
            background: #000000;
            width: 100%;
            height: 6.667vw;
            position: absolute;
            bottom: 0;
            left: 0;
          }

          display: flex;
          justify-content: space-between;

          .intro_col1,.intro_col3{
            width: 23.733vw;
            margin-top: 24.267vw;
            margin-bottom: 29.333vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .intro_col2{
            width: 26.667vw;
            height: 91.733vw;
            margin-top: 4.533vw;
            margin-bottom: 6.667vw;
          }
          .intro_col3{
            text-align: right;
          }
          p{
            font-size: 4.267vw;
            line-height: 5.867vw;
            @include Open(300);
            color: #000000;
          }

        }
      }
      
      .how_guide{
        position: relative;
        z-index: 2;
        padding-bottom: 7.733vw;

        .guide_text{
          font-size: 4.267vw;
          line-height: 5.867vw;
          text-align: center;
          letter-spacing: 0.01em;
          @include Open(300);
          color: #321A0C;
          background: #FFF5E7;
          box-shadow: 0px 1.067vw 2.667vw rgba(0, 0, 0, 0.25);
          
          a{
            @include Open(400);
            color:#927064;
          }
        }
        .guide_text1{
          margin-top: -4.267vw;
          padding: 6.400vw 4.533vw;
          width: 70.400vw;
          margin-left: 4.533vw;
          position: relative;
          z-index: 1;
        }
        .guide_image1{
          width: 53.867vw;
          height: 57.867vw;
          margin-top: -3.467vw;
        }
        .guide_image2{
          width: 56.533vw;
          height: 51.200vw;
          margin-top: -37.333vw;
          position: relative;
          left: calc(100% - 56.533vw);
        }
        .guide_text2{
          padding: 7.200vw 4.533vw;
          width: 74.933vw;
          margin-left: auto;
          margin-right: 1.333vw;
          margin-top: -6.667vw;
          position: relative;
          z-index: 2;
          margin-bottom: 9.600vw;
        }
        .gude_split_img1{
          margin: 0 auto;
          display: block;
          margin-bottom: 6.667vw;
          width: 18.667vw;
          height: 8.267vw;
        }
        .guide_text3{
          background: 0;
          box-shadow: none;
          width: 72.800vw;
          margin:0 12.267vw 6.933vw 14.933vw;
        }
        .guide_text4{
          padding: 7.733vw 3.733vw;
          width: 62.400vw;
          margin: 0 auto 8.800vw 2.933vw;
        }
        .gude_split_img2{
          margin: 0 auto;
          display: block;
          width:9.333vw;
          height: 9.333vw;
        }

      }

      &:after{
        position: absolute;
        content: "";
        width: 100%;
        height: 14.933vw;
        background: #000; 
        left: 0;
        top: 0; 
        z-index: 0;
      }
    }
  }

  .get{
    position: relative;
    .wrapper{
      width:90.667vw;
      padding-top: 4.533vw;
      position: unset;
      margin-bottom: 23px;

      .get_title{
        text-align: left;
        margin-left: 2.667vw;
        font-size: 6.667vw;
        line-height: 9.067vw;
      }
      .get_form_wrap{
        width: 100%;
        position: unset;

        .get_form{
          width: 100%;
          z-index: 1;
          padding: 8vw 8.267vw 12.533vw 8.267vw;
          box-shadow: none;

          input, textarea{
            font-size: 3.200vw;
            line-height: 4.267vw;
            padding-bottom: 1.333vw;
            margin-bottom: 8vw;
            
            &::placeholder{
              font-size: 3.000vw;
              line-height: 4.267vw;
            }
          }
          label{
            font-size: 3.000vw;
            line-height: 4.267vw;
            padding-bottom: 1.333vw;
            margin-bottom: 7.200vw;
    
            &:after{
              height: 0.533vw;
            }
          }
          .form-send{
            font-size: 6.667vw;
            line-height: 9.067vw;
            padding: 1.600vw 10.933vw;
          }
        }
      }
    }

    .get_bg{
      display: none;
    }
    .get_bg-mobile{
      display: block !important;
      position: absolute;
      top: 32.533vw;
      height: 101.600vw;
      left: 0;
    }
  }

  .read-more{
    width: 100%;
    padding: 0;

    .wrapper{
      width: 90.667vw;
      padding: 0;

      .read-more_left{
        width: 100%;

        .read-more_left_link{
          font-size: 4.267vw;
          line-height: 5.867vw;
          background: 0;

          span{
            background: url(../img/svg/read-more-arrow.svg) center no-repeat;
            background-size: 5.333vw 3.333vw;
            padding: 1.333vw 4vw;
            margin-left: 1.333vw;
          }
        }
        .read-more_left_text{
          display: none;
        }
      }

      .read-mode_right{
        display: none;
      }
    }
  }

  .reviews{
    position: relative;
    &::after{
      position: absolute;
      content: "";
      background: url(../img/svg/rewievs-mobile-bg.svg) center no-repeat;
      width: 100%;
      height: 100%;
      background-size: cover;
      top: -18.667vw;
      left: 0;
    }

    .wrapper{
      width: 90.667vw;
      padding: 0;

      .reviews__title{
        font-size: 6.667vw;
        line-height: 9.067vw;
        padding-left: 0;
      }

      .reviews__main{
        padding: 0;
        flex-direction: column;

        .swiper-container1{
          width: 100%;
          padding: 0 6.133vw;
          margin-right: 0;

          .swiper-wrapper{
            .swiper-slide{

              .slide_main{
                width: 100%;
                padding: 6.400vw;
                background: #E5C4B1;

                .main_right{
                  display: none;
                }
                .main_left{
                  width: 100%;
                  margin-right: 0;

                  .main_header{
                    width: 100%;
                    text-align: center;
                    font-size: 4.267vw;
                    line-height: 5.867vw;
                    margin-bottom: 10px;
                    color: #FFFFFF;
                    position: relative;
                  }
                  .main_text{
                    font-size: 3.733vw;
                    line-height: 5.067vw;
                    color: #FFFFFF;
                    text-align: center;
                    margin-bottom: 1.600vw;
                  }
                }
                .main_date{
                  font-size: 4.267vw;
                  line-height: 5.867vw;
                  color: #FFFFFF;
                  display: inline-block;
                  float: right;
                  margin-bottom: 0;
                }
                .main_stars{
                  width: 24.194vw;
                  span{
                    img:first-child{
                      display: none;
                    }
                    img:last-child{
                      display: inline !important;
                      height:4.267vw;
                      width: 4.267vw;
                    }
                  }
                }
              }
            }
          }

          .swiper-button-next1 img,.swiper-button-prev1 img{
            height:6.133vw;
            width: 4.167vw;
          }
        }

        .reviews_btn{
          padding: 1.600vw 6.400vw;
          writing-mode: unset;
          transform: unset;
          width: fit-content;
          margin: 0 auto;
          margin-top: 8vw;
          margin-bottom: 19.733vw;
          font-size: 6.667vw;
          line-height: 9.067vw;
        }
      }

      .palm1,.palm2{
        display: none;
      }
    }
  }

  footer{

    .wrapper{
      width: 100%;
      padding: 4.800vw 4.533vw 9.067vw 4.800vw;
      flex-direction: column;

      .header__logo{
        display: none;
      }
      .footer_logo-mobile{
        display: block !important;
        width: 10.667vw;
        height: 10.667vw;
        margin-bottom: 5.600vw;
      }

      .header__nav{
        .nav_list{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          row-gap: 6.667vw;
          column-gap: 5.600vw;
          width: 100%;

          .nav_item{
            margin-right: 0;

            a {
              font-size: 4.267vw;
              line-height: 5.867vw;
            }
          }
          .nav_item:nth-child(2),.nav_item:nth-child(6){
            text-align: center;
          }
          .nav_item:nth-child(5),.nav_item:nth-child(4){
            text-align: right;
          }
          .nav_item:nth-child(5){
            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 1;
          }
          .nav_item:nth-child(3){
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 2;
          }
          .nav_item:nth-child(4){
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 2;
          }
        }

        .nav_links{
          display: none;
        }
      }
    }
  }
}
