/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----========CSS RESET========------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
:focus {
   outline: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}

body {
 line-height: 1;
}

ol, ul {
 list-style: none;
}

blockquote, q {
 quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
   -webkit-appearance: none;
   -moz-appearance: none;
}

input[type=search] {
   -webkit-appearance: none;
   -moz-appearance: none;
   box-sizing: content-box;
}

textarea {
   overflow: auto;
   vertical-align: top;
   resize: vertical;
}
audio,
canvas,
video {
   display: inline-block;
   *display: inline;
   *zoom: 1;
   max-width: 100%;
}
audio:not([controls]) {
   display: none;
   height: 0;
}
[hidden] {
   display: none;
}
html {
   font-size: 100%; /* 1 */
   -webkit-text-size-adjust: 100%; /* 2 */
   -ms-text-size-adjust: 100%; /* 2 */
}
a:focus {
   outline: thin dotted;
}
a:active,
a:hover {
   outline: 0;
}
img {
   border: 0; /* 1 */
   -ms-interpolation-mode: bicubic; /* 2 */
}
figure {
   margin: 0;
}
form {
   margin: 0;
}
fieldset {
   border: 1px solid #c0c0c0;
   margin: 0 2px;
   padding: 0.35em 0.625em 0.75em;
}
legend {
   border: 0; /* 1 */
   padding: 0;
   white-space: normal; /* 2 */
   *margin-left: -7px; /* 3 */
}
button,
input,
select,
textarea {
   font-size: 100%; /* 1 */
   margin: 0; /* 2 */
   vertical-align: baseline; /* 3 */
   *vertical-align: middle; /* 3 */
}
button,
input {
   line-height: normal;
}
button,
select {
   text-transform: none;
}


button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
   -webkit-appearance: button; /* 2 */
   cursor: pointer; /* 3 */
   *overflow: visible;  /* 4 */
}
button[disabled],
html input[disabled] {
   cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
   box-sizing: border-box; /* 1 */
   padding: 0; /* 2 */
   *height: 13px; /* 3 */
   *width: 13px; /* 3 */
}
input[type="search"] {
   -webkit-appearance: textfield; /* 1 */ /* 2 */
   box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}
textarea {
   overflow: auto; /* 1 */
   vertical-align: top; /* 2 */
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

html,
button,
input,
select,
textarea {
   color: #222;
}


::-moz-selection {
   background: #b3d4fc;
   text-shadow: none;
}

::selection {
   background: #b3d4fc;
   text-shadow: none;
}

img {
   vertical-align: middle;
}

fieldset {
   border: 0;
   margin: 0;
   padding: 0;
}

textarea {
   resize: vertical;
}

.chromeframe {
   margin: 0.2em 0;
   background: #ccc;
   color: #000;
   padding: 0.2em 0;
}
a{
   text-decoration: none;
   color: black;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========FONTS========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* montserrat-300 - latin_cyrillic */
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 300;
   src: url('../fonts/montserrat-v15-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/montserrat-v15-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/montserrat-v15-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/montserrat-v15-latin_cyrillic-300.svg#Montserrat') format('svg'); /* Legacy iOS */
 }
 /* montserrat-regular - latin_cyrillic */
 @font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/montserrat-v15-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
 }
 /* montserrat-500 - latin_cyrillic */
 @font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   src: url('../fonts/montserrat-v15-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/montserrat-v15-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/montserrat-v15-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/montserrat-v15-latin_cyrillic-500.svg#Montserrat') format('svg'); /* Legacy iOS */
 }
 /* montserrat-600 - latin_cyrillic */
 @font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   src: url('../fonts/montserrat-v15-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/montserrat-v15-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/montserrat-v15-latin_cyrillic-600.svg#Montserrat') format('svg'); /* Legacy iOS */
 }
 /* montserrat-700 - latin_cyrillic */
 @font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   src: url('../fonts/montserrat-v15-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
 }
 /* montserrat-800 - latin_cyrillic */
 @font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 800;
   src: url('../fonts/montserrat-v15-latin_cyrillic-800.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/montserrat-v15-latin_cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/montserrat-v15-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-800.woff') format('woff'), /* Modern Browsers */
        url('../fonts/montserrat-v15-latin_cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/montserrat-v15-latin_cyrillic-800.svg#Montserrat') format('svg'); /* Legacy iOS */
 }
 /* roboto-300 - latin_cyrillic */
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   src: url('../fonts/roboto-v20-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/roboto-v20-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto-v20-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto-v20-latin_cyrillic-300.svg#Roboto') format('svg'); /* Legacy iOS */
 }
 /* roboto-regular - latin_cyrillic */
 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
 }
 /* roboto-500 - latin_cyrillic */
 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   src: url('../fonts/roboto-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
 }
 /* roboto-700 - latin_cyrillic */
 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
 }
 /* roboto-900 - latin_cyrillic */
 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 900;
   src: url('../fonts/roboto-v20-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
        url('../fonts/roboto-v20-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
 }

@font-face {
   font-family: "Bernier";
   src: url("../fonts/bernier.otf") format("opentype");
}
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------======GLOBAL STYLES======----- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
h2{
   font-family: "Bernier" !important;
   font-weight: normal;
}
.ibg{

   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   }
   
.ibg img{
   width: 0;
   height: 0;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
}
*{
    font-family: "Montserrat" !important;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
a:focus, a:visited{
   outline: none;
}
.wrapper{
   max-width: 1290px;
   margin: 0 auto;
}

.active-x{
   transform: translateX(0) !important;
}
.block_title{
   font-family: "Bernier" !important;
   font-size: 80px;
   line-height: 96px;
   color: #000;
}
.green{
   color: #37D9A4 !important;
   font-family: "Bernier" !important;
}
.red{
   color: #FF003D !important;
   font-family: "Bernier" !important;
}
.input{
   display: block;
   font-weight: 500;
   font-size: 25px;
   line-height: 30px;
   color: #FFFFFF;
   border: 1px solid #EEEEEE;
   border-radius: 10px;
   padding: 10px 40px;
   background: 0;
   max-width: 410px;
}
.input::placeholder{
   font-weight: 500;
   font-size: 25px;
   line-height: 30px;
   color: #FFFFFF;
}
.btn{
   display: block;
   border:0;
   border-radius: 30px;
   color: #FFFFFF;
   background: #FF003D;
   font-size: 30px;
   line-height: 37px;
   padding: 11px 66px;
}
.green-bg{
   background: #37D9A4 !important; 
   color: #FFFFFF !important;
}
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========HEADER=======-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
header{
   width: 100%;
   background: #fff;
}
header .wrapper{
   display: flex;
   overflow: visible;
}
.header__logo{
   margin: 12px 0 15px 0;
}
.header__nav{
   margin-left: 156px;
   position: relative;
   display: flex;
   align-items: center;
}
.header__nav_item{
   font-size: 18px;
   line-height: 22px;
   padding: 25px 22px 23px 23px;
   cursor: pointer;
   position: relative;
}
.header__nav_item a{
   transition-duration: .3s;
}

.header__nav_item:hover a{
   color: #FF003D;
}

/* Has children */

.header__nav_item-has-children{
   position: relative;
   background: url(../img/svg/header-arrow-down.svg) 94% 54%;
   background-repeat: no-repeat;
}
.header__nav_item-has-children:hover .header__nav_item_submenu{
   display: block;
}
.header__nav_item_submenu{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 230px;
   transition: .3s;
   display: none;
}
.header__nav_item_submenu-item{
   padding: 9px 13px;
   font-size: 15px;
   line-height: 18px;
   transition: .3s;
}
.header__nav_item_submenu .header__nav_item_submenu-item a{
   color: #000;
}
.header__nav_item_submenu-item:hover{
   background: #FF003D;
   opacity: 0.8;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}
.header__nav_item_submenu-item:hover a{
   color: #fff;
}




.header__contacts{
   margin-left: auto;
   padding: 18px 0 22px 0;
   display: flex;
   align-items: center;
}
.header__contacts_contact{
   margin-right: 15px;
   display: block;
}
.header__contacts_social,.header__contacts_nonsocial{
   display: flex;
   height: fit-content;
}
.header__contacts_contact:last-child{
   margin-right: 0;
}
.header__contacts_nonsocial{
   margin-left: 50px;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------========INTRO=======-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------========MENU========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.menu{
   padding-top: 150px;
   padding-bottom: 200px;
}
.menu__fliter-blk{
   margin-top: 40px;
   margin-bottom: 48px;
   display: flex;
   justify-content: space-between;
}
.menu__nav{
   display: flex;
   flex-direction: row;
}
.menu__nav_item{
   margin-right: 40px;
}
.menu__nav_item a{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
.menu__nav_item_thumb{
   width: 50px;
   height: 50px;
   margin-bottom: 5px;
}
.menu__nav_item_text{
   font-family: "Roboto" !important;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #000000;
}
.menu__dish-list_item{
   max-width: 630px;
   border-radius: 30px;
   position: relative;
}
.menu__dish-list_item_img{
   width: 100%;
   height: 400px;
   border-radius: 30px 30px 0px 0px;
}
.menu__dish-list_item_desc{
   padding: 15px 132px 42px 132px;
}
.menu__dish-list_item_desc_title{
   text-align: center;
   font-weight: 600;
   font-size: 30px;
   line-height: 37px;
   color: #000000;
}
.menu__dish-list_item_desc_subtitle{
   font-size: 20px;
   line-height: 24px;
   color: #878787;
   text-align: center;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
   width: fit-content;
   left: unset;
   right: 15px;
   bottom: 15px;
}
.swiper-pagination-bullet {
   width: 20px;
   height: 20px;
   border: 1px solid white;
}
.swiper-pagination-bullet-active {
   border: 0;
   background: #37D9A4;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
   margin: 0;
   margin-left: 15px;
}

.menu__dish-list{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 30px;
   row-gap: 70px;
}

.menu__dish-list_item_price{
   background: #FF003D;
   border-radius: 0px 0px 30px 30px;
   text-align: center;
   padding: 6px 20px;
}
.menu__dish-list_item_price p{
   font-size: 40px;
   line-height: 49px;
   color: #FFFFFF;
   font-weight: 700;
   position: relative;
   width: fit-content;
   display: block;
   margin: 0 auto;
}
.menu__dish-list_item_price_sale {
   position: absolute;
   right: 117%;
   bottom: 50%;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: #FFFFFF;
   transform: translateY(50%);
}
.menu__dish-list_item_price_sale:after {
   content: "";
   display: block;
   position: absolute;
   left: -7px;
   top: 50%;
   color: white;
   width: 127%;
   height: 0;
   border-bottom: 1px solid white;
   transform: rotate(-14deg);
}
.menu__dish-list_item_corner-img{
   position: absolute;
   right: 0;
   top: 0;
   z-index: 2;
   transform: translateX(30%) translateY(-30%);
}


.menu__popup{
   position: fixed;
   width: 100%;
   height: 100%;
   left:0;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 2;
   background: rgba(0, 0, 0, 0.4);
   display: none;
}
.menu__popup-active{
   display: flex;
}
.menu__popup_popup_blk{
   min-width: 760px;
   padding: 40px 77px 52px 61px;
   background: #FFFFFF;
   border-radius: 20px;
}
.menu__popup_popup_blk_title {
   max-width: 504px;
   font-weight: 500;
   font-size: 35px;
   line-height: 41px;
   text-align: center;
   color: #000000;
   display: block;
   margin: 0 auto;
   margin-bottom: 20px;
}
.menu__popup_popup_blk_main{
   width: 100%;
   margin-bottom: 70px;
}
.menu__popup_popup_blk_main_blk{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin-bottom: 7px;
}
.menu__popup_popup_blk_main_number{
   color: #FF003D;
   font-weight: 500;
   font-size: 35px;
   line-height: 41px;
}
.menu__popup_popup_blk_main_text{
   margin: 0 15px;
   font-size: 20px;
   line-height: 23px;
   text-align: center;
   color: #000000;
}
.menu__popup_popup_blk_main_text + .menu__popup_popup_blk_main_thumbs{
   margin-left: auto;
   margin-right: 13px;
}
.menu__popup_popup_blk_main_thumbs{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.menu__popup_popup_blk_main_thumbs_thumb{
   max-width: 50px;
   max-height: 50px;
   margin-bottom: 5px;
}
.menu__popup_popup_blk_main_thumbs_decription{
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #000000;
   min-width: 46px;
}

.popup_btn{
   padding: 11px 66px;
   font-weight: normal;
   font-size: 30px;
   line-height: 37px;
   color: #FFFFFF;
   margin: 0 auto;
}


.menu__dish-list_item__popup{
   position: fixed;
   width: 100%;
   height: 100%;
   left:0;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   z-index: 2;
   background: rgba(0, 0, 0, 0.4);
   overflow-y: scroll;
   visibility: hidden;
   opacity: 0;
   transition: .3s;
}
.menu__dish-list_item__popup-active{
   opacity: 1;
   visibility: visible;
}
.menu__dish-list_item__popup_popup_blk{
   max-width: 952px;
   background: #FFFFFF;
   border-radius: 20px;
   margin: 40px 0;
}
.menu__dish-list_item__popup_popup_blk_title {
   max-width: 504px;
   font-weight: 500;
   font-size: 35px;
   line-height: 41px;
   text-align: center;
   color: #000000;
   display: block;
   margin: 0 auto;
   margin-bottom: 20px;
}
.menu__dish-list_item__popup_popup_blk_main{
   width: 100%;
   margin-bottom: 70px;
}

.menu__dish-list_item__popup_img{
   width: 100%;
   height: 526px;
   border-radius: 20px 20px 0px 0px;
}

.menu__dish-list_item__popup_img .swiper-pagination-bullet-active {
   border: 0;
   background: #FF9B4B;
}
.menu__dish-list_item__popup_popup_blk_header{
   padding: 25px 156px 25px 70px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu__dish-list_item__popup_popup_blk_header_title{
   font-weight: 500;
   font-size: 50px;
   line-height: 59px;
   text-align: center;
   color: #000000;
   font-family: "Roboto" !important;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 20px;
   padding: 0 156px 7px 70px;
}
.menu__popup_title{
   font-weight: 500;
   font-size: 25px;
   line-height: 29px;
   color: #000000;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_left_header,.menu__dish-list_item__popup_popup_blk_main_ingredients_left_header,.menu__dish-list_item__popup_popup_blk_main_ingredients_summary_left_title{
   margin-bottom: 20px;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_left_list{
   padding: 0 6px;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_left_listitem{
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 300px;
   margin-bottom: 25px;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_left_listitem_name{
   font-family: "Roboto" !important;
   font-style: normal;
   font-weight: normal;
   font-size: 25px;
   line-height: 29px;
   color: #000000;
   max-width: 145px;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_left_listitem_counter{
   min-width: 84px;
   max-width: 150px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_left_listitem_counter_counter{
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: #FF003D;
   margin: 0 10px;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_left_supplements{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 33px;
   row-gap: 16px;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_left_supplements_supplement{
   display: flex;
   flex-direction: column;
   max-width: 100%;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_left_supplements_supplement_title{
   font-family: "Roboto";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;
   color: #000000;
   padding-left: 24px;
   margin-bottom: 4px;
   background: url(../img/svg/supplement_plus.svg) left center no-repeat;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_comment{
   width: 100%;
   padding: 0 156px 0px 70px;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_comment_title{
   margin-bottom: 15px;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_comment_textarea{
   font-weight: 500;
   font-size: 25px;
   line-height: 30px;
   color: #EEEEEE;
   background: 0;
   border: 1px solid #EEEEEE;
   box-sizing: border-box;
   border-radius: 10px;
   padding: 20px 40px;
   width: 100%;
   height: 140px;
   margin-bottom: 60px;
   resize: none;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_comment_textarea::placeholder{
   font-weight: 500;
   font-size: 25px;
   line-height: 30px;
   color: #EEEEEE;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_summary{
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 0 156px 0px 70px;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_summary_left,.menu__dish-list_item__popup_popup_blk_main_ingredients_summary_right{
   width: 350px;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_comment_title_promo{
   width: 100%;
   font-style: normal;
   font-weight: normal;
   font-size: 25px;
   line-height: 30px;
   color: #000000;
   margin-bottom: 10px;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_summary_left_promodesc{
   text-align: right;
   padding-right: 50px;
   font-family: "Roboto";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;
   color: #37D9A4;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_summary_right{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_summary_right_summary,.menu__dish-list_item__popup_popup_blk_main_ingredients_summary_right_summ,.menu__dish-list_item__popup_popup_blk_main_ingredients_summary_right_discount{
   min-width: 208px;
   max-width: 250px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
}
.menu__dish-list_item__popup_popup_blk_main_ingredients_summary_right_summary{
   margin-bottom: 15px;
}
.summary_text{
   font-family: "Roboto" !important;
   font-style: normal;
   font-weight: bold;
   font-size: 25px;
   line-height: 29px;
   color: #37D9A4;
}
.summary_num{
   font-weight: bold;
   font-size: 40px;
   line-height: 49px;
   color: #37D9A4;
   margin-left: 39px;
}
.summ_text,.discount_text{
   font-family: "Roboto" !important;
   max-width: 90px;
   font-weight: 500;
   font-size: 25px;
   line-height: 29px;
   color: #AFAFAF;
}
.summ_num,.discount_num{
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 30px;
   color: #AFAFAF;
   margin: 0 21px;
}
.menu__popup_btn{
   margin: 0 auto;
   margin-bottom: 20px;
}
.page2_table_header{
   margin-bottom: 20px;
   font-family: "Roboto" !important;
}
.page2_table_image{
   width: 100%;
   height: auto;
   margin-bottom: 68px;
}
.page2_add{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 100px;
}
.page2_add_left{
   max-width: 358px;
   font-family: "Roboto" !important;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 23px;
   color: #000000;
}
.page2_add_right{
   max-width: 335px;
}
.page2_btn{
   padding: 8px 24px;
   font-size: 20px;
   line-height: 24px;
   color: #FFFFFF;
}
.menu__dish-list_item__popup_popup_blk_main_page2{
   padding: 0px 139px 0 70px;
}
/* .menu__dish-list_item__popup_popup_blk_header_prev-btn{
   display: none;
} */





/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------========SALES========------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.sales{
   background: url(../img/sales.png) no-repeat;
   min-height: 650px;
   width: 100%;
   padding: 69px 162px 75px 0;
   background-size: cover;
}
.sales .wrapper{
   display: flex;
   justify-content: flex-end;
}
.sales__right{
   max-width: 578px;
}
.sales__title{
   color: #FFFFFF;
   margin-bottom: 19px;
   font-size: 76px;
}
.sales__subtitle{
   font-weight: 500;
   font-size: 25px;
   line-height: 30px;
   color: #FFFFFF;
   margin-bottom: 44px;
   max-width: 479px;
}
.sales_input{
   margin-bottom: 19px;
}
.sales input[type="tel"]{
   margin-bottom: 40px;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------=======RATIONS=======------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
.rations{
   padding: 200px 0 198px 0;
}

.rations__header{
   margin-bottom: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.rations__swiper-btns{
   display: flex;
   justify-content: space-between;
   width: 100px;
}
.rations_card{
   width: 300px;
   margin-right: 30px;
}
.rations_card_img{
   width: 100%;
   height: 204px;
   border-radius: 30px 30px 0px 0px;
}
.rations_card_bigdesc{
   padding: 40px 23px 68px 23px;
}
.rations_card_bigdesc p{
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
}
.rations_card_price{
   background: #FF003D;
   border-radius: 0px 0px 30px 30px;
   color: #FFFFFF;
   text-align: center;
   padding: 10px 20px 12px 20px;
   font-size: 30px;
   line-height: 37px;
   cursor: pointer;
}
.rations__swiper{
   display: flex;
}
.swiper-container1{
   margin-left: auto;
   margin-right: auto;
   position: relative;
   overflow: hidden;
   list-style: none;
   padding: 0;
   z-index: 1;
   width: 960px;
}
.swiper-container1 .swiper-slide{
   width: fit-content;
}
.rations_card_desc_inputbox input{
   display: none;
}
.rations_card_desc_inputbox label{
   display: block;
   font-size: 25px;
   line-height: 30px;
   padding: 7px 20px 9px 20px;
   text-align: center;
   min-width: 177px;
   width: fit-content;
   border: 2px solid #C4C4C4;
   color: #C4C4C4;
   border-radius: 50px;
   margin: 0 auto;
}
.rations_card_desc_inputbox input:checked + label{
   color: #FF003D;
   border: 2px solid #FF003D;
}
.rations_card_desc_inputbox label{
   margin-bottom: 6px;
}
.rations_card_desc_inputbox label:last-of-type{
   margin-bottom: 10px;
}
.rations_card_desc_title{
   font-weight: 500;
   font-size: 30px;
   line-height: 37px;
   text-align: center;
   color: #000000;
   margin-bottom: 5px;
}
.rations_card_desc_subtitle{
   font-size: 16px;
   line-height: 20px;
   text-align: center;
   color: #878787;
}
.rations_card_desc{
   padding: 25px 25px 15px 25px;
}
.swiper-slide:last-child .rations_card{
   margin-right: 0;
}

.ration_oneday__popup{
   position: fixed;
   width: 100%;
   height: 100%;
   left:0;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   z-index: 2;
   background: rgba(0, 0, 0, 0.4);
   overflow-y: scroll;
   visibility: hidden;
   opacity: 0;
   transition: .3s;
}
.ration_oneday__popup-active{
   visibility: visible;
   opacity: 1;
}
.ration_oneday__popup_popup_blk{
   max-width: 952px;
   background: #FFFFFF;
   border-radius: 20px;
   margin: 40px 0;
}
.oneday__popup_header{
   padding: 25px 156px 25px 70px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.oneday__popup_header_title{
   font-weight: 500;
   font-size: 50px;
   line-height: 59px;
   text-align: center;
   color: #000000;
   font-family: "Roboto" !important;
}
.ration_oneday__popup_popup_blk_main{
   width: 100%;
   margin-bottom: 70px;
}
.ration_oneday__popup_listitem{
   max-width: 203px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 177px;
}
.oneday__popup_listitem_name{
   font-family: "Roboto" !important;
   font-style: normal;
   font-weight: normal;
   font-size: 25px;
   line-height: 29px;
   max-width: 90px;
   margin-right: 20px;
   color: #000000; 
}
.oneday__popup_listitem_value{
   font-family: "Roboto" !important;
   font-style: normal;
   font-weight: normal;
   font-size: 25px;
   line-height: 29px;
   color: #FF003D;
   max-width: 90px;
   margin-left: 20px;
}
.oneday__popup_main_ingredients{
   padding: 0 156px 7px 70px;
}
.popup_main_ingredients_header{
   font-family: "Roboto" !important;
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 29px;
   color: #000000;
   margin-bottom: 20px;
}
.popup_main_ingredients_comment{
   width: 100%;
   padding: 0 156px 0px 70px;
}
.popup_main_ingredients_comment_title{
   font-family: "Roboto";
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 29px;
   text-align: left;
   margin-bottom: 15px;
   color: #000000;
}
.popup_main_ingredients_comment_textarea{
   font-weight: 500;
   font-size: 25px;
   line-height: 30px;
   color: #EEEEEE;
   background: 0;
   border: 1px solid #EEEEEE;
   box-sizing: border-box;
   border-radius: 10px;
   padding: 20px 40px;
   width: 100%;
   height: 140px;
   margin-bottom: 60px;
   resize: none;
}
.popup_main_ingredients_comment_textarea::placeholder{
   font-weight: 500;
   font-size: 25px;
   line-height: 30px;
   color: #EEEEEE;
}
.popup_main_summary{
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 0 156px 100px 70px;
}
.popup_main_summary_left,.popup_main_summary_right{
   width: 350px;
}
.popup_main_summary_left_title{
   font-family: "Roboto" !important;
   font-style: normal;
   font-weight: 500;
   font-size: 25px;
   line-height: 29px;
   color: #000000;
}
.popup_main_summary_left_promo{
   width: 100%;
   font-style: normal;
   font-weight: normal;
   font-size: 25px;
   line-height: 30px;
   color: #000000;
   margin-bottom: 10px;
}
.popup_main_summary_left_promodesc{
   text-align: right;
   padding-right: 50px;
   font-family: "Roboto";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;
   color: #37D9A4;
}
.popup_main_summary_right_summary,.popup_main_summary_right_summ,.popup_main_summary_right_discount{
   min-width: 208px;
   max-width: 250px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
}
.popup_btn{
   margin: 0 auto;
   margin-bottom: 20px;
}


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------=======CALCULATOR=======------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.calculator{
   min-height: 1000px;
   width: 100%;
   padding: 80px 0 180px 0 ;
   background: url(../img/calculator-bg.png) center no-repeat;
   background-size: cover;
}
.calc_main{
   max-width: 948px;
   display: flex;
   flex-direction: column;
}
.calc_title{
   margin-bottom: 35px;
   color: #FFFFFF;
}
.calc_subtitle{
   max-width: 687px;
   font-weight: 500;
   font-size: 30px;
   line-height: 37px;
   color: #FFFFFF;
   margin-bottom: 80px;
}
.swiper-container2{
   margin-left: auto;
   margin-right: auto;
   position: relative;
   overflow: hidden;
   list-style: none;
   padding: 0;
   z-index: 1;
   width: 960px;
}
.swiper-container2 .swiper-wrapper .swiper-slide{
   opacity: 0 !important;
}
.swiper-container2 .swiper-wrapper .swiper-slide-active{
   opacity: 1 !important;
}
.calc_stage_header{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 50px;
}
.stahe_header_title{
   font-size: 35px;
   line-height: 43px;
   color: #FFFFFF;
   margin-left: 15px;
}
.stage_header_thumb{
   width: 45px;
   height: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 100%;
   font-weight: 800;
   font-size: 30px;
   line-height: 37px;
   text-align: center;
   color: #FFFFFF;
   background: #37D9A4;
}
.header_status{
   margin-left: auto;
   font-weight: 500;
   font-size: 30px;
   line-height: 37px;
   color: #C4C4C4;
}
.calc_stage_main{
   min-height: 395px;
   padding-bottom: 60px;
}
.calc_stage_main input[type="number"]::-webkit-outer-spin-button,
.calc_stage_main input[type="number"]::-webkit-inner-spin-button{
   -webkit-appearance: none;
}
.calc_stage_main input[type="number"]{
   -moz-appearance: textfield;
}
.sales_input::placeholder{
   font-size: 25px;
   line-height: 30px;
   color: rgba(255, 255, 255, 0.5);
}
.calc_stage_nav{
   margin-top: auto;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.swiper-button-next3{
   font-size: 30px;
   line-height: 37px;
   color: #FFFFFF;
   background: #FF003D;
   border-radius: 30px;
   padding: 11px 62px;
}
.swiper-button-prev3{
   font-weight: 500;
   font-size: 30px;
   line-height: 37px;
   color: #C4C4C4;
   padding-left: 40px;
   background: url(../img/svg/cacl-back.svg) left center no-repeat;
   height: fit-content;
   
}

.swiper-button-next3{
   position: relative;
   cursor: pointer;
}
.swiper-button-next3::after{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
#woomen, #man{
   /* display: none; */
}
.woomen,.man{
   display: block;
   margin-bottom: 20px;
   padding-left: 42px;
   position: relative;
}
.woomen:after,.man:after{
   position: absolute;
   content: "";
   left: 0;
   top: 50%;
   width: 30px;
   height: 30px;
   transform: translateY(-50%);
   background: url(../img/svg/sex_unchecked.svg);
}
#woomen:checked + .woomen:after,
#man:checked + .man:after{
   background: url(../img/svg/sex_checked.svg)
}




/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------=======WHY WE=======-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.why-we{
   padding: 200px 0 60px 0;
   margin-bottom: 39px;
   position: relative;
}
.why-we__img{
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: -1;
   height: 366px;
   width: auto;
}
.why-we__title{
   margin-bottom: 100px;
}
.why-we__items{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   column-gap: 30px;
   margin-bottom: 50px;
}
.why-we__items_item{
   width: 100%;
   text-align: center;
}
.why-we__items_item_image {
   width: 300px;
   height: 300px;
   margin-bottom: 15px;
}
.why-we__items_item_subtitle{
   display: block;
   max-width: 252px;
   margin: 0 auto;
}
.why-we__btn{
   padding: 10px 20px 11px 20px;
   min-width: 300px;
   width: fit-content;
   text-align: center;
   margin: 0 auto;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------=====HOW WE WORKING=====------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.how-we-working{
   padding: 0 0 216px 0;
}
.how-we-working__title{
   margin-bottom: 100px;
}
.how-we-working__blocks{
   max-width: 1188px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   column-gap: 168px;
}
.how-we-working_item{
   max-width: 150px;  
}
.how-we-working_item_image{
   width: 150px;
   height: 150px;
   margin-bottom: 20px;
}
.how-we-working_item_subtitle{
   text-align: center;
   padding: 0 5px;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------=======SALES 1=======-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.sales1{
   background: url(../img/sales1.png) no-repeat;
   min-height: 650px;
   width: 100%;
   padding: 69px 162px 181px 0;
   background-size: cover;
}
.sales1 .wrapper{
   display: flex;
   justify-content: flex-end;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------=======ABOUT========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.about{
   padding: 189px 0 300px 0;
}
.about__title{
   margin-bottom: 100px;
}
.about__questions_question{
   width: 100%;
   margin-bottom: 50px;
}
.about__questions_question:last-child{
   margin-bottom: 0;
}
.about__questions_question_header{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 50px;
}
.about__questions_question_header_thumb{
   width: 100px;
   height: 100px;
}
.about__questions_question_header_question{
   margin-left: 30px;
   font-weight: 500;
   font-size: 35px;
   line-height: 43px;
   letter-spacing: 0.01em;
   color: #37D9A4;
   max-width: 353px;
}
.about__questions_question_main{
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
}
.about__questions_question_main_answer{
   max-width: 630px;
   font-weight: 500;
   font-size: 35px;
   line-height: 43px;
   letter-spacing: 0.01em;
   color: #000000;
}
.about__questions_question_main_thumb{
   width: 91px;
   height: 82px;
   margin-left: 39px;
}


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------=======OFTEN Q========------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
.often-q{
   margin-bottom: 300px;
}
.often-q__title{
   margin-bottom: 100px;
}
.often-q__dropdown{
   width: 100%;
}
.often-q__dropdown_block{
   width: 100%;
   margin-bottom: 30px;
}
.often-q__dropdown_block_header{
   display: flex;
   align-items: center;
   padding: 26px 45px 26px 20px;
   background: #FF003D;
   border-radius: 20px;
   transition: .3s;
}
.often-q__dropdown_block_header_thumb{
   width: 60px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 100%;
   font-weight: 900;
   font-size: 36px;
   line-height: 42px;
   background: white;
   color: #000000;
}
.often-q__dropdown_block_header_text{
   font-family: "Roboto";
   margin: 0 30px;
   font-weight: 500;
   font-size: 30px;
   line-height: 35px;
   color: #FFFFFF;
}
.often-q__dropdown_block_header_arrow{
   margin-left: auto;
   transition: .3s;
}
.often-q__dropdown_block_main{
   font-family: "Roboto";
   font-size: 25px;
   line-height: 29px;
   color: #000000;
   padding: 0px 67px 0px 110px;
   max-height: 0;
   overflow: hidden;
   transition: .3s;
}
.often-q__dropdown_block_header-active{
   background-color: #37D9A4;
   border-radius: 20px 20px 0px 0px;
}
.often-q__dropdown_block_header-active .often-q__dropdown_block_header_arrow{
   transform: rotateX(180deg);
}
.often-q__dropdown_block_main-active{
   max-height: 900px;
   padding-top: 40px;
   padding-bottom: 61px;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------=======FOOTER========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

footer{
   padding: 174px 0;
   background: #000000;
}
footer .wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer__nav{
   max-width: 203px;
}
.footer__nav a{
   color: #FFFFFF;
   font-weight: 500;
   font-size: 20px;
   line-height: 130%;
   letter-spacing: 0.01em;
}
.footer__contancts{
   max-width: 234px;
}
.footer__contancts a, .footer__contancts p{
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 0.01em;
   color: #FFFFFF;
   margin-bottom: 8px;
   text-align: right;
}
.footer__contancts .footer__contancts_small-p{
   font-weight: 500;
   font-size: 13px;
   line-height: 16px;
   text-align: right;
   letter-spacing: 0.01em;
   color: #BDBCBC;
}
