
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.logo{
    position:relative;
    top:20px;
    left: 10px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.a{
    background:url(images/bg1.jpg);
    width: 100%;
    height: 649px;
    min-height:649px;
    background-repeat: no-repeat;
   
}
.main{
    position:relative;
    width:1200px;
    margin:0 auto;
    
}
.text1{
    color: white;
    position:relative;
    text-align: center;
    margin-top:80px;
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;
    
}
.text2{
    color: white;
    position: relative;
    text-align:center;
    margin-top:20px;
    font-family: 'PT Sans', sans-serif;
    text-align:center;
    font-size:30px;
    
}
.proba{
color: white;
position: relative;
border:1px solid black;
border-radius: 2px;
background-color:#26b347;
height:55px;
width:400px;
text-align: center;
line-height: 55px;
font-family: 'PT Sans', sans-serif;
font-size: 30px;
margin: 0 auto;
top:40px;
}

.signin{
    position: absolute;
    border:3px solid white;
    border-radius:10px;
    width:83px;
    height:35px;
    line-height:34px;
    font-size:17px;
    top:-325px;
    left:655px;
}
.createmore{
    position: relative;
    text-align: center;
    top:57px;
    font-family: 'PT Sans', sans-serif;
}
.blocks1{
    position: relative;
    float: left;
    display: inline-block;
    margin-left: 215px;
    top:145px;
    text-align:center;
    font-family: 'PT Sans', sans-serif;
    color:white;
}



.main1{
    position: relative;
    width:100%;
    height: 800px;
    margin: 0 auto;
}
.createsite{
    position: relative;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
    top: 35px;
    
}
.video{
    position: relative;
    margin: 0 auto;
    width: 680px;
    height: 450px;
    background:black;
    top:75px;
}
.bottomgrey{
    position: relative;
    width:100%;
    height:180px;
    background: grey;
    top: 130px;
}

.blocks{
    position: relative;
    float: left;
    display: inline-block;
    margin-left: 215px;
    text-align:center;
    font-family: 'PT Sans', sans-serif;
    color:white;
    top:60px;
}
.bottomgrey1{
    position: relative;
    width:1200px;
    height:180px;
    margin: 0 auto;
}
.main2{
    position: relative;
    width:1200px;
    height:1900px;
    margin: 0 auto;
}
.text3{
    width:600px;
    height: 400px;
    float: right;
    
}
.icon2{
    width:600px;
    height: 400px;
    
}
.tex{
    position: relative;
    font-family: 'PT Sans', sans-serif;
    top:20px;
    font-size:40px;
    margin-left:20px;
}
.tex1{
    position: relative;
    font-family: 'PT Sans', sans-serif;
    top:45px;
    font-size:20px;
    margin-left:20px;
}
.tex2{
    position: relative;
    font-family: 'PT Sans', sans-serif;
    top:70px;
    font-size:20px;
    margin-left:20px;
}
.a1{
    margin-top:7px;
    margin-left:100px;
}
.a2{
    margin-top:37px;
}

.a3{
    margin-top:-30px;
}
.a4{
    margin-top:-15px;
}
.createsite1{
    position: relative;
    width:100%;
    
    height: 700px;
}
.a5{
    position: absolute;
    margin-left:95px;
    
}
.tex3{
    font-family: 'PT Sans', sans-serif;
    color:darkred;
    font-size:70px;
    margin-left: 250px;
    line-height:80px;
}
.tex4{
    
    font-family: 'PT Sans', sans-serif;
    font-size:20px;
    margin-left: 250px;
    color:dimgrey;
}
.a6{
    
    margin-left:200px;
    margin-top:40px;
}


.a7{
    background: url(images/bg2.jpg);
    height:472px;
    background-repeat: no-repeat;
}
.main3{
    position:relative;
    width: 1200px;
    height: 472px;
    margin: 0 auto;
    
    
}
.proba1{
    position: relative;
    margin: 0 auto;
    margin-top: 1250px;
}
.tex5{
    position: relative;
    font-family: 'PT Sans', sans-serif;
    font-size:50px;
    text-align: center;
    color: white;
    top: 100px;
}
.nachni{
    color: white;
    position: relative;
    border:1px solid black;
    border-radius: 2px;
    background-color:#26b347;
    height:55px;
    width:400px;
    text-align: center;
    line-height: 50px;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    margin: 0 auto;
    top:140px;
}
.sozdano1{
    position: relative;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    color: white;
    top:150px;
}
.blocks2{
    position: relative;
    float: left;
    display: inline-block;
    margin-left: 145px;
    top:145px;
    text-align:center;
    font-family: 'PT Sans', sans-serif;
    color:white;
    top:200px;
}
.niz{
    position: relative;
    width: 1200px;
    margin:0 auto;
    height: 115px;
}
.icon12{
    position: absolute;
    margin-top:10px;
    margin-left:90px;
}
.ntext{
    font-family: 'PT Sans', sans-serif;
    margin-left: 850px;
    margin-top: 20px;
}