// <!-- Made by Djigit_ telegram: @Djigit34 -->

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/GothamPro-Light.woff2'); 
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/GothamPro.woff2'); 
}

body{
  font-family: 'Gotham';
  font-weight: 300px;
  text-transform: uppercase;
}

.wrapper{
  width: 100vw;
  padding-bottom: calc(115 / 128 * 100%);
  position: relative;
  margin-top: -1px;
}

.video-wrapper{
  width: 100vw;
  padding-bottom: calc(9 / 16 * 100%);
  position: relative;
  margin-top: -1px;
}

.intro{
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/1.webp) center;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.intro__header{
  margin-left: auto;
  margin-right: 11vw;
  margin-top: 6.3vw;
  display: flex;
}

.intro__header-logo{
  width: 21.5vw;
  height: auto;
}

.intro__header-description{
  text-align: right;
  font-size: 2.6vw;
  margin-top: 0.2vw;
  margin-right: 2vw;
  color: white;
}

.intro__title{
  margin-top: auto;
  margin-left: auto;
  font-size: 9.5vw;
  line-height: 7.3vw;
  margin-bottom: 1vw;
  margin-right: 10.5vw;
  text-align: right;
  color: #a9ebff;
  text-shadow: black 35px 37px 22px;

  span{
    font-size: 5.8vw;
    margin-top: -2vw;
    display: inline-block;
    color: white;
  }
}

.characteristic{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: url(../img/2.webp) center;
  background-size: cover;
  margin: 0 auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.characteristic__content{
  display: flex;
  position: relative;
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
  margin-bottom: 11.5vw;
  margin-top: auto;
  gap: 8vw;
  padding-left: 11.5vw;
  color: white;
  font-size: 3.4vw;
  line-height: 4.45vw;
  letter-spacing: 0.18vw;
  text-shadow: black .2vw .2vw 20px;
  

  &::after{
    content: "";
    width: 0.4vw;
    height: 22vw;
    background: #a9ebff;
    position: absolute;
    left: 49%;
    transform: translate(-50%);
    left: 49.8%;
    top: -2.2vw;
  }
}

.characteristic__content-left{
  li{
    text-align: right;
  }
  
}

.characteristic__content-right{
  li{
    text-align: left;
  }
  
}

.vision{
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/3.webp) center;
  background-size: cover;
  margin: 0 auto;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.vision__video{
  aspect-ratio: 16/9;
  margin-top: 3.05vw;
  width: 71.46vw;
}

.vision__title{
  color: #a9ebff;
  font-size: 6.2vw;
  margin-top: 10.11vw;
  text-shadow: black 1px 1px 15px;
}

.vision__subtitle{
  font-size: 3.64vw; 
  margin-top: 2.7vw;
  text-shadow: black 1px 1px 15px;
  color: white;
}

.vision__description{
  font-size: 2.8vw; 
  margin-top: 3.4vw;
  text-shadow: black 1px 1px 15px;
  color: white;
}

.royality{
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/4.webp) center;
  background-size: cover;
  margin: 0 auto;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.royality__title{
  margin-top: auto;
  display: block;
  color: #a9ebff;
  font-size: 6.2vw;
  text-shadow: black 1px 1px 15px;
}

.royality__subtitle{
  font-size: 3.64vw; 
  margin-top: 2.7vw;
  text-shadow: black 1px 1px 15px;
  color: white;
  margin-bottom: 14vw;
}

.video{
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  iframe{
    width: 100vw;
    height: 100%;
  }
}

.controls{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: url(../img/6.webp) center;
  background-size: cover;
  margin: 0 auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 10.1vw;
  padding-right: 7.1vw;
}

.controls__title{
  color: #a9ebff;
  font-size: 6.2vw;
  margin-top: 12.11vw;
  line-height: 6.4vw;
  text-shadow: black 1px 1px 15px;
}

.controls__subtitle{
  font-size: 3.64vw;
  margin-top: 2.7vw;
  line-height: 4.1vw;
  text-shadow: black 1px 1px 15px;
  color: white;
  margin-left: 0.55vw;
}

.controls__description{
  font-size: 2.6vw;
  margin-top: 3.1vw;
  text-shadow: black 1px 1px 15px;
  color: white;
  margin-left: 0.6vw;
  max-width: 69vw;
}

.controls__benefits{
  display: flex;
  justify-content: space-between;
  margin-top: 10.3vw;
}

.benefits_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.benefit__thumb{
  width: 14.5vw;
  height: auto;
}

.benefit__description{
  font-size: 2.8vw;
  margin-top: 0.8vw;
  color: white;
  text-align: center;
}

.sound{
  background: url(../img/7.webp) center;
  background-size: cover;
  margin: 0 auto;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sound__title{
  color: #a9ebff;
  font-size: 6.2vw;
  margin-top: 18.75vw;
  line-height: 6.4vw;
  text-shadow: black 1px 1px 15px;
}

.sound__subtitle{
  font-size: 3.64vw;
  margin-top: 2.7vw;
  line-height: 4.1vw;
  text-shadow: black 1px 1px 15px;
  color: white;
  margin-left: 0.55vw;
}

.sound__characteristics{
  margin-top: 27.3vw;
  display: flex;
  font-size: 2.5vw;
  line-height: 3.08vw;
  text-shadow: black 1px 1px 15px;
  color: white;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 6vw;

}


