.mc{
position: absolute;
width: 100px;
left: 9px;
top: 30px;
color:red;
}
.mv{
position: absolute;
width: 100px;
left: 20px;
top: 2px;
color:cadetblue; 
}
.mg{
position: absolute;
left: 300px;
top: 27px;
}
.m{
position: absolute;
left: 343px;
top: 7px;
color: white;
}
.buy{
position: absolute;
width: 62px;
height: 25px;
left: 327px;
border-radius: 2px;
background-color: cadetblue
}
.q{
position: absolute;
left: 325px;
top: -36px;
width: 65px;
color: darkviolet;
}
.photo{
position: absolute;
text-align: center;
width: 98px;

left: 306px;
top: -45px;
}
.p{
position: absolute;
text-align: center;
left: 3px;
top: -9px;
}
.third{
position: absolute;
height: 190px;
width: 130px;
border: 2px solid silver;
top: -115px;
left: 285px;
}
.v{
 position: absolute;
top:64px;
left: 225px;   
}
.vkladka{
position: absolute;
top:61px;
left: 186px;
text-align: center;
}
.tab{
position: absolute;
top: 20px
}
.vse{
position: absolute;
height: 184px;
top: 00px;
width: 293px;
}
.a{
position: absolute;
height: 190px;
width: 100px;


border: 2px solid silver
    ;
}
.b{
position: absolute;
top: 10px;

}
.d{
position: absolute;
top: 113px;
left: 2px;
}
.f{
position: absolute;
top: -6px;
left: 63px;
}
.g{
height: 20px;
width:  40px;
border: 1px solid olive;
position: absolute;
top: 119px;
left: 33px;
text-align: center; 
background-color: orange;
}

.j{
position: absolute;
top: 115px;
left: 9px;
}
.k{
position: absolute;

left: -4px;
}
.l{
position: absolute;
top: 1px;
left: 68px;   
}
.z{
position: absolute;
left: 71px;
top: 13px;
}
.second{
position: absolute;
height: 190px;
width: 190px;
top: -115px;
left: 93px;
border: 2px solid silver;
}