.main{
width: 224px;
height: 402px;
border: 1px solid black;
}
.phone{
width: 102px;
height: 210px;
position: relative;
left: 15px;
top: 28px;
}
.sale{
width: 64px;
height: 41px;
position: relative;
bottom: 210px; 
}
.present{
width: 50px;
height: 55px;
position: absolute;    
border: 2px solid red;
background-color: white;
border-radius: 5px;
top: 200px;
}
.presents{
width: 50px;
height: 66px;
position: absolute;    
border: 2px solid red;
background-color: red;
border-radius: 5px;
top: 190px;
}
.procent{
width: 50px;
height: 47px;
position: absolute;
left: 1px;
}
.pres{
position: absolute;
left: 4px;
top: -12px;
font-size:11px;
color: white;
}
.cards{
position: relative;
bottom:170px;
left: 110px;
background-color: white;
border: 1px solid silver;
width: 50px;
height: 65px;
border-radius: 3px;
}
.card{
position: absolute;
left: 129px;
top: 105px;
opacity: 100;
}
.color{
position: relative;
bottom:235px;
left: 120px;
font-size: 10px;
color: silver;
}
.price{
position: relative;
bottom:194px;
left: 115px;
font-size: 10px;
color: forestgreen;    
}
.raiting{
position: absolute;
top: 280px;
left: 15px;
}
.reviews{
text-decoration: underline;
color: #4169E0;
position: absolute;
font-size: 12px;
top: 1px;
left: 100px;
width: 100px
}
.sales{
position: absolute;
font-size: 15px;
width: 200px;
top: 28px;
color: red;
}
.info{
position: absolute;
left: 173px;
top: 26px
}
.lg{
position: absolute;
width: 300px;
height: 50px;
color: #3A5FCD;
text-decoration: underline;
top: 45px;
}
.buy{
position: absolute;
top: 90px;
left: 115px;
}
.priceall{
position: absolute;
top: 90px;
font-size: 21px;
color: forestgreen;
}
.price-bg{
position: absolute;
top:88px;
left: -5px;

}













