/* <!-- Made by Djigit_ telegram: @Djigit34 --> */

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:url('../fonts/montserrat-v18-latin_cyrillic-regular.woff2') format('woff2')
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/montserrat-v18-latin_cyrillic-500.woff2') format('woff2')
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/montserrat-v18-latin_cyrillic-800.woff2') format('woff2')
}

@font-face {
  font-family: 'Carneys';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/carneys.woff2') format('woff2')
}

@font-face {
  font-family: 'Carneys script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/carneys-script.woff2') format('woff2')
}

:root{
  --main: #FFF1E9;
  --sandwhite: #FFE1D1;
  --orange: #FFCDB2;
  --lether: #FFB4A2;
  --brick: #E5989B;
  --maroon: #B5838D;
  --gray: #6D6875;
}

body{
  background: var(--main);
  
  font-family: "Montserrat";
}

a{
  padding: 10px;
}

.button{
  background: rgba(109, 104, 117, 0.6);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  padding: 14px;
  min-width: 175px;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: white;
  width: fit-content;
  width: -moz-fit-content;
  margin-top: auto;
  transition: .3s background;
  font-family: "Montserrat";

  &:hover{
    background: var(--gray);
  }
}

main{
  padding-bottom: 80px;
}

h1, .h1{
  font-size: 147px;
  line-height: 189px;
  font-family: 'Carneys';
  font-weight: 400;
  color: #6D6875;
  letter-spacing: 0.195em;
}

h2, .h2{
  font-size: 130px;
  line-height: 167px;
  font-family: 'Carneys';
  font-weight: 400;
  color: #6D6875;
}

.subtitle{
  font-size: 39px;
  line-height: 77px;
  font-family: 'Carneys script';
  font-weight: 400;
  color: #000000;
}

.about-title{
  font-size: 49px;
  line-height: 60px;
  font-family: 'Montserrat';
  font-weight: 500;
  letter-spacing: 0.195em;
  color: #FFFFFF;
}

.categories-title{
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-weight: 800;
}

.header-text{
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}

.wrapper{
  max-width: 1520px;
  margin: 0 auto;
}

#header{
  padding: 20px 0;
  width: 100%;
  background: var(--main);

  .wrapper{
    display: flex;
    align-items: center;
  }
}

.header__nav{
  margin-left: auto;
  margin-right: auto;

  ul{
    display: flex;
    flex-direction: row;
  }

  li{
    margin-left: 29px;
    margin-right: 29px;
  }

  a{
    border-bottom: 3px solid #b5838d00;
    padding: 8px 0;
    transition: .3s border;

    &:hover{
      border-bottom: 3px solid var(--maroon);
    }
  }
}

.header__socials{
  position: relative;
  padding-right: 10px;

  &::after{
    content: "";
    position: absolute;
    height: 28px;
    width: 1px;
    border-right: 2px solid var(--maroon);
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  a{
    padding: 8px;
    display: block;
  }
}

.header__search{
  display: block;
  margin-left: 10px;
}

.header__socials, .header__second-nav{
  display: flex;
  
}

.hero{
  padding-bottom: 94px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);;

  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height:calc(100vh - 188px);
    position: relative;
    text-align: center;
    word-break: break-all;

    &::after{
      position: absolute;
      content: "";
      height: 100%;
      width: 50%;
      left: 0;
      top: 0;
      background: url("../img/hero.png") no-repeat;
      background-size: cover;
      
    }
  }

  h1,h2{
    position: relative;
    z-index: 2;
    padding: 0 25px;
  }
}

.hero__scroll-down{
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  position: absolute;
  padding-left: 80px;
  right: -180px;
  bottom: 0;
  transform: rotate(-90deg);
  transform-origin:  left;

  &::after{
    content: "";
    position: absolute;
    width: 65px;
    height: 1px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top: 2px solid var(--maroon);
  }
}


.articles{
  padding-top: 24px;
  position: relative;
  background: url("../img/articles-left.png") left top no-repeat, url(../img/articles-right.png) right bottom no-repeat;
}

.articles__header{
  padding: 40px;
  position: relative;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 70px;
  line-height: 85px;
  letter-spacing: 0.325em;
  color: #6D6875;
  text-align: center;

  &::after{
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 107px;
    height: 2px;
    background: #000000;
  }
}

.articles__all{
  padding: 18px;
  min-width: 202px;
}

.post-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
  margin-bottom: 80px;
}

.card{
  background: rgba(202, 156, 165, 0.7);
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.26);
  padding: 35px 36px 40px 36px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: .3s background;

  &:hover{
    background: #CA9CA5;
  }
}

.card__image{
  width: 100%;
  height: auto;
  aspect-ratio: 383/207;
  object-fit: cover;
  margin-bottom: 26px;
  display: block;
}

.card__header{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.38em;
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-weight: 400;
  margin-bottom: 35px;

  a{
    padding: 0;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.38em;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400;
  }
}

.card__title{
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.225em;
  color: #FFFFFF;
  margin-bottom: 16px;
  font-weight: 500;
}

.card__text{
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.08em;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.card__link{
  margin-top: auto;
}

footer{
  text-align: center;
  padding: 17px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  background: var(--gray);
}