ul{
  position: relative;
  list-style-type: none;
  background-color: #06a105;
  width:fit-content;
  width: -moz-fit-content;
  font-family: 'Roboto', sans-serif;
  vertical-align:middle;
  color: white;
  min-width: 318px;
  top:20px;
  padding-top:20px;
  padding-bottom:40px;
}
*{
  margin:0;
  padding:0;
}

li{
  position: relative;
  border: 1px solid transparent;
  margin: 20px 0 0 9px;
  height: 59px;
  padding-left:30px;
  width: 309px;
  border-radius: 50px 0 0 50px;
}
li div{
  margin-top: 19px;
}
li:hover{
  background-color: white;
  color: #505050;
}
li:hover:after{
  height: 18px;
  width: 17px;
  background-image: url(corner.png);
  content: "";
  position: absolute;
  right: -1px;
  bottom:60px
}
li:hover:before{
  height: 17px;
  width: 17px;
  background-image: url(corner.png);
  content: "";
  position: absolute;
  right:-1px;
  top:60px;
  transform: rotate(270deg);
}

