/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----========CSS RESET========------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
:focus {
   outline: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}

body {
 line-height: 1;
}

ol, ul {
 list-style: none;
}

blockquote, q {
 quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
   -webkit-appearance: none;
   -moz-appearance: none;
}

input[type=search] {
   -webkit-appearance: none;
   -moz-appearance: none;
   box-sizing: content-box;
}

textarea {
   overflow: auto;
   vertical-align: top;
   resize: vertical;
}
audio,
canvas,
video {
   display: inline-block;
   *display: inline;
   *zoom: 1;
   max-width: 100%;
}
audio:not([controls]) {
   display: none;
   height: 0;
}
[hidden] {
   display: none;
}
html {
   font-size: 100%; /* 1 */
   -webkit-text-size-adjust: 100%; /* 2 */
   -ms-text-size-adjust: 100%; /* 2 */
}
a:focus {
   outline: thin dotted;
}
a:active,
a:hover {
   outline: 0;
}
img {
   border: 0; /* 1 */
   -ms-interpolation-mode: bicubic; /* 2 */
}
figure {
   margin: 0;
}
form {
   margin: 0;
}
fieldset {
   border: 1px solid #c0c0c0;
   margin: 0 2px;
   padding: 0.35em 0.625em 0.75em;
}
legend {
   border: 0; /* 1 */
   padding: 0;
   white-space: normal; /* 2 */
   *margin-left: -7px; /* 3 */
}
button,
input,
select,
textarea {
   font-size: 100%; /* 1 */
   margin: 0; /* 2 */
   vertical-align: baseline; /* 3 */
   *vertical-align: middle; /* 3 */
}
button,
input {
   line-height: normal;
}
button,
select {
   text-transform: none;
}


button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
   -webkit-appearance: button; /* 2 */
   cursor: pointer; /* 3 */
   *overflow: visible;  /* 4 */
}
button[disabled],
html input[disabled] {
   cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
   box-sizing: border-box; /* 1 */
   padding: 0; /* 2 */
   *height: 13px; /* 3 */
   *width: 13px; /* 3 */
}
input[type="search"] {
   -webkit-appearance: textfield; /* 1 */ /* 2 */
   box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}
textarea {
   overflow: auto; /* 1 */
   vertical-align: top; /* 2 */
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

html,
button,
input,
select,
textarea {
   color: #222;
}


::-moz-selection {
   background: #b3d4fc;
   text-shadow: none;
}

::selection {
   background: #b3d4fc;
   text-shadow: none;
}

img {
   vertical-align: middle;
}

fieldset {
   border: 0;
   margin: 0;
   padding: 0;
}

textarea {
   resize: vertical;
}

.chromeframe {
   margin: 0.2em 0;
   background: #ccc;
   color: #000;
   padding: 0.2em 0;
}
a{
   text-decoration: none;
   color: black;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========FONTS========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
@font-face {
	font-family: 'HelveticaNeueCyr-800';
	src: url('../fonts/helveticaneuecyr-black.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helveticaneuecyr-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helveticaneuecyr-black.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-black.svg#helveticaneuecyr-black') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'HelveticaNeueCyr-600';
	src: url('../fonts/helveticaneuecyr-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helveticaneuecyr-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helveticaneuecyr-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-bold.svg#helveticaneuecyr-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'HelveticaNeueCyr-700';
	src: url('../fonts/helveticaneuecyr-heavy.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helveticaneuecyr-heavy.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helveticaneuecyr-heavy.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-heavy.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-heavy.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-heavy.svg#helveticaneuecyr-heavy') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'HelveticaNeueCyr-500';
	src: url('../fonts/helveticaneuecyr-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helveticaneuecyr-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helveticaneuecyr-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-medium.svg#helveticaneuecyr-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'HelveticaNeueCyr-400';
	src: url('../fonts/helveticaneuecyr-roman.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helveticaneuecyr-roman.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helveticaneuecyr-roman.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-roman.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-roman.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-roman.svg#helveticaneuecyr-roman') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'HelveticaNeueCyr-300';
	src: url('../fonts/helveticaneuecyr-light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helveticaneuecyr-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helveticaneuecyr-light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-light.svg#helveticaneuecyr-light') format('svg'); /* Chrome < 4, Legacy iOS */
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------======GLOBAL STYLES======----- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
*{
    font-family: "HelveticaNeueCyr-400" !important;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
    -ms-flex-negative: 0;
    
        flex-shrink: 0;
}
a:focus, a:visited{
   outline: none;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
body{
   padding: 0 15px;
   background: #181818;
}
body .wrapper{
   display: grid;
   grid-template-columns: minmax(19.51%, 281px) 1fr;
   border-right: 2px solid rgba(196, 196, 196, 0.5);
}
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------=======SIDEBAR=======-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
.sidebar-wrap{
   height: 100%;
   position: fixed;
}
.sidebar{
   min-height: 100vh;
   height: 100%;
   border-right: 2px solid rgba(196, 196, 196, 0.5);
   padding: 40px 64px 20px 64px;
   display: flex;
   flex-direction: column;
   position: sticky;
   top: 0;
   left: 0;
   

}
.sidebar__logo{
   margin-bottom: 107px;
}
.sidebar__nav{
   padding-left: 13px;
}
.sidabar__nav_item a{
   display: block;
   width: 100%;
   font-family: "HelveticaNeueCyr-600" !important;
   color: white;
   font-size: 20px;
   line-height: 20px;
   transition: .2s;
}
.sidabar__nav_item a:hover, .nav-active a{
   color: #FABB03;
}
.sidabar__nav_item{
   padding: 30px 0;
}
.sidebar__contacts{
   margin-top: 214px;

}
.sidbar__contacts_tel{
   font-family: "HelveticaNeueCyr-500" !important;
   font-size: 18px;
   line-height: 18px;
   letter-spacing: 0.02em;
   color: white;
   margin-bottom: 12px;
   display: block;
}
.sidebar__contacts_links{
   width: 100px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

main{
   height: 5000px;
}





