/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----========CSS RESET========------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
:focus {
   outline: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}

body {
 line-height: 1;
}

ol, ul {
 list-style: none;
}

blockquote, q {
 quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
   -webkit-appearance: none;
   -moz-appearance: none;
}

input[type=search] {
   -webkit-appearance: none;
   -moz-appearance: none;
   box-sizing: content-box;
}

textarea {
   overflow: auto;
   vertical-align: top;
   resize: vertical;
}
audio,
canvas,
video {
   display: inline-block;
   *display: inline;
   *zoom: 1;
   max-width: 100%;
}
audio:not([controls]) {
   display: none;
   height: 0;
}
[hidden] {
   display: none;
}
html {
   font-size: 100%; /* 1 */
   -webkit-text-size-adjust: 100%; /* 2 */
   -ms-text-size-adjust: 100%; /* 2 */
}
a:focus {
   outline: thin dotted;
}
a:active,
a:hover {
   outline: 0;
}
img {
   border: 0; /* 1 */
   -ms-interpolation-mode: bicubic; /* 2 */
}
figure {
   margin: 0;
}
form {
   margin: 0;
}
fieldset {
   border: 1px solid #c0c0c0;
   margin: 0 2px;
   padding: 0.35em 0.625em 0.75em;
}
legend {
   border: 0; /* 1 */
   padding: 0;
   white-space: normal; /* 2 */
   *margin-left: -7px; /* 3 */
}
button,
input,
select,
textarea {
   font-size: 100%; /* 1 */
   margin: 0; /* 2 */
   vertical-align: baseline; /* 3 */
   *vertical-align: middle; /* 3 */
}
button,
input {
   line-height: normal;
}
button,
select {
   text-transform: none;
}


button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
   -webkit-appearance: button; /* 2 */
   cursor: pointer; /* 3 */
   *overflow: visible;  /* 4 */
}
button[disabled],
html input[disabled] {
   cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
   box-sizing: border-box; /* 1 */
   padding: 0; /* 2 */
   *height: 13px; /* 3 */
   *width: 13px; /* 3 */
}
input[type="search"] {
   -webkit-appearance: textfield; /* 1 */ /* 2 */
   box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}
textarea {
   overflow: auto; /* 1 */
   vertical-align: top; /* 2 */
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

html,
button,
input,
select,
textarea {
   color: #222;
}


::-moz-selection {
   background: #b3d4fc;
   text-shadow: none;
}

::selection {
   background: #b3d4fc;
   text-shadow: none;
}

img {
   vertical-align: middle;
}

fieldset {
   border: 0;
   margin: 0;
   padding: 0;
}

textarea {
   resize: vertical;
}

.chromeframe {
   margin: 0.2em 0;
   background: #ccc;
   color: #000;
   padding: 0.2em 0;
}
a{
   text-decoration: none;
   color: black;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========FONTS========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
@font-face {
	font-family: 'HelveticaNeueCyr-800';
	src: url('../fonts/helveticaneuecyr-black.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helveticaneuecyr-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helveticaneuecyr-black.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-black.svg#helveticaneuecyr-black') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'HelveticaNeueCyr-600';
	src: url('../fonts/helveticaneuecyr-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helveticaneuecyr-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helveticaneuecyr-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-bold.svg#helveticaneuecyr-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'HelveticaNeueCyr-700';
	src: url('../fonts/helveticaneuecyr-heavy.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helveticaneuecyr-heavy.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helveticaneuecyr-heavy.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-heavy.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-heavy.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-heavy.svg#helveticaneuecyr-heavy') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'HelveticaNeueCyr-500';
	src: url('../fonts/helveticaneuecyr-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helveticaneuecyr-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helveticaneuecyr-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-medium.svg#helveticaneuecyr-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'HelveticaNeueCyr-400';
	src: url('../fonts/helveticaneuecyr-roman.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helveticaneuecyr-roman.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helveticaneuecyr-roman.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-roman.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-roman.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-roman.svg#helveticaneuecyr-roman') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'HelveticaNeueCyr-300';
	src: url('../fonts/helveticaneuecyr-light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/helveticaneuecyr-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/helveticaneuecyr-light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/helveticaneuecyr-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/helveticaneuecyr-light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/helveticaneuecyr-light.svg#helveticaneuecyr-light') format('svg'); /* Chrome < 4, Legacy iOS */
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------======GLOBAL STYLES======----- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
*{
    font-family: "HelveticaNeueCyr-400" !important;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
    -ms-flex-negative: 0;
    
        flex-shrink: 0;
}
a:focus, a:visited{
   outline: none;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
body{
   padding: 0 15px;
   background: #181818;
}
body .wrapper{
   display: grid;
   grid-template-columns: minmax(19.51%, 281px) 1fr;
   border-right: 2px solid rgba(196, 196, 196, 0.5);
   min-height: 100vh;
}
.btn{
   background: #FABB03;
   border-radius: 47px;
   padding: 15px 90px;
   font-family: "HelveticaNeueCyr-700" !important;
   font-size: 16px;
   line-height: 24px;
   display: block;
   width: fit-content;
}
.text-orange{
   color: #FABB03;
}

p{
   font-family: "HelveticaNeueCyr-400" !important;
}
h2{
   font-family: "HelveticaNeueCyr-700" !important;
}
h3{
   font-family: "HelveticaNeueCyr-500" !important;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------=======SIDEBAR=======-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
.sidebar::-webkit-scrollbar {
   width: 5px; /* ширина для вертикального скролла */
   height: 0px; /* высота для горизонтального скролла */
   background-color: #181818;
   border-radius: 10px;
   
}

.sidebar::-webkit-scrollbar-thumb {
   background-color: #282828;
   border-radius: 9em;
   width: 2px;
}

.sidebar-wrap{
   height: 100%;
   position: relative;
}
.sidebar{
   min-height: 100vh;
   height: 100%;
   border-right: 2px solid rgba(196, 196, 196, 0.5);
   padding: 40px 64px 20px 64px;
   display: flex;
   flex-direction: column;
   position: fixed;
   overflow-y: scroll;

}
.sidebar__logo{
   margin-bottom: 107px;
}
.sidebar__nav{
   padding-left: 13px;
}
.sidabar__nav_item a{
   display: block;
   width: 100%;
   font-family: "HelveticaNeueCyr-500" !important;
   color: white;
   font-size: 20px;
   line-height: 20px;
   transition: .2s;
}
.sidabar__nav_item a:hover, .nav-active a{
   color: #FABB03;
}
.sidabar__nav_item{
   padding: 30px 0;
}
.sidebar__contacts{
   margin-top: auto;
   padding-top: 70px;
}
.sidbar__contacts_tel{
   font-family: "HelveticaNeueCyr-500" !important;
   font-size: 18px;
   line-height: 18px;
   letter-spacing: 0.02em;
   color: white;
   margin-bottom: 12px;
   display: block;
}
.sidebar__contacts_links{
   width: 100px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ---------=======MAIN=======--------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

body .wrapper main{
   position: relative;
}

.vertical_line{
   position: absolute;
   width: 1px;
   height: 1180px;
   background: rgba(196, 196, 196, 0.1);
   z-index: -1;
}
.vertical_line:nth-child(1){
   left: 37.96%;
   top: 304px;
}
.vertical_line:nth-child(2){
   left: 76.01%;
   top: 59px;
}


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------=======HEADER=======-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.main__header{
   padding-top: 40px;
   padding-left: 10px;
   width: 100%;
}
.main__header_btn{
   padding: 12px 40px;
   position: relative;
   right: 0;
}
.main__header_btn{
   float: right;
   margin-right: 76px;
}
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------=======INTRO=======--------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.intro{
   padding: 126px 78px 318px 90px;
   margin-bottom: 259px;
   position: relative;
}
.intro__title{
   font-family: "HelveticaNeueCyr-800" !important;
   font-size: 36px;
   line-height: 155%;
   color: #FFFFFF;
   max-width: 521px;
   margin-bottom: 10px;
}
.intro__title span{
   font-family: "HelveticaNeueCyr-800" !important;
   font-size: 36px;
   line-height: 155%;
   max-width: 521px;
}
.intro__subtitle{
   font-size: 18px;
   line-height: 155%;
   color: #C4C4C4;
   margin-bottom: 43px;
   max-width: 483px;
}
.intro__img{
   position: absolute;
   bottom: 0;
   right: 66px;
   z-index: -1;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ---------=======BLOG=======--------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
.blog{
   max-width: 1015px;
   margin-bottom: 140px;
   padding: 0 66px 0 17px;
}
.blog__first-line-blks{
   display: grid;
   grid-template-columns: minmax(39.9%, 405px) minmax(55.96%,568px);
   column-gap: 10px;
   max-width: 1015px;
   margin-bottom: 10px;
}
.blog__first-line-blks .blog__blks-big{
   align-self: end;
}
.blog__first-line-blks .blog__blks-big .blog__blks_blk, .blog__first-line-blks .blog__blks-small .blog__blks_blk{
   margin-bottom: 0;
}

.blog__blks{
   display: grid;
   grid-template-columns: minmax(55.96%,568px)  minmax(39.9%, 405px);
   column-gap: 10px;
   max-width: 1015px;
}

/* Big block */
.blog__blks-big .blog__blks_blk{
   max-width: 568px;
   min-height: 390px;
   max-height: 420px;
   position: relative;
   border-radius: 5px;
   border: 1px solid rgba(196, 196, 196, 0.2);
   display: flex;
   align-items: flex-end;
   margin-bottom: 10px;

}
.blog__blks-big .blog__blks_blk .blog_blk_img{
   position: absolute;
   min-height: 192px;
   width: 100%;
   top: 0;
   left: 0;
   z-index: -1;
   border-radius: 5px;
}
.blog__blks-big .blog__blks_blk .blog_blk_description{
   width: 100%;
   background:linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, #181818 39.8%);
   padding: 186px 104px 45px 35px;
   border-radius: 5px;
}
.blog__blks-big .blog__blks_blk .blog_blk_title{
   font-family: "HelveticaNeueCyr-700" !important;
   font-size: 28px;
   line-height: 140%;
   color: #FFFFFF;
   padding-bottom: 10px;
}
.blog__blks-big .blog__blks_blk .blog_blk_subtitle{
   font-size: 16px;
   line-height: 155%;
   color: #C4C4C4;
}

/* Small block */

.blog__blks-small .blog__blks_blk{
   max-width: 440px;
   width: 100%;
   min-height: 424px;
   height: fit-content;
   max-height: 500px;
   position: relative;
   border-radius: 5px;
   border: 1px solid rgba(196, 196, 196, 0.2);
   display: flex;
   align-items: flex-end;
   margin-bottom: 10px;
}


.blog__blks-small .blog__blks_blk .blog_blk_img{
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: -1;
   border-radius: 5px;
}
.blog__blks-small .blog__blks_blk .blog_blk_description{
   width: 100%;
   background:linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, #181818 43.8%);
   padding: 230px 30px 45px 35px;
   border-radius: 5px;
}
.blog__blks-small .blog__blks_blk .blog_blk_title{
   font-family: "HelveticaNeueCyr-700" !important;
   font-size: 28px;
   line-height: 140%;
   color: #FFFFFF;
   padding-bottom: 10px;
}
.blog__blks-small .blog__blks_blk .blog_blk_subtitle{
   font-size: 16px;
   line-height: 155%;
   color: #C4C4C4;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------======ADVANTAGES======------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
.advantades{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin: 0 auto;
   max-width: 980px;
   padding: 0 20px;
   column-gap: 100px;
   row-gap: 90px;
   margin-bottom: 155px;
}
.advantades__blk{
   max-width: 420px;
}
.advantages__blk_thumb{
   margin-bottom: 20px;
}
.advantages__blk_title{
   font-size: 28px;
   line-height: 155%;
   color: #FFFFFF;
   margin-bottom: 5px;
}
.advantages__blk_subtitle{
   font-size: 16px;
   line-height: 155%;
   color: #FFFFFF;
}
.advantades__blk_btn{
   margin-top: 80px;
   padding: 15px 70px;
}


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------=======TICKER=======-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
.tickers{
   margin-left: 5px;
}

.ticker{
   width: 100%;
   height: 100px;
   position: relative;
   overflow: hidden;
}
.ticker_slider,.ticker_slider1{
   position: absolute;
   top: 0;
   left: 0;
   height:200px;
   display: flex;
   z-index: 1;
   transform: translateX(0);
   
}
.slide, .slide1{
   width:fit-content;
   white-space: nowrap;
   z-index: 1;
   margin-right: 10px;
 
}
.slide span,.slide1 span{
   white-space: nowrap;
   font-size: 72px; 
   line-height: 72px; 
   width: fit-content; 
   letter-spacing: 0.05em; 
   -webkit-text-stroke-width: 1px; 
   -webkit-text-stroke-color:rgba(255, 255, 255, 0.6); 
   color:#181818;
   text-transform: uppercase;
}


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------========WAYS========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.ways{
   margin-top: 110px;
   max-width: 990px;
   margin-left: 105px;
   display: flex;
   margin-bottom: 150px;
}
.ways__title{
   font-size: 28px;
   line-height: 155%;
   color: #FFFFFF;
   max-width: 337px;
   position: relative;
   padding-bottom: 25px;
   margin-bottom: 34px;
}
.ways__title::after{
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   height: 5px;
   width: 42.43%;
   background: #FABB03;
}
.ways__left{
   width: fit-content;
}
.ways__right{
   margin-left: 136px;
   max-width: 488px;
   width: 100%;
   margin-top: 50px;
}
.ways__right_block{
   display: flex;
   flex-wrap: nowrap;
   justify-content: flex-start;
   width: 100%;
}
.ways__right_block:nth-child(2n){
   display: flex;
   flex-wrap: nowrap;
   justify-content: flex-end;
   width: 100%;
}

.ways__right_block_container{
   position: relative;
   max-width: 250px;
   font-size: 16px;
   line-height: 155%;
   color: #FFFFFF;
   
}
.ways__right_block_thumb{
   position: absolute;
   top:-40px;
   left: -30px;
   font-size: 96px;
   line-height: 96px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.1);
   z-index: -1;
   font-family: "HelveticaNeueCyr-700" !important;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----======OUR PORTFOLIO======------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.our-portfolio{
   max-width: 981px;
   margin-right: 76px;
   margin-left: auto;
   margin-bottom: 112px;
}
.our-portfolio__title{
   font-size: 28px;
   line-height: 155%;
   color: #FFFFFF;
   margin-bottom: 27px;
}
.swiper-button-next, .swiper-button-prev,.swiper1-button-next, .swiper1-button-prev{
   position: relative;
   top:0;
   left: 0;
   right: 0;
   margin: 0;
}
.swiper-button-next:after, .swiper-button-prev:after{
   content: "";
}
.swiper_navblock{
   display: flex;
   position: absolute;
   left: 0;
   bottom: 0;
}
.swiper-button-prev,.swiper1-button-prev{
   margin-right: 13px;
   
}
.swiper-slide{
   width: 100%;
   max-height: 354px;
   display: grid;
   grid-template-columns: 55.56% 40.37%;
   column-gap: 40px;
   background:#181818;
}
.slider__img-blk{
   position: relative;
   padding-bottom: 47px;
   height: 355px;
}
.slider_project_page-btn{
   position: absolute;
   bottom: 0;
   right: 0;
}
.slider_title{
   font-size: 22px;
   line-height: 155%;
   color: #FFFFFF;
   margin-bottom: 23px;
}
.slider_desctitle{
   position: relative;
   width: fit-content;
   max-width: 396px;
   padding-bottom: 2px;
   font-size: 17px;
   line-height: 155%;
   color: #FFFFFF;
   margin-bottom: 13px;
}
.slider_desctitle:after{
   content: " ";
   position: absolute;
   height: 2px;
   width: calc(100% + 3px);
   bottom: 0;
   left: 0;
   background-color: #FABB03;
}
.slider_desc{
   max-width: 396px;
   font-size: 16px;
   line-height: 155%;
   color: #FFFFFF;
   margin-bottom: 40px;
}
.slider_desc:last-child{
   margin-bottom: 0;
}
.slider_desc span{
   margin-bottom: 10px;
}
.slider_desc span:last-child{
   margin-bottom: 0px;
}
.slider_project_page-btn{
   font-size: 16px;
   line-height: 155%;
   color: #FFFFFF;
   font-family: "HelveticaNeueCyr-800" !important;
   margin-bottom: 10px;
   padding-right: 27px;
}
.slider_project_page-btn::after{
   content:url(../img/svg/page-ico.png);
   position: absolute;
   right: 0;
   bottom: 50%;
   transform: translateY(65%);
}

.swiper1-button-next.swiper-button-disabled, .swiper1-button-prev.swiper-button-disabled {
   opacity: .35;
   cursor: auto;
   pointer-events: none;
}
.first-swiper{
   margin-bottom: 140px;
}
.second-swiper .swiper-slide{
   grid-template-columns: 40.37% 55.56%;
   column-gap: 40px;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----======MORE SERVICES======------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
.more-services{
   position: relative;
   max-width: 1006px;
   margin: 0 auto;
   min-height: 200px;
}
.more-services__title{
   position: absolute;
   font-size: 28px;
   line-height: 155%;
   color: #FFFFFF;
   transform: rotate(-90deg);
   text-align: center;
   width: fit-content;
   left: -170px;
   bottom:-35px;
}
.more-services__main{
   width: 100%;
   display: grid;
   grid-auto-rows: 1fr;
}
.more-services_service-blk{
   display: flex;
   padding-left: 52px;
   align-items: center;
   margin-bottom: 20px;
}
.service-blk_service_title{
   max-width: 257px;
   font-size: 27px;
   line-height: 155%;
   color: #FFFFFF;
}
.service-blk_service_title-blk{
   display: flex;
   flex-direction: column;
   margin-left: 45px;
}
.service-blk_service_title-link{
   max-width:  257px;
   width: fit-content;
   padding-right: 29px;
   font-size: 18px;
   line-height: 155%;
   color: #FFFFFF;
   position: relative;
}
.service-blk_service_title-link::after{
   content: url(../img/svg/more-ico.svg);
   position: absolute;
   top: 3px;
   right: 0;
}
.service-blk_service_desc{
   font-size: 16px;
   line-height: 155%;
   color: #FFFFFF;
   max-width: 425px;
   padding-left: 5px;
   margin-left: auto;
}