/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----========CSS RESET========------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,ol, ul, li,
fieldset, form, label, canvas, footer, header,
menu, nav{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

footer, header, section {
  display: block; }

body {
  line-height: 1;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

a {
  text-decoration: none;
  color: black; }

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========FONTS========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Beba';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/BEBASNEUE_THIN.TTF");
}
@font-face {
  font-family: 'Beba';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/BEBASNEUE_LIGHT.TTF");
}
@font-face {
  font-family: 'Beba';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BEBASNEUE_REGULAR.TTF");
}
@font-face {
  font-family: 'Beba';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/BEBASNEUE_BOOK.TTF");
}
@font-face {
  font-family: 'Beba';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/BEBASNEUE_BOLD.TTF");
}


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------======GLOBAL STYLES======----- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
* {
  box-sizing: border-box; }

main {
  overflow-x: hidden;
  position: relative; }

.wrapper_global {
  width: 1920px;
  margin: 0 auto; 
  display: flex;
  overflow: hidden;
}

.wrapper{
  width: 1651px;
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.active {
  transform: translateX(0) !important; }


body{
  background: #242424;

  .wrapper{
    margin: 0 auto;
  }  
}

main{
  height:100vh;
  overflow-y: auto;
  width: 100%;
  background: #ffffff;
  position: relative;
}

@mixin Beba($size) {
  font-family: 'Beba';
  font-weight: $size !important;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------=======LOADING=======-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.loading{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #242424;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    animation: 3s linear infinite rotate;
  }
}

@keyframes rotate{
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------=======SIDEBAR=======-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.sidebar{
  position: relative;
  left: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: fit-content;
  

  .sidebar_wrap{
    overflow-x: visible;
    overflow-y: auto;
    left: 0;
    top: 0;
    padding: 0 27px 0 13px;

    img{
      margin-top: 30px;
      width: 229px;
      height: 59px;
      margin-bottom: 100px;
    }
    .sidebar_nav{
      margin-bottom: 109px;

      .nav_itemlist{
        padding-left: 14px;
  
        .nav_listitem{
          padding-right: 30px;
  
          a{
            @include Beba(300);
            font-size: 28px;
            line-height: 60px;
            color: #ffffff;
            transition: .3s;
  
            &:hover{
              color: #ffcc00;
            }
          }
        }
  
        .has_child{
          background: url(../img/has_children.png) right center no-repeat;
          background-size: 10px;

          &:hover{
            .listitem_child{
              // max-height: 500px;
              max-width: 500px;
              padding: 10px 20px;
  
            }
          }
          .listitem_child{
            max-width: 0;
            overflow: hidden;
            position: absolute;
            display: block;
            left: calc(100% + 0px);
            background: #242424;
            padding: 10px 0;
            transition: .3s;
            top: 0;
            z-index: 2;
          }
        }
      }
    }
  }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------=======HEADER=======-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */


.header{
  width: 100%;
  padding:15px 96px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left:0;
  top:0;
  z-index: 2;
  animation-duration: 1.2s;

  p{
    color: #242424;
    text-transform: uppercase;
    @include Beba(400);
    font-size: 27px;
    line-height: 22.66px;
    padding: 5px 0 5px 37px; 
    margin-left: 10px;
    background: url(../img/header_tel.png) left center no-repeat;
  }

  .header_mail{
    background: url(../img/header_mail.png) left center no-repeat;
    position: relative;

    span{
      position: absolute;
      left: 0;
      top: 32px;
      display: block;
      padding: 0px 0 0px 37px; 
      font-size: 20px;
      text-decoration: underline;
      max-height: 0;
      overflow: hidden;
      transition: .3s;
      cursor: pointer;
    }

    &:hover{

      span{
        padding: 5px 0 5px 37px; 
        max-height: 40px;
      }
    }
  }
  .header_street{
    background: url(../img/header_place.png) left center no-repeat;
  }
}


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------======CONTACTS MAP======------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.contacts_map{
  width: 100%;
  height: 565px;
  position: relative;
  background-color: blanchedalmond;

  &::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 23px;
    background: #ffcc00;
  }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----=====CONTACTS CONTENT=====----- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.contacts_content{
  width: 100%;

  .wrapper{
    width:  1153px;
    p,a{
      color: #242424;
      @include Beba(400);
      font-size: 29px;
      line-height: 22.86px;
    }
     
    .content_line1,.content_line2,.content_line3{
      position: relative;
      
      &::after{
        position: absolute;
        content:"";
        left: 50%;
        transform: translateX(-50%);
        bottom:0;
        width: 1062px;
        height: 2px;
        background: #d7d7d7;

      }
    }

    .content_line1{
      display: flex;
      justify-content: center;
      padding: 41px 25px 26px 25px;

      p{
        padding: 5px 0 5px 44px;
        background: url(../img/contacts_tel.png) left center no-repeat;
        margin-right: 23px;
        animation-duration: 2s;
      
        &:nth-child(2){
          background: url(../img/contacts_mail.png) left center no-repeat;
          animation-delay: .1s;
        }
        &:nth-child(3){
          background: url(../img/contacts_place.png) left center no-repeat;
        }
        &:nth-child(4){
          animation-delay: .2s;
          background: url(../img/contacts_whatsapp.png) left center no-repeat;
        }      
        &:last-child{
          margin-right: 0;
          animation-delay: .1s;
        }
      }
    }
    .content_line2{
      display: flex;
      justify-content: center;
      padding: 24px 25px 33px 25px;

      p{
        padding: 5px 0 5px 44px;
        background: url(../img/contacts_tel.png) left center no-repeat;
        margin-right: 70px;
        animation-duration: 2s;
      
        &:nth-child(2){
          background: url(../img/contacts_mail.png) left center no-repeat;
        }
        &:nth-child(3){
          background: url(../img/contacts_place.png) left center no-repeat;
        }  
        &:last-child{
          margin-right: 0;
        }  
      }
    }
    .content_line3{
      display: flex;
      justify-content: center;
      padding: 17px 0px 28px 0px;

      p{
        margin-right: 15px;
        display: block;
        padding: 5px 0 5px 35px;
        animation-duration: 2s;
      }
      .green-cube{
        background: url(../img/contacts_greenSquare.png) left center no-repeat;
      }
      .red-cube{
        background: url(../img/contacts_redSquare.png) left center no-repeat;
      }
    }
    .content_line4{
      display: flex;
      align-items: center;
      padding: 42px 0px 95px 0px;

      a{
        font-size: 23px;
        animation-duration: 2s;

        &:first-child{
          padding: 11px 25px 9px 70px;
          background: #ffcc00;
          display: block;
          width: fit-content;
          height: fit-content;
          position: relative;

          &::after{
            content: "";
            position: absolute;
            left: 7px;
            top: -12px;
            width: 53px;
            height: 53px;
            background: url(../img/contacts_setWay.png) center no-repeat;
            background-size: cover;

          }
        }

        &:nth-child(2){
          margin-left: 103px;
        }

        &:nth-child(3){
          margin-left: auto;
          margin-right: 42px;
          padding: 11px 45px 9px 70px;
          background: #ffcc00;
          display: block;
          width: fit-content;
          height: fit-content;
          position: relative;

          &::after{
            content: "";
            position: absolute;
            left: 18px;
            top: 50%;
            transform: translateY(-50%);
            width: 35px;
            height: 24px;
            background: url(../img/contacts_youTubeColored.png) center no-repeat;
            background-size: cover;
          }
        }
      }
        

    }
  }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------=======FOOTER=======-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

footer{
  width: 100%;
  padding: 22px 47px 39px 46px;
  background: black;
  display: flex;

  .footer_col1{
    width: 329px;
    margin-top: 26px; 

    .footer_col1_logo{
      width: 229px;
      height: 59px;
      margin-bottom: 30px;
    }

    .footer_col1_title{
      color: #ffffff;
      font-size: 22px;
      @include Beba(400);
      line-height: 25px;
      margin-bottom: 24px;
    }

    .footer_col1_desc{
      width: 308px;
      color: #ffffff;
      font-size: 18px;
      @include Beba(400);
      line-height: 22px;
      margin-bottom: 34px;
    }
    
    .footer_col1_payments{
      margin-bottom: 20px;

      img{
        margin-right: 21px;
      }
    }

    .footer_col1_payments_subtitle{
      @include Beba(400);
      font-size: 18px;
      color: #ffffff;
    }
  }

  .footer_col2{
    margin-left: 106px;
    margin-top: 14px;

    .footer_col2_title{
      color: #ffcc00;
      @include Beba(400);
      font-size: 22px;
      margin-bottom: 26px; 
    }

    .footer_col2_nav{

      .footer_col2_navitem{
        margin-bottom: 20px;

        a{
          @include Beba(400);
          font-size: 22px;
          color: #ffffff;
        }
        
      }
    }
  }

  .footer_col3{
    margin-top: 36px;
    margin-left: 216px;

    .footer_col3_gallery{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: 6px;
      row-gap: 6px;
      margin-bottom: 28px;

      .footer_col3_galleryItem{
        width: 80px;
        height: 80px;
      }
    }
    .footer_col3_subscribe{
      display: block;
      font-size: 22px;
      @include Beba(400);
      color: #ffffff;

      a{
        font-size: 22px;
        @include Beba(400);
        color: #ffcc00;
        text-decoration: underline;
      }
    }
  }

  .footer_col4{
    margin-left: 165px;

    .footer_col4_title{
      width: 265px;
      height: 60px;
      margin-left: 32px;
      margin-bottom: 45px;
    }

    p{
      padding: 5px 0 5px 43px;
      margin-bottom: 6px;
      background: url(../img/footer_mail.png) left center no-repeat;
    }

    p,a{
      color: #ffffff;
      font-size: 22px;
      @include Beba(400);
    }

    p:nth-of-type(2){
      background: url(../img/footer_tel.png) left center no-repeat;
    
      a{
        font-size: 30px;
        color: #ffcc00;
        @include Beba(600);
      }
    }

    p:nth-of-type(3){
      background: url(../img/footer_phone.png) left center no-repeat;
    
      a{
        text-decoration: underline;
      }
    }

    p:nth-of-type(4){
      background: url(../img/footer_inst.png) left center no-repeat;
    }

    p:nth-of-type(5){
      background: url(../img/footer_place.png) left center no-repeat;
    }

    p:nth-of-type(6){
      background: url(../img/footer_time.png) left center no-repeat;
    }
  }
}


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------=======MEDIA========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

@media screen and (max-width: 1920px){
  .wrapper_global {
    width: 100vw;
  }
  .sidebar{

    .sidebar_wrap{
      padding: 0 1.406vw 0 0.677vw;

      img{
        margin-top: 1.563vw;
        width: 11.927vw;
        height: 3.073vw;
        margin-bottom: 5.208vw;
      }
      .sidebar_nav{
        margin-bottom: 5.677vw;

        .nav_itemlist{
          padding-left: 0.729vw;
    
          .nav_listitem{
            padding-right: 1.563vw;
    
            a{
              font-size: 1.458vw;
              line-height: 3.125vw;
            }
          }
    
          .has_child{
            
            &:hover{
              .listitem_child{
                max-width: 26.042vw;
                padding: 0.521vw 1.042vw;
    
              }
            }
            .listitem_child{
              padding: 0.521vw 0;
            
            }
          }
        }
      }
    }
  }

  .header{
    padding:0.781vw 5vw;

    p{
      font-size: 1.406vw;
      line-height: 1.191vw;
      padding: 0.260vw 0 0.260vw 1.927vw; 
      margin-left: 0.521vw;

      background-size: 1.667vw 1.667vw !important;
    }

    .header_mail{

      span{
        top: 1.667vw;
        padding: 0px 0 0px 1.927vw; 
        font-size: 1.042vw;
      }

      &:hover{

        span{
          padding: 0.260vw 0 0.260vw 1.927vw; 
          max-height: 2.083vw;
        }
      }
    }
  }

  .contacts_map{
    height: 29.427vw;

    &::after{
      height: 1.198vw;
    }
  }

  .contacts_content{

    .wrapper{
      width:  60.052vw;
      p,a{
        font-size: 1.510vw;
        line-height: 1.191vw;
      }
      
      .content_line1,.content_line2,.content_line3{
        
        &::after{
          width: 55.313vw;
          height: 0.104vw;
        }
      }

      .content_line1{
        padding: 2.135vw 1.302vw 1.354vw 1.302vw;

        p{
          padding: 0.260vw 0 0.260vw 2.292vw;
          margin-right: 1.198vw;

          background-size: 1.667vw 1.667vw !important;
        }
      }
      .content_line2{
        padding: 1.250vw 1.302vw 1.719vw 1.302vw;

        p{
          padding: 0.260vw 0 0.260vw 2.292vw;
          margin-right: 3.646vw; 

          background-size: 1.667vw 1.667vw !important;
        }
      }
      .content_line3{
        padding: 0.885vw 0px 1.458vw 0px;

        p{
          margin-right: 0.781vw;
          padding: 0.260vw 0 0.260vw 1.823vw;
        }

        .green-cube, .red-cube{
          background-size: 1.250vw;
        }
      }
      .content_line4{
        padding: 2.188vw 0px 4.948vw 0px;

        a{
          font-size: 1.198vw;

          &:first-child{
            padding: 0.573vw 1.302vw 0.469vw 3.646vw;

            &::after{
              left: 0.365vw;
              top: -0.625vw;
              width: 2.760vw;
              height: 2.760vw;
            }
          }

          &:nth-child(2){
            margin-left: 5.365vw;

            img{
              width: 11.458vw;
              height: 3.333vw;
            }
          }

          &:nth-child(3){
            margin-right: 2.188vw;
            padding: 0.573vw 2.344vw 0.469vw 3.646vw;

            &::after{
              left: 0.938vw;
              width: 1.823vw;
              height: 1.250vw;
            }
          }
        }
      }
    }
  }

  footer{
    padding: 1.146vw 2.448vw 2.031vw 2.396vw;

    .footer_col1{
      width: 17.135vw;
      margin-top: 1.354vw; 

      .footer_col1_logo{
        width: 11.927vw;
        height: 3.073vw;
        margin-bottom: 1.563vw;
      }

      .footer_col1_title{
        font-size: 1.146vw;
        line-height: 1.302vw;
        margin-bottom: 1.250vw;
      }

      .footer_col1_desc{
        width: 16.042vw;
        font-size: 0.938vw;
        line-height: 1.146vw;
        margin-bottom: 1.771vw;
      }
      
      .footer_col1_payments{
        margin-bottom: 1.042vw;

        img{
          margin-right: 1.094vw;

          &:nth-child(1){
            width: 2.135vw;
            height: 2.240vw;
          }
          &:nth-child(2),&:nth-child(3),&:nth-child(4){
            width: 3.177vw;
            height: 1.771vw;
          }
        }
      }

      .footer_col1_payments_subtitle{
        font-size: 0.938vw;
      }
    }

    .footer_col2{
      margin-left: 5.521vw;
      margin-top: 0.729vw;

      .footer_col2_title{
        font-size: 1.146vw;
        margin-bottom: 1.354vw; 
      }

      .footer_col2_nav{

        .footer_col2_navitem{
          margin-bottom: 1.042vw;

          a{
            font-size: 1.146vw;
          }
        }
      }
    }

    .footer_col3{
      margin-top: 1.875vw;
      margin-left: 11.250vw;

      .footer_col3_gallery{
        column-gap: 0.313vw;
        row-gap: 0.313vw;
        margin-bottom: 1.458vw;

        .footer_col3_galleryItem{
          width: 4.167vw;
          height: 4.167vw;
        }
      }
      .footer_col3_subscribe{
        font-size: 1.146vw;

        a{
          font-size: 1.146vw;
        }
      }
    }

    .footer_col4{
      margin-left: 8.594vw;

      .footer_col4_title{
        width: 13.802vw;
        height: 3.125vw;
        margin-left: 1.667vw;
        margin-bottom: 2.344vw;
      }

      p{
        padding: 0.260vw 0 0.260vw 2.240vw;
        background-size: 1.563vw 1.563vw;
      }

      p,a{
        font-size: 1.146vw;
      }

      p:nth-of-type(2){
        background-size: 1.563vw 1.563vw;
        a{
          font-size: 1.563vw;
        }
      }

      p:nth-of-type(3){
        background-size: 1.563vw 1.563vw;
        
        a{
          text-decoration: underline;
        }
      }

      p:nth-of-type(4){
        background: url(../img/footer_inst.png) left center no-repeat;
        background-size: 1.563vw 1.563vw;
      }

      p:nth-of-type(5){
        background: url(../img/footer_place.png) left center no-repeat;
        background-size: 1.563vw 1.563vw;
      }

      p:nth-of-type(6){
        background: url(../img/footer_time.png) left center no-repeat;
        background-size: 1.563vw 1.563vw;
      }
    }
  }

}

@media screen and (max-width: 1200px){
  .wrapper_global{
    flex-direction: column;
    width: 100%;

    .sidebar{
      height: fit-content;
      width: 100%;

      .sidebar_wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.406vw 0 2.4vw;
        overflow-y: visible;

        .sidebar_logo{
          margin-bottom: 1.563vw;
          width: 19.083vw;
          height: 4.917vw;
        }

        .sidebar_nav{
          margin-bottom: 0;
          height: fit-content;

          .nav_itemlist{
            display: flex;

            a{
              font-size: 2.333vw;
            }

            .has_child-mob{
              position: relative;
              padding-right: 2.17vw;

              &::after{
                content: "";
                background: url(../img/has_children.png) center no-repeat;
                background-size: cover;
                position: absolute;
                right: 0.817vw;
                top:50%;
                transform: translateY(-50%);
                width: 0.733vw;
                height: 0.733vw;
                transition: .3s;
              }

              .listitem_child{
                position: absolute;
                left: 0;
                top: 100% !important;
                max-width: 0;
                max-height: 0;
                z-index: 3;
                overflow: hidden;
                transition: .3s;
                max-width: unset;
                max-height: 0 !important;
                background: #242424;
                padding: 0 20px;
              }

              &:hover{
                
                &:after{
                  transform:translateY(-50%) rotate(90deg);
                }
                .listitem_child{
                  max-width: unset;
                  max-height: 300px !important;
                  padding: 20px 20px;
                }
              }
            }
          }
          
        }
      }
    }

    main{
      height: unset;

      .header{
        padding:1.781vw 5vw;
    
        p{
          font-size: 2.250vw;
          line-height: 1.191vw;
          padding: 0.260vw 0 0.260vw 1.927vw; 
          margin-left: 0.521vw;
    
          background-size: 1.667vw 1.667vw !important;
        }
    
        .header_mail{
    
          span{
            top: 1.667vw;
            padding: 0px 0 0px 1.927vw; 
            font-size: 1.042vw;
          }
    
          &:hover{
    
            span{
              padding: 0.260vw 0 0.260vw 1.927vw; 
              max-height: 2.083vw;
            }
          }
        }
      }
    
      .contacts_map{
        height: 29.427vw;
    
        &::after{
          height: 1.917vw;
        }
      }
    
      .contacts_content{
    
        .wrapper{
          width:  95vw;
          p,a{
            font-size: 2.417vw;
            line-height: 1.191vw;
          }
          
          .content_line1,.content_line2,.content_line3{
            
            &::after{
              width: 75.313vw;
              height: 0.104vw;
            }
          }
    
          .content_line1{
            padding: 2.750vw 1.302vw 1.583vw 1.302vw;
    
            p{
              padding: 0.833vw 0 0.833vw 3.833vw;
              margin-right: 1.198vw;
    
              background-size: 2.667vw 2.667vw !important;
            }
          }
          .content_line2{
            padding: 1.167vw 1.302vw 1.167vw 1.302vw;
    
            p{
              padding: 0.833vw 0 0.833vw 3.833vw;
              margin-right: 3.646vw; 
    
              background-size: 2.667vw 2.667vw !important;
            }
          }
          .content_line3{
            padding: 1.167vw 0px 1.167vw 0px;
    
            p{
              margin-right: 0.781vw;
              padding: 0.833vw 0 0.833vw 1.823vw;
            }
    
            .green-cube, .red-cube{
              background-size: 1.250vw;
            }
          }
          .content_line4{
            padding: 2.188vw 0px 4.948vw 0px;
    
            a{
              font-size: 1.917vw;
    
              &:first-child{
                padding: 0.917vw 2.083vw 0.750vw 5.833vw ;
    
                &::after{
                  left: 0.583vw;
                  top: -0.625vw;
                  width: 4.333vw;
                  height: 4.333vw;
                }
              }
    
              &:nth-child(2){
                margin-left: 8.583vw;
    
                img{
                  width: 18.333vw;
                  height: 5.333vw ;
                }
              }
    
              &:nth-child(3){
                margin-right: 3.188vw;
                padding: 0.917vw 3.750vw 0.750vw 5.833vw;
    
                &::after{
                  left: 1.500vw;
                  width: 2.917vw;
                  height: 2.083vw;
                }
              }
            }
          }
        }
      }
    
      footer{
        padding:4vw 2.448vw 3.250vw 2.396vw;
    
        .footer_col1{
          width: 27.417vw;
          margin-top: 2.167vw; 
    
          .footer_col1_logo{
            width: 19.083vw;
            height: 4.917vw;
            margin-bottom: 2.500vw;
          }
    
          .footer_col1_title{
            font-size: 1.533vw;
            line-height: 1.302vw;
            margin-bottom: 2vw;
          }
    
          .footer_col1_desc{
            width: 25.667vw;
            font-size: 1.500vw;
            line-height: 1.8vw;
            margin-bottom: 3.333vw;
          }
          
          .footer_col1_payments{
            margin-bottom: 1.750vw;
    
            img{
              margin-right: 1.833vw;
    
              &:nth-child(1){
                width: 3.417vw;
                height: 3.583vw;
              }
              &:nth-child(2),&:nth-child(3),&:nth-child(4){
                width: 5.083vw;
                height: 3vw;
              }
            }
          }
    
          .footer_col1_payments_subtitle{
            font-size: 1.500vw;
          }
        }
    
        .footer_col2{
          margin-left: 1.221vw;
          margin-top: 1.167vw;
    
          .footer_col2_title{
            font-size: 1.533vw;
            margin-bottom: 3.233vw; 
          }
    
          .footer_col2_nav{
    
            .footer_col2_navitem{
              margin-bottom: 3.233vw;
    
              a{
                font-size: 1.533vw;
              }
            }
          }
        }
    
        .footer_col3{
          margin-top: 3vw;
          margin-left: 7.50vw;
    
          .footer_col3_gallery{
            column-gap:0.500vw;
            row-gap: 0.500vw;
            margin-bottom: 2.417vw;
    
            .footer_col3_galleryItem{
              width: 6.667vw;
              height: 6.667vw;
            }
          }
          .footer_col3_subscribe{
            font-size: 1.533vw;
    
            a{
              font-size: 1.533vw;
            }
          }
        }
    
        .footer_col4{
          margin-left: 5.5vw;
          width: 22vw;
    
          .footer_col4_title{
            width: 22.083vw;
            height: 5vw;
            margin-left: 1.267vw;
            margin-bottom: 2.344vw;
          }
    
          p{
            padding: 0.833vw 0 0.833vw 3.583vw;
            background-size: 2.500vw 2.500vw;
          }
    
          p,a{
            font-size: 1.833vw;
          }
    
          p:nth-of-type(2){
            background-size: 2.500vw;
            a{
              font-size: 2.500vw;
            }
          }
    
          p:nth-of-type(3){
            background-size: 2.500vw;
            
            a{
              text-decoration: underline;
            }
          }
    
          p:nth-of-type(4){
            background: url(../img/footer_inst.png) left center no-repeat;
            background-size: 2.500vw;
          }
    
          p:nth-of-type(5){
            background: url(../img/footer_place.png) left center no-repeat;
            background-size: 2.500vw;
          }
    
          p:nth-of-type(6){
            background: url(../img/footer_time.png) left center no-repeat;
            background-size: 2.500vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px){
  .wrapper_global{
    
    .sidebar{
      position: unset;
      .sidebar_wrap{
        align-items: center;
        padding: 1.875vw 5.625vw;

        .sidebar_nav{
          position: fixed;
          width: 100%;
          height: 100vh;
          left: 0;
          top: 0;
          max-height: unset;
          background: #242424;
          z-index: 5;
          padding: 12.500vw 18.750vw 0 18.750vw;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateX(100%);
          transition: transform .3s;

          .burger-close{
            display: block !important;
            position: absolute;
            top: 2.500vw;
            right: 2.125vw;
            width: fit-content;
            margin: 0;
          }

          .nav_itemlist{
            flex-direction: column;
            position: sticky;
            overflow: scroll;
            height: 100%;
            top: 0;
            padding-right: 2.500vw;

            .nav_listitem{
              margin-bottom: 2.500vw;
              
              a{
                font-size: 5vw;
                line-height: 3.750vw;
              }
              
            }

            .has_child-mob{

              & > a{
                position: relative;
                padding-right: 2.500vw;

                &:after{
                  position: absolute;
                  content: "";
                  top: 50%;
                  transform: translateY(-50%);
                  right: 0;
                  background: url(../img/has_children.png) center;
                  background-size: cover;
                  transition: .3s;
                  width: 1.250vw;
                  height: 1.250vw;
                }
              }

              .listitem_child{
                position: relative !important;
                width: fit-content;
                top: 0 !important;
                transition: .5s;

                .childitem{
                  margin-bottom: 2.500vw;
                  
                  a{
                    line-height: 3.750vw;
                  }
                  
  
                  &:last-child{
                    margin-bottom: 0;
                  }
                }
              }
              
              &::after{
                display: none;
              }

              &:hover{

                .listitem_child{
                  
                  max-height: 900px !important;
                }

                & > a{
  
                  &:after{
                    transform: translateY(-50%) rotate(90deg);
  
                  }
                }
              }
            }
          }
          
        }

        .burger{
          display: block !important;
          height: 5.625vw;
          margin: 0;
        }
      }
    }

    main{

      .header{
        display: none;
      }

      .contacts_map{
        height: 58.427vw;

        &::after{
          height: 3.917vw; 
        }
      }

      .contacts_content{

        .wrapper{
          p,a{
            font-size: 4.417vw;
            line-height: 6.191vw;
            
          }

          .content_line1{
            padding: 6.75vw 1.302vw 1.583vw 1.302vw;
            flex-wrap: wrap;

            p{
              background-size: 4.667vw !important;
              padding: 0.833vw 0 0.833vw 5.833vw;
              margin-right: 2.198vw;
            }
          }

          .content_line2{
            flex-wrap: wrap;
            padding: 4vw 1.302vw 2vw 1.302vw;

            p{
              background-size: 4.667vw !important;
              padding: 0.833vw 0 0.833vw 5.833vw;
              margin-right: 2.198vw;
            }
          }

          .content_line3{
            flex-wrap: wrap;
            padding: 4vw 1.302vw 2vw 1.302vw;

            p{
              background-size: 4.667vw !important;
              padding: 0.833vw 0 0.833vw 5.833vw;
              margin-right: 2.198vw;
            }
          }

          .content_line4{
            flex-wrap: wrap;
            padding: 4vw 1.302vw 2vw 1.302vw;
            justify-content: center;

            a{
              margin-right: 2vw;
              font-size: 4.417vw;
              line-height: 6.191vw;
              padding: 0.917vw 2.083vw 0.750vw 10.833vw !important;
              margin-bottom: 5vw;
              margin-left: 2vw;

              &:first-child{

                &::after{
                  width: 8vw;
                  height: 8vw;
                }
              }

              &:nth-child(2){
                padding: 0 !important;

                img{
                  width: 33.333vw;
                  height: 9.333vw;
                }
              }

              &:last-child{

                &::after{
                  width: 7.917vw;
                  height: 5.083vw;
                }
              }
            }
          }
        }
      }

      footer{
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-template-rows: 1fr min-content;
        padding: 4.125vw 4.750vw 27.875vw 7.250vw;
         
        .footer_col1{
          width: 41.125vw;
          padding-bottom: 15.875vw;

          .footer_col1_logo{
            width: 29.375vw;
            height: 7.9vw;
            margin-bottom: 1.250vw;
          }

          .footer_col1_title{
            font-size: 2.750vw;
            width: unset;
            margin-bottom: 3vw;
          }

          .footer_col1_desc{
            display: none;
          }

          .footer_col1_payments{
            margin-bottom: 2.500vw;

            img:nth-child(1){
              width: 5.125vw;
              height: 5.375vw;
              margin-right: 2.750vw;
            }
            img:nth-child(2),img:nth-child(3),img:nth-child(4){
              width: 7.625vw;
              height: 4.250vw;
              margin-right: 2.750vw;
            }
          }

          .footer_col1_payments_subtitle{
            font-size: 2.250vw;
          }
        }

        .footer_col2{
          display: none;
        }

        .footer_col3{
          margin: 0;

          .footer_col3_gallery{
            column-gap: 0.750vw;
            row-gap: 0.750vw;
            margin-bottom: 2.250vw;

            .footer_col3_galleryItem{
              width: 10vw;
              height: 10vw;
            }
          }

          .footer_col3_subscribe{
            width: 18.125vw;
            display: block;
            margin-left: auto;
            font-size: 3.625vw;
            width: fit-content;
            text-align: right;
            margin-bottom: 21px;

            a{
              font-size: 3.625vw;
              display: block;
              text-align: right;
            }
          }
        }

        .footer_col4{
          margin: 0;
          margin-top: -15.875vw;
          width: unset;
          grid-column-start: 1;
          grid-column-end: 3;

          .footer_col4_title{
            width: 51.375vw;
            height: 9.5vw;
            margin-left: 0;
          }

          p{
            background-size: 6.500vw !important;
            padding: 0.933vw 0 0.933vw 8.583vw;
            font-size: 4.750vw;
            margin-bottom: 2.250vw;
            
            a{
              font-size: 4.750vw !important;
            }
          }
        }
      }
    }
  }
}