/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----========CSS RESET========------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,ol, ul, li,
fieldset, form, label, canvas, footer, header,
menu, nav{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

footer, header, section {
  display: block; }

body {
  line-height: 1;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

a {
  text-decoration: none;
  color: black; }

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========FONTS========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Beba';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/BEBASNEUE_THIN.TTF");
}
@font-face {
  font-family: 'Beba';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/BEBASNEUE_LIGHT.TTF");
}
@font-face {
  font-family: 'Beba';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BEBASNEUE_REGULAR.TTF");
}
@font-face {
  font-family: 'Beba';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/BEBASNEUE_BOOK.TTF");
}
@font-face {
  font-family: 'Beba';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/BEBASNEUE_BOLD.TTF");
}


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------======GLOBAL STYLES======----- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
* {
  box-sizing: border-box; }

main {
  overflow-x: hidden;
  position: relative; }

.wrapper_global {
  width: 1920;
  margin: 0 auto; }

.wrapper{
  width: 1651px;
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.active {
  transform: translateX(0) !important; }


body{
  background: #242424;

  .wrapper{
    display: flex;
  }
}

main{
  height:20000px;
}

@mixin Beba($size) {
  font-family: 'Beba';
  font-weight: $size !important;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------=======SIDEBAR=======-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 27px 0 13px;
  justify-content: flex-end;
  

  .sidebar_wrap{
    position: sticky; 
    overflow: auto;
    img{
      margin-top: 30px;
      width: 229px;
      height: 59px;
      margin-bottom: 100px;
    }
    .sidebar_nav{
      margin-bottom: 109px;

      .nav_itemlist{
        padding-left: 14px;
  
        .nav_listitem{
          padding-right: 30px;
  
          a{
            @include Beba(300);
            font-size: 28px;
            line-height: 60px;
            color: #ffffff;
            transition: .3s;
  
            &:hover{
              color: #ffcc00;
            }
          }
        }
  
        .has_child{
          background: url(../img/svg/has_children.svg) right center no-repeat;
          
          &:hover{
            .listitem_child{
              // max-height: 500px;
              max-width: 500px;
              padding: 10px 20px;
  
            }
          }
          .listitem_child{
            
            // max-height: 0;
            max-width: 0;
            overflow: hidden;
            position: absolute;
            // left: calc(100% + 0px);
            right: 0;
            background: #242424;
            padding: 10px 0;
            top: 0;
            transition: .3s;
          }
        }
      }
    }
  }


}