/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----========CSS RESET========------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
:focus {
   outline: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}

body {
 line-height: 1;
}

ol, ul {
 list-style: none;
}

blockquote, q {
 quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
   -webkit-appearance: none;
   -moz-appearance: none;
}

input[type=search] {
   -webkit-appearance: none;
   -moz-appearance: none;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

textarea {
   overflow: auto;
   vertical-align: top;
   resize: vertical;
}
audio,
canvas,
video {
   display: inline-block;
   *display: inline;
   *zoom: 1;
   max-width: 100%;
}
audio:not([controls]) {
   display: none;
   height: 0;
}
[hidden] {
   display: none;
}
html {
   font-size: 100%; /* 1 */
   -webkit-text-size-adjust: 100%; /* 2 */
   -ms-text-size-adjust: 100%; /* 2 */
}
a:focus {
   outline: thin dotted;
}
a:active,
a:hover {
   outline: 0;
}
img {
   border: 0; /* 1 */
   -ms-interpolation-mode: bicubic; /* 2 */
}
figure {
   margin: 0;
}
form {
   margin: 0;
}
fieldset {
   border: 1px solid #c0c0c0;
   margin: 0 2px;
   padding: 0.35em 0.625em 0.75em;
}
legend {
   border: 0; /* 1 */
   padding: 0;
   white-space: normal; /* 2 */
   *margin-left: -7px; /* 3 */
}
button,
input,
select,
textarea {
   font-size: 100%; /* 1 */
   margin: 0; /* 2 */
   vertical-align: baseline; /* 3 */
   *vertical-align: middle; /* 3 */
}
button,
input {
   line-height: normal;
}
button,
select {
   text-transform: none;
}


button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
   -webkit-appearance: button; /* 2 */
   cursor: pointer; /* 3 */
   *overflow: visible;  /* 4 */
}
button[disabled],
html input[disabled] {
   cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
   box-sizing: border-box; /* 1 */
   padding: 0; /* 2 */
   *height: 13px; /* 3 */
   *width: 13px; /* 3 */
}
input[type="search"] {
   -webkit-appearance: textfield; /* 1 */
   -moz-box-sizing: content-box;
   -webkit-box-sizing: content-box; /* 2 */
   box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}
textarea {
   overflow: auto; /* 1 */
   vertical-align: top; /* 2 */
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

html,
button,
input,
select,
textarea {
   color: #222;
}


::-moz-selection {
   background: #b3d4fc;
   text-shadow: none;
}

::selection {
   background: #b3d4fc;
   text-shadow: none;
}

img {
   vertical-align: middle;
}

fieldset {
   border: 0;
   margin: 0;
   padding: 0;
}

textarea {
   resize: vertical;
}

.chromeframe {
   margin: 0.2em 0;
   background: #ccc;
   color: #000;
   padding: 0.2em 0;
}
a{
   text-decoration: none;
   color: black;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========FONTS========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
@font-face {
    font-family: Avenir;
    src: url(../fonts/avenir-next.woff); 
}
@font-face {
    font-family: CircleF;
    src: url(../fonts/circe-light.woff); 
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------======GLOBAL STYLES======----- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
*{
    font-family: "Avenir" !important;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
    flex-shrink: 0;
}
a:focus, a:visited{
   outline: none;
}

@media screen and (max-width:375px){
    .x_active{
        transform: translateX(0) !important;
    }
    .visible{
        display: block !important;
    }
    .size_fix{
        height: fit-content !important;
        overflow-y: unset !important;
    }
    .y_active{
        transform: translateY(0) !important;
    }
    html{
        background: #F4F6F9;
    }
    .wrapper{
        margin: 0 auto;
        max-width: 336px;
    }
    ::-webkit-scrollbar-track {
        width: 3px;
    }
    
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* -------========HEADER========------- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    header{ 
        font-family: "CircleF" !important;
        position: absolute;
        padding-top: 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .header-burger{
        width: 60px;
        height: 34px;
        background-color: #45596B;
        border-radius:0 50px 50px 0;
        display: inline-block;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding:10px 10px;
        position: absolute;
    }
    .header-burger span{
        top: 0;
        left: 0;
        display: block;
        height: 2px;
        background-color: white;
        border-radius: 3px;
    }
    .header-burger span:nth-child(1){
        width: 25px;
    }
    .header-burger span:nth-child(2){
        width: 15px;
    }
    .header-burger span:nth-child(3){
        width: 20px;
    }
    .header-stories{
        display: flex;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        border-radius: 35px 0 0 35px;
    }
    .header-stories__story-cont{
        height: 60px;
        width: 60px;
    }
    .header-stories::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }

    .header-menu{
        position: absolute;
        background: #F4F6F9;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        transform: translateX(-100%);
        transition: .3s;
        overflow: auto;
    }
    .header-menu__header{
       padding: 17px 34px 17px 18px;
       background: #45596B;
       display: flex;
       align-items: center;
    }
    .header_logo{
        width: auto;
        height: 20px;
        margin-left: 18px;
    }
    .header_number{
        margin-left: auto;
        color: white;
        font-size: 18px;
        line-height: 148.9%;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        padding-left: 23px;
        background: url(../images/phone-ico.png) left center no-repeat;
    }
    .header-menu__main{
        position: relative;
    }
    .main-menu-menu__stories{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        background: white;
    }
    .main-menu__nav-blocks{
        display: flex;
        justify-content: center;
        position: relative;
    }
    .main-menu_inner,.sub-menu_main{
        padding: 14px 70px 14px 24px;
    }
    .main-menu_inner{
        margin-bottom: 75px;
    }
    .main-menu_first-list,.sub-menu_itemlist{
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #45596B;
    }
    .main-menu_first-list .main-menu_list-item:last-child{
        border: none;
    }
    .main-menu_second-list{
        font-size: 15px;
        line-height: 26px;
        color: #45596B;
        width: 281px;
    }
    .main-menu_list-item,.sub-menu-item{
        padding: 16px 0 16px 9px;
        width: 100%;
        border-bottom: 1px solid rgba(69, 89, 107, 0.2);
        background: url(../images/svg/menu-arrow-r-ico.svg) right center no-repeat;
    }
    .items_sub-menu{
        position: absolute;
        width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        background: #F4F6F9;
        transform: translateX(-100%);
        transition: .3s;
    }
    .sub-menu_header{
        width: 100%;
        background: #FFFFFF;
        padding: 30px 0 30px 28px;
    }
    .sub-menu_header-link{
        padding-left: 18px;
        background: url(../images/svg/menu-arrow-l-ico.svg) left center no-repeat;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.24px;
        color: #45596B;
    }
    .sub-menu_itemlist{
        padding-top: 50px;
    }
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* -------=========INTRO========------- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    .intro{
        background: url(../images/intro-bg.png);
        min-height: 214px;
        padding:120px 46px 0 23px;
    }
    .intro-title{
        font-weight: 600;
        font-size: 24px;
        line-height: 124%;
        color: white;
    }
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* -------=======MAIN MENU======------- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    .main-menu{
        padding-top: 20px;
    }
    .main-menu__nav{
        width: 100%;
        overflow-x: scroll;
        padding-bottom: 33px;
        border-radius: 15px 0 0 35px;
    }
    .main-menu__nav_container{
        display: flex;
    }
    .main-menu_nav-item,.examples_nav-item{
        background: #ECF0F3;
        box-shadow: 6px 6px 5px #D1D9E6, -6px -6px 10px #FFFFFF;
        border-radius: 12px;
        padding:8px 18px;
        font-weight: 450;
        font-size: 14px;
        line-height: 20px;
        margin-right: 10px;
        letter-spacing: -0.24px;
        color: #828181;
    }
    .main-menu_nav-item:first-child{
        margin-left: 14px;
    }
    .nav-item-active{
        background: #FACC00;
        box-shadow: 6px 6px 5px #D1D9E6, -6px -6px 10px #FFFFFF, inset 3px 3px 5px rgba(69, 89, 107, 0.18), inset -3px -3px 5px rgba(255, 255, 255, 0.4);
        color: white;
    }
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* -----=====MAIN MENU BLOCKS=====----- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    .block-header{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        align-items: center;
        margin-bottom: 28px;
        padding: 20px 0px 20px 0px;
    }
    .block-header_title{
        font-weight: 600;
        font-size: 18px;
        line-height: 103%;
        color: #45596B;
    }
    .header_show-all{
        font-weight: 450;
        font-size: 13px;
        line-height: 10px;
        letter-spacing: -0.24px;
        color: rgba(69, 89, 107, 0.31);
    }
    .nav-block {
        padding-bottom: 20px;
        position: absolute;
        transform: translateX(-120%);
        margin-bottom: 50px;
        height: 0;
        overflow-y: auto;
    }
    /* ------------------------------------ */
    /* -------=======SERVICES======-------- */
    /* ------------------------------------ */
    .services_secvice{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .service-img{
        border-radius: 10px;
        filter: drop-shadow(3px 0px 10px rgba(0, 0, 0, 0.1));
    }
    .service_desc_title{
        width: fit-content;
        font-weight: 600;
        font-size: 14px;
        line-height: 103%;
        color: #45596B;
        padding-right: 24px;
        background: url(../images/svg/arrow-r.svg) right center no-repeat;
        margin-bottom: 15px;
    }
    .service_desc-cont{
        position: relative;
        background-color: white;
        padding: 13px 15px 8px 16px;
        text-align: center;
        border-radius:0 12px 12px 0;
        box-shadow: 4px 3px 7px rgba(209, 217, 230, 0.54), -6px -6px 10px rgba(255, 255, 255, 0.09);
    }
    .service_desc_price{
        font-weight: 450;
        font-size: 13px;
        line-height: 111%;
        color: rgba(98, 118, 138, 0.6);
        margin-bottom: 22px;
        text-align: left;
    }
    .service_desc-more{
        font-weight: 600;
        font-size: 13px;
        line-height: 103%;
        color: #45596B;
    }
    .service_desc-more::after{
        content: "";
        background: url(../images/svg/i.svg);
        position: absolute;
        right: -6px;
        bottom: -6px;
        height: 30px;
        width: 30px;
        box-shadow: 3px 3px 5px rgba(69, 89, 107, 0.19), -3px -3px 5px rgba(209, 217, 230, 0.36);
        border-radius: 25px;
    }
    /* ------------------------------------ */
    /* ---------=======ABOUT======--------- */
    /* ------------------------------------ */
    .about_desc{
        font-size: 14px;
        line-height: 103%;
        color: rgba(69, 89, 107, 0.6);
    }
    .about_desc p{
        margin-bottom: 13px;
    }
    .about_tagline{
        margin-top: 20px;
        font-size: 14px;
        line-height: 103%;
        font-weight: 700;
        color: rgb(69 89 112);
    }
    /* ------------------------------------ */
    /* --------======REVIEWS======--------- */
    /* ------------------------------------ */
    .rew_review{
        width: 328px;
        height: 190px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 14px;
    }
    .review_desc{
        position: absolute;
        width: 100.4%;
        height: 55%;
        background: linear-gradient(180deg, rgba(69, 89, 107, 0) 0%, rgba(69, 89, 107, 0.25) 22.4%, rgba(69, 89, 107, 0.71) 38.54%, rgba(69, 89, 107, 0.97) 64.06%, rgba(69, 89, 107, 0.92) 83.33%), linear-gradient(180deg, rgba(69, 89, 107, 0) 0%, rgba(69, 89, 107, 0) 0.01%, rgba(69, 89, 107, 0.85) 63.54%, rgba(69, 89, 107, 0.85) 80.73%, rgba(69, 89, 107, 0.85) 85.42%);
        bottom: 0;
        left:0;
        border: 0;
        padding:35px 23px 7px 23px;
        border-radius: 0 0 10px 10px;
    }
    .desc_top{
        font-weight: 450;
        font-size: 15px;
        line-height: 103%;
        color: #FFFFFF;
        margin-bottom: 12px;
    }
    .desc_bottom{
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        line-height: 103%;
    }
    .desc_client-name{
        color: rgba(209, 217, 230, 0.63);
    }
    .desc_post-date{
        color: white;
    }
    /* ------------------------------------ */
    /* --------======CLEANERS======-------- */
    /* ------------------------------------ */
    .cleaners_cleaner{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .cleaner-img{
        border-radius: 10px;
        filter: drop-shadow(3px 0px 10px rgba(0, 0, 0, 0.1));
    }
    .cleaner_name{
        width: fit-content;
        font-weight: 600;
        font-size: 14px;
        line-height: 103%;
        color: #45596B;
        margin-bottom: 15px;
    }
    .cleaner_desc-cont{
        position: relative;
        background-color: white;
        padding: 13px 15px 8px 16px;
        text-align: center;
        border-radius:0 12px 12px 0;
        box-shadow: 4px 3px 7px rgba(209, 217, 230, 0.54), -6px -6px 10px rgba(255, 255, 255, 0.09);
    }
    .cleaner_desc{
        font-weight: 450;
        font-size: 13px;
        line-height: 111%;
        color: rgba(98, 118, 138, 0.6);
        margin-bottom: 22px;
        text-align: left;
    }
    .cleaner_rate{
        font-weight: 600;
        font-size: 13px;
        line-height: 103%;
        color: #45596B;
        display: flex;
        justify-content: space-between;
    }
    .rating{
        margin-left: 20px;
    }
    .rating:after{
        content: "";
        background: url(../images/svg/star.svg) right center no-repeat;
        padding-right: 23px;
    }

    /* ------------------------------------ */
    /* --------======EXAMPLES======-------- */
    /* ------------------------------------ */
    .ex_examples{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 12px;
        row-gap: 12px;
    }
    .example-pic{
        width: 160px;
        height: 160px;
    }
    .ex_img-blk{
        width: 160px;
        height: 160px;
        margin-right: 10px;
        border-radius: 10px;
        color: white;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        border-radius: 10px;
    }

    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------======BOTTOM MENU======------- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    .bottom-menu{
        position: fixed;
        width: 100%;
        height: 57px;
        bottom: 0;
        left: 0;
        z-index: 10;
    }
    .bottom-menu-wrap{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #45596B;
        border-radius: 30px 30px 0px 0px;
        z-index: 2;
        display: flex;
        align-items: flex-end;
    }
    .bottom-menu_list{
        bottom: 0;
        width: 100%;
        height: fit-content;
        justify-content: space-between;
        display: flex;
        font-weight: 600;
        font-size: 12px;
        line-height: 103%;
        color: #FFFFFF;
        padding: 12px 34px;
    }
    .bottom-menu_list-item{
        display: flex;
        flex-direction: column;
        position: relative;
        transition: .3s;
    }
    .bottom-menu_list-item::after{
        position: absolute;
        bottom: -12px;
        left: 50%;
        content: "";
        width: 0;
        border-bottom: 7px solid #FACC00;
        transition: .3s;
    }
    .bottom-menu_list-item-active::after{
        width: 100%;
        left: 0;
    }
    .item-thumb{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .bottom-menu_list-item:nth-child(1) .item-thumb{
        bottom: 18px;
    }
    .bottom-menu_list-item:nth-child(2) .item-thumb{
        bottom: 10px;
    }
    .bottom-menu_list-item:nth-child(3) .item-thumb{
        bottom: 11px;
    }
    .item_desc{
        color: white;
    }
    .bottom-menu_contact-pop-up{
        position: absolute;
        width: 100%;
        height: 230px;
        background: #62768A;
        border-radius: 30px 30px 0px 0px;
        bottom: 0;
        z-index: 1;
        padding: 37px 31px 105px 31px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 43px;
        row-gap: 18px;
        transition: .3s;
        transform: translateY(75%);
    }
    .pop-up_btn{
        text-align: center;
        padding: 10px;
        font-weight: 450;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.24px;
        color: #FFFFFF;
        border-radius: 5px;
        min-width: 134px;
        min-height: 40px;
    }
    .pop-up-tg{
        background: #47CFFC;  
    }
    .pop-up-inst{
        background: #DA2467;
    }
    .pop-up-whats-up{
        background: #38FE59;
    }
    .pop-up-call{
        background: #36A234;
    }


    /* !----------------------------------! */
    /* !----------------------------------! */
    /* !----------------------------------! */
    /* !------=======REVIEWS=======-------! */
    /* !----------------------------------! */
    /* !----------------------------------! */
    /* !----------------------------------! */

    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ---------=======MAIN=======--------- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */ 
    
    .header-back-link{
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.24px;
        color: #45596B;
        background: url(../images/svg/menu-arrow-l-ico.svg) left center no-repeat;
        padding: 10px 10px 10px 18px;
    }
    .reviews__title{
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 103%;
        color: #45596B;
        padding: 34px 0 46px 0;
    }
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* --------=======REVIEW=======-------- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */ 
    .rev-main{
        margin-bottom: 80px;
    }
    .rev-review{
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        background: #EFF1F5;
        padding-bottom: 50px;
    }
    .rev-review .wrapper{
        display: flex;
        flex-direction: column;
    }
    .review-header{
        padding-left: 23px;
    }
    .review-header .header-back-link{
        background-image: url(../images/svg/close.svg);
        padding-left: 20px;
    }
    .review-reviewer{
        display: flex;
        align-items: center;
        padding: 19px 0;
    }
    .review_username{
        font-size: 13px;
        line-height: 15px;
        color: #45596B;
        margin-left: 24px;
    }
    .review_title{
        font-weight: 600;
        font-size: 18px;
        line-height: 103%;
        color: #45596B;
        margin-bottom: 33px;
    }
    .review_comment{
        font-size: 14px;
        line-height: 111%;
        color: rgba(69, 89, 107, 0.57);
    }
    .review_comment p{
        margin-bottom: 20px;
    }
    .review_gallery .ex_examples{
        margin-bottom: 35px;
    }
    .rev_submit-btn{
        padding: 15px 20px 15px 21px;
        border: none;
        background: radial-gradient(25.48% 50% at 50% 50%, #FACC00 6.77%, rgba(255, 248, 217, 0.29) 17.19%, rgba(252, 235, 159, 0) 92.71%), linear-gradient(180deg, #FACC00 24.48%, #FACC00 100%);
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        color: white;
        line-height: 11px;
        width: fit-content;
        align-self: center;
    }
    .rev_submit-btn::after{
        content: url(../images/svg/w-arrow-r.svg);
        margin-left: 10px;
    }
    
    /* !----------------------------------! */
    /* !----------------------------------! */
    /* !----------------------------------! */
    /* !------=======EXAMPLES=======-------! */
    /* !----------------------------------! */
    /* !----------------------------------! */
    /* !----------------------------------! */

    .ex_examples{
        margin-bottom: 50px;
    }
    
    
    /* !----------------------------------! */
    /* !----------------------------------! */
    /* !----------------------------------! */
    /* !-------======SERVICES======-------! */
    /* !----------------------------------! */
    /* !----------------------------------! */
    /* !----------------------------------! */
    .services-header, .examples-header,.rev-header,.review-header{
        width: 100%;
        background: #FFFFFF;
        padding: 20px 0 20px 28px;
    }

    .services_title,.examples_title{
        text-align: center;
        padding:35px 0;
        color: #45596B;
        font-weight: 600;
    }
    .examples_nav_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
    }
    .examples_nav-item{
        margin-bottom: 10px;
        font-size: 14px;
        padding-left: 14px;
        padding-right: 14px;
    }

    /* !----------------------------------! */
    /* !----------------------------------! */
    /* !----------------------------------! */
    /* !----====SERVICES SUB PAGE=====----! */
    /* !----------------------------------! */
    /* !----------------------------------! */
    /* !----------------------------------! */



    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* --------=======HEADER=======-------- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    .service-header{
        justify-content: flex-end;
        top: 0;  
        z-index: 2;  
    }
    .service-header__back-btn{
        position: absolute;
        padding-left: 18px;
        background: url(../images/svg/menu-arrow-l-ico.svg) left center no-repeat;
        margin-left: 21px;
        left: 0;
    }
    .service-header__stories{
        display: flex;
        flex-shrink: 0;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 75%;
        position: relative;
        right:0;
        border-radius: 0 35px 35px 0;
    }
    .header-stories__story-cont{
        width: 60px;
        height: 60px;
    }
    .header-stories__story-cont:first-child{
        width: 50px;
    }
    
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* --------=======SERVICE=======------- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    
    .service-intro{
        min-height: 265px;
        background: url(../images/service-intro-bg.png) no-repeat;
        padding: 107px 120px 0 20px;
        position: relative;
        margin-bottom: 59px;
    }
    .service-intro__title{
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #45596B;
    }
    .service-intro__advantages{
        position: absolute;
        right: 0;
        bottom: -35px;
        max-width: 317px;
        height: 71px;
    }
    .advantages_list{
        display: flex;
        min-width:317px;
        background: #FFFFFF;
        padding-left: 40px;
        padding: 10px 15px 10px 40px;
        justify-content: space-between;
        box-shadow: 0px 5px 10px rgba(69, 89, 107, 0.2);
        border-radius: 50px 0 0 50px;

    }
    .advantages_list-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .list-item-ico{
        width: fit-content;
        height: auto;
        margin-bottom: 4px;
    }
    .list-item-desc{
        font-weight: 600;
        font-size: 11px;
        line-height: 105%;
        text-align: center;
        color: #45596B;
        width: max-content;
    }

    .cont_more-btn{
        display: block;
        width: 100%;
        background: radial-gradient(25.48% 50% at 50% 50%, #FACC00 6.77%, rgba(255, 248, 217, 0.29) 17.19%, rgba(252, 235, 159, 0) 92.71%), linear-gradient(180deg, #FACC00 17.19%, #FACC00 63.02%);
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding: 13px 72px 15px 78px;
        color: white;
        position: relative;
        margin-bottom: 40px;
    }
    .cont_more-btn::after{
        display: inline-block;
        content: "";
        width:30px;
        height: 30px;
        background: url(../images/svg/i.svg) no-repeat;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 55px;
    }

    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* --------=======CONTENT=======------- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */

    .cont_desc{
        font-size: 14px;
        line-height: 103%;
        color: rgba(69, 89, 107, 0.6);
        margin-bottom: 20px; 
    }
    .cont_desc p{
        margin-bottom: 20px;
    }

    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* --------=======EXAMPLES======------- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    .service-intro__ex{
        margin-bottom: 38px;
    }
    .service-intro__ex_title{
        font-weight: 600;
        font-size: 18px;
        line-height: 103%;
        color: #45596B;
        margin-bottom: 28px;
    }
    .service-intro__ex_examples{
        display: flex;
        flex-shrink: 0;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .examples_img{
        width: 130px;
        height: 130px;
        margin-right: 10px;
        border-radius: 10px;
        color: white;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .examples_img-send-order, .examples_img-call{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        font-size: 14px;
        line-height: 103%;
        background: #45596B;
    }
    
    .examples_img-call img{
        margin-bottom: 14px;
        margin-top: 27px;
    }
    .examples_img-send-order img{
        margin-top: 19px;
    }
    
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------=======CLEINT REV======------- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    .service-intro__client-rev{
        margin-bottom: 100px;
    }
    .service-intro__client-rev_examples{
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .client-rev_examples_review{
        margin-right: 10px;
        position: relative;
    }
    .client-rev_examples_desc-img{
        height: 188px;
        width: 269px;
    }
    .client-rev_examples_desc{
        position: absolute;
        width: 100.4%;
        height: 55%;
        background: linear-gradient(180deg, rgba(69, 89, 107, 0) 0%, rgba(69, 89, 107, 0.25) 22.4%, rgba(69, 89, 107, 0.71) 38.54%, rgba(69, 89, 107, 0.97) 64.06%, rgba(69, 89, 107, 0.92) 83.33%), linear-gradient(180deg, rgba(69, 89, 107, 0) 0%, rgba(69, 89, 107, 0) 0.01%, rgba(69, 89, 107, 0.85) 63.54%, rgba(69, 89, 107, 0.85) 80.73%, rgba(69, 89, 107, 0.85) 85.42%);
        bottom: 0;
        left:0;
        border: 0;
        padding:35px 19px 7px 19px;
        border-radius: 0 0 10px 10px;
    }
    .client-rev_examples_top{
        font-weight: 450;
        font-size: 15px;
        line-height: 103%;
        color: #FFFFFF;
        margin-bottom: 12px;
    }
    .client-rev_examples_bottom{
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        line-height: 103%;
    }
    .bottom-menu_cleaner-list .item-thumb{
        bottom: 14px !important;
    }
    .service-intro__bottom-menu_list{
        padding-left: 44px;
    }
    .service-intro__bottom-menu_list li:nth-child(2){
        margin-left: 15px;
    }
    
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------======SERVICE ABOUT======----- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */

    .service-about_intro .wrapper{
        display: flex;
        align-items: center;
        width: fit-content;
        margin-bottom: 30px;
    }
    .service-about_intro .wrapper .main-menu_second-list{
        font-weight: 600;
    }
    .service-about_intro_make-an-order{
        width: 100%;
        background: #45596B;
        text-align: center;
        padding:11px;
        display: flex;
        justify-content: center;
        position: sticky;
        bottom: 0;
        left: 0;
    }
    .make-an-order-btn{
        display: block;
        background: radial-gradient(25.48% 50% at 50% 50%, #FACC00 6.77%, rgba(255, 248, 217, 0.29) 17.19%, rgba(252, 235, 159, 0) 92.71%), linear-gradient(180deg, #FACC00 17.19%, #FACC00 63.02%);
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        border:0;
        color: #FFFFFF;
        padding: 15px 26px 15px 47px;
        position: relative;
        max-width: 310px;
    }
    .make-an-order-btn::before{
        position: absolute;
        content:url(../images/plus.png);
        width: 11px;
        height: 11px;
        left: 30px;
        top: 16px;
    }
    .service-about_intro__sub-page{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #EFF1F5;
        z-index: 2;
        overflow: auto;
        transform: translateX(100%);
        transition: .3s;

    }
    .sub-page_header{
        padding: 30px 21px;
        margin-bottom: 27px;
    }
    .sub-page_header_back-btn{
        padding: 18px;
        color: #45596B;
        background: url(../images/svg/menu-arrow-l-ico.svg) left center no-repeat;
    }
    .sub-page_main_title{
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #45596B;
        margin-bottom: 50px;
    }
    .sub-page_main_dropdown_container{
        padding-right: 5px;
        margin-bottom: 70px;
    }
    .main_dropdown_item{
        border-bottom: 1px solid rgba(69, 89, 107, 0.8);;
        padding-bottom: 17px;
    }
    .dropdown_header{
        padding: 16px 54px 22px 0;
        position: relative;
        height: fit-content;
        font-weight: 600;
        font-size: 15px;
        line-height: 15px;
        color: #45596B;
    }
    .dropdown_header::after{
        display: block;
        content: url(../images/svg/menu-arrow-r-ico.svg);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    /* !----------------------------------! */
    /* !----------------------------------! */
    /* !----------------------------------! */
    /* !------======CALCULATOR======------! */
    /* !----------------------------------! */
    /* !----------------------------------! */
    /* !----------------------------------! */
    .calc_main{
        margin-bottom: 100px;
    }
    .calc_main .wrapper{
        position: relative;
    }
    .calc_main__page{
        position: absolute;
        height: 0;
        overflow: hidden;
        width: 100%;
    }
    .calc_header{
        margin: 17px 0 38px 10px;
        width: 365px;
        min-height: 115px;
        box-sizing: border-box;
        background: #FACC00;
        box-shadow: 6px 6px 5px #D1D9E6, -6px -6px 10px #FFFFFF, inset 3px 3px 10px rgba(69, 89, 107, 0.18), inset -3px -3px 5px rgba(255, 255, 255, 0.4);
        border-radius: 12px 0px 0px 12px;
        padding: 13px 26px 13px 20px;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .calc_header__btn{
        font-weight: 450;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.24px;
        padding-left: 20px;
        background: url(../images/svg/burger-menu-close-btn.svg) left center no-repeat;
        color: #FFFFFF;
    }
    .calc_header__main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        flex-shrink: 0;
        margin-top: 20px;
        position: relative;
    }
    .main_title{
        font-weight: 600;
        font-size: 24px;
        line-height: 25px;
        max-width: 200px;
        display: flex;
        justify-content: center;
    }
    .main_stage{
        font-weight: 900;
        font-size: 30px;
        line-height: 20px;
        letter-spacing: -0.24px; 
        position: absolute;
        right: 0;
        bottom: 13px;
    }
    
    .page_header{
        display: flex;
        justify-content: space-between;
    }
    .page_header-text{
        font-size: 15px;
        line-height: 103%;
        color: rgba(69, 89, 107, 0.99);
    }
    .page_header_learn-more{
        font-weight: 450;
        font-size: 15px;
        line-height: 103%;
        text-decoration-line: underline;
        color: rgba(69, 89, 107, 0.99);
    }
    .page1_slider1{
        display: flex;
        overflow: scroll;
        padding-top: 15px;
        padding-bottom: 10px;
        margin-bottom: 21px;
        width: 355px;
    }
    .page1_slider1 .main-menu_nav-item{
        margin-right: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .page1_slider2 .main-menu_nav-item:first-child,.page1_slider1 .main-menu_nav-item:first-child{
        margin-left: 0;
    }
    .page1_slider2{
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 10px;
        margin-bottom: 21px;
    }
    .page1_slider2 .main-menu_nav-item:last-child{
        margin-right: 0;
    }
    .page1_slider2 .main-menu_nav-item{
        min-width: 100px;
        text-align: center;
    }
    .page1_slider2_blks{
        position: relative;
        width: 100%;
    }
    .page1_slider2_blk{
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        padding-bottom: 80px;
        margin-bottom: 80px;
    }
    .page1_input_container_radiobox{
        margin-top: 12px;
        padding-left: 8px;
    }

    
    
    .radiobox_radio{
        display: none;
    }
    .radiobox_item{
        padding: 12px 0 12px 0;
    }
    .radiobox_item label{
        padding-left: 40px;
        position: relative;
    }
    .radiobox_item label::before{
        position: absolute;
        left: -16px;
        top: -6px;
        transform: translateY(-50%);
        content: url(../images/svg/unchecked.svg);
        height: 30px;
        width: 30px;
    }
    .radiobox_item .radiobox_radio:checked + label::before{
        content: url(../images/svg/checked.svg);
        top: -5px;
    }
    .page_state{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #45596B;
        border-radius: 30px 30px 0px 0px;
        padding: 7px 21px 7px 41px;
    }
    .state__states{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
    }
    .state__states::after{
        position: absolute;
        content: "";
        width: 43px;
        height: 2px;
        top: 5px;
        background: #D1D9E6;
        left: 50%;
        transform: translateX(-50%);
    }
    .state_price{
        font-weight: 600;
        font-size: 18px;
        line-height: 103%;
        color: #FFFFFF;
        padding-right: 40px;
        position: relative;
    }
    .state_price::after{
        content: url(../images/svg/i.svg);
        position: absolute;
        right: 0;
        top: -5px;
    }
    .state_next-btn{
        background: radial-gradient(25.48% 50% at 50% 50%, #FACC00 6.77%, rgba(255, 248, 217, 0.29) 17.19%, rgba(252, 235, 159, 0) 92.71%), linear-gradient(180deg, #FACC00 17.19%, #FACC00 63.02%);
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        color: white;
        padding: 15px 20px 15px 5px;
        font-weight: 600;
        min-width: 160px;
        text-align: center;
    }
    .state_next-btn::after{
        content: url(../images/svg/w-arrow-r.svg);
        margin-left: 10px;
        position: absolute;
        top: 52%;
        transform: translateY(-50%);
    }

    .block2__counter{
        background: #ECF0F3;
        box-shadow: inset 6px 6px 5px #D1D9E6, inset -6px -6px 10px #FFFFFF;
        border-radius: 12px;
        width: 133px;
        height: 36px;
        padding:4px 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 22px;
    }
    .counter_count{
        font-weight: 600;
        font-size: 15px;
        line-height: 103%;
        color: #828181;
    }
    .counter-min, .counter-plus{
        width: 28px;
        height: 28px;
        background: #FACC00;
        box-shadow: 3px 3px 5px rgba(69, 89, 107, 0.18);
        border-radius: 12px;
        display: block;
        position: relative;
    }
    .counter-min::after, .counter-plus::after{
        content: "-";
        position: absolute;
        font-weight: 450;
        font-size: 36px;
        line-height: 103%;
        color: #FFFFFF;
        top: -7px;
        left: 50%;
        transform: translateX(-50%);
    }
    .counter-plus::after{
        content: "+";
        top: 4px;
        left: 15px;
        font-weight: 600;
        font-size: 17px;
    }
    
    
    .page2_item{
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid rgba(110, 118, 134, 0.57);
    }
    .page2_item-left{
        max-width: 65%;
    }
    .page2_item:last-child{
        border: 0;
    }
    .page2_item_title{
        font-size: 15px;
        line-height: 103%;
        color: #6E7686; 
        margin-bottom: 6px;
    }
    .page2_item_subtitle{
        display: flex;
        justify-content: space-between;
        min-width: 120px;
        font-size: 15px;
        line-height: 103%;
        color: rgba(110, 118, 134, 0.57);
    }
    .item_subtitle-price{
        font-weight: 600;
        color: #6E7686;
    }
    .page2_item-right{
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 9px;
        min-width: 90px;
        background: #ECF0F3;
        box-shadow: 6px 6px 5px #D1D9E6, -6px -6px 10px #FFFFFF, inset 3px 3px 5px rgba(69, 89, 107, 0.18), inset -3px -3px 5px rgba(255, 255, 255, 0.4);
        border-radius: 12px;
        font-size: 15px;
        line-height: 103%;
        color: #6E7686;
        font-weight: 600;
    }
    .page2_item-right p{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .always_active, .item-right-active{
        background: #FACC00;
        box-shadow: 6px 6px 5px #D1D9E6, -6px -6px 10px #FFFFFF, inset 3px 3px 5px rgba(69, 89, 107, 0.18), inset -3px -3px 5px rgba(255, 255, 255, 0.4);
        border-radius: 12px;
    }
    .item-right_counter_count{
        color: white;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .item-right_counter-min,.item-right_counter-plus{
        position: relative;
        width: 12px;
        height: 12px;
    }
    .item-right_counter-min img{
        position: absolute;
        top: 5px;
    }
    .item-right_counter-plus img{
        position: absolute;
        top: 1px;
    }
    .page_title{
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #45596B;
        padding: 26px 0 38px 0;
        text-align: center;
    }
    .summary_header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 9px;
        align-items: center;
    }
    .header_text{
        font-weight: 600;
        font-size: 14px;
        line-height: 26px;
        color: #45596B;
    }
    .header_summ{
        font-weight: 600;
        font-size: 15px;
        line-height: 103%;
        color: #FACC00;
    }
    .result_holder{
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        line-height: 103%;
        color: rgba(110, 118, 134, 0.57);
        margin-bottom: 5px;
    }
    .result_option{
        max-width: 60%;
    }
    .result_value{
        text-align: right;
        color: #6E7686; 
    }
    .summary_body{
        margin-bottom: 19px;
    }
    .result_holder-big .result_option{
        max-width: 90%;
    }
    .summary_summ{
        display: flex;
        justify-content: space-between;
    }
    .summary_summ-text{
        font-weight: 600;
        font-size: 14px;
        line-height: 26px;
        color: #45596B;
    }
    .summary_summ-summ{
        font-weight: 450;
        font-size: 18px;
        line-height: 103%;
        color: #45596B; 
        position: relative;
        padding-left: 46px;
    }
    .summary_summ-summ::after{
        position: absolute;
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        background: #FACC00;
        border-radius: 15px;;
        top: -4px;
        left: 0;
    }
    .summary_summ-summ::before{
        position: absolute;
        content: "i";
        color: white;
        left: 10px;
        font-weight: 600;
        right: -2px;
        z-index: 2;
    }
    .make-order{
        position: fixed;
        bottom: 0;
        left: 0;
        height: 86px;
        width: 100%;
        background: #45596B;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .make-order-btn{
        background: radial-gradient(25.48% 50% at 50% 50%, #FACC00 6.77%, rgba(255, 248, 217, 0.29) 17.19%, rgba(252, 235, 159, 0) 92.71%), linear-gradient(180deg, #FACC00 24.48%, #FACC00 100%);
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding:15px 96px 15px 63px;
        border: 0;
        color: white;
        font-weight: 600;
    }
    .make-order-btn::after{
        content: url(../images/svg/w-arrow-r.svg);
        margin-left: 16px;
    }
    .page2_item-list{
        padding-right: 4px;
    }
    .page4 .wrapper{
        padding-right: 5px;
    }
    .city_select_label{
        margin-bottom: 11px;
        font-size: 15px;
        line-height: 103%;
        padding-right: 15px;
        color: rgba(110, 118, 134, 0.38);
    }
    .selection_wrap{
        position: relative;
        margin-bottom: 30px;
    }
    .selection_wrap:after{
        display: block;
        content: "";
        background: url(../images/svg/arrow-down.svg) center center no-repeat;
        position: absolute;
        bottom: 8px;
        right: 15px;
        width: 11px;
        height: 7px;
    }
    .city_select{
        background: none;
        border: 0;
        width: 100%;
        font-weight: 600;
        font-size: 15px;
        line-height: 103%;
        color: #6E7686;
        appearance: none;
        padding-bottom: 4px;
        padding-left: 1px;
        border-bottom: 1px solid rgba(110, 118, 134, 0.57);
    }
    .stage_input:not(:first-child){
        background: none;
        border: 0;
        border-bottom: 1px solid rgba(110, 118, 134, 0.57);
        width: 100%;
        appearance: none;
        margin-bottom: 30px;
    }
    .stage_input:not(:first-child)::placeholder{
        font-size: 15px;
        line-height: 103%;
        color: rgba(110, 118, 134, 0.57);
        appearance: none;
        margin-left: -1px;
    }
    .page__navbar{
        background: #45596B;
        width: 100%;
        height: 86px;
        padding: 20px 29px 20px 46px;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;

    }
    .navbar_prev{
        width: 46px;
        height: 46px;
        background: linear-gradient(180deg, rgba(255, 220, 65, 0.44) 0%, rgba(250, 204, 0, 0.5) 100%);
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar_next{
        background: radial-gradient(25.48% 50% at 50% 50%, #FACC00 6.77%, rgba(255, 248, 217, 0.29) 17.19%, rgba(252, 235, 159, 0) 92.71%), linear-gradient(180deg, #FACC00 24.48%, #FACC00 100%);
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        width: 228px;
        padding: 13px 70px 15px 60px;
        border: 0;
        color: #FFFFFF;
        font-weight: 600;
        position: relative;
    }
    .navbar_next::after{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 55px;
        display: block;
        content: "";
        width: 19px;
        height: 11px;
        background: url(../images/svg/w-arrow-r.svg);
    }
    .make-order,.page_state,.page__navbar{
        z-index: 5;
    }
    
    .page5 .page_title{
        padding-bottom: 74px;
    }
    .page5_date{
        text-align: center;
        font-weight: 600;
        font-size: 15px;
        line-height: 103%;
        color: #6E7686;
        margin-bottom: 32px;
    }
    .input_carousel{
        display: flex;
        flex-shrink: 0;
        transition: .2s;
    }
    .input_carousel input{
        display: none;
    }
    .carousel_wrap{
        height: 65px;
        margin-bottom: 33px;
        position: relative;
    }
    .carouse_click-block{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .input_carousel label,.carousel_gag{
        display: block;
        width: 65px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 105%;
        color: #6E7686;
        margin-right: 5px;
    }
    .input_carousel input:checked +  label{
        background: #FACC00;
        box-shadow: 6px 6px 5px #D1D9E6, -6px -6px 10px #FFFFFF, inset 3px 3px 5px rgba(69, 89, 107, 0.18), inset -3px -3px 5px rgba(255, 255, 255, 0.4);
        border-radius: 12px;
        color: white;
    }
    .page6 .page_title{
        padding-bottom: 12px;
    }
    .result_holder-full .result_option{
        max-width: 100%;
    }
    .page6{
        left: 0;
        top: 0;
        width: 100%;
    }
    .page6 .wrapper{
        margin-left: 30px;
        margin-right: 30px;
    }
    .order-made__close-btn{
        position: absolute;
        top: 25px;
        right: 20px;
        border: 0;
        background: none;
        width: fit-content;
        height: fit-content;
        padding: 0;
    }
    .stories_stories{
        display: flex;
    }
    .order-made__title{
        margin-top: 158px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
    .order-made__desc{
        margin-top: 25px;
        font-size: 16px;
        line-height: 15px;
        color: rgba(255, 255, 255, 0.77);
    }
    .stories_title{
        font-weight: 600;
        font-size: 16px;
        line-height: 15px;
        color: #FFFFFF;
        margin-top: 25px;
    }
    .stories_stories{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .bottom-nav{
        visibility: hidden;
    }
    .bottom-active{
        visibility: visible;
    }
    .header-non-active{
        display: none;
    }
    .header-active{
        display: inline;
    }
    .calc_header_summ{
        background: 0;
        padding-left: 0;
    }
    .page1, .page2,.page3,.page4,.page5,.page6{
        height: fit-content;
        /* overflow-y: auto; */
        margin-bottom: 120px;
    }
    .page1{
        overflow: visible;
    }
    .page7{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #FACC00;
        z-index: 6;
        height: 100%;
        overflow: visible;
    }
    .page_non-active{
        height: 0;
        overflow: hidden;
    }

    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* -------=======GALLERY=======-------- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    .gallery{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #45596B;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(100%);
    }
    .gallery-active{
        transform: translateX(0);
    }
    .gallery_counter{
        padding-left: 42px;
        background: url(../images/svg/w-menu-arrow-l-ico.svg) left center no-repeat;
    }
    .gallery__header{
        padding-top: 19px;
        padding-left: 23px;
        color: white;
    }
    .gallery__body{
        text-align: center;
    }
    .gallery__body img{
        width: max-content;
        height: auto;
        border-radius: 0;

    }

    .gallery_footer{
        width: 100%;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
        padding: 0 38px;
    }

    .gallery_prev{
        width: 46px;
        height: 46px;
        background: linear-gradient(180deg, rgba(255, 220, 65, 0.44) 0%, rgba(250, 204, 0, 0.5) 100%);
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gallery_make-order{
        background: radial-gradient(25.48% 50% at 50% 50%, #FACC00 6.77%, rgba(255, 248, 217, 0.29) 17.19%, rgba(252, 235, 159, 0) 92.71%), linear-gradient(180deg, #FACC00 24.48%, #FACC00 100%);
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        width: 228px;
        padding: 13px 55px 15px 20px;
        border: 0;
        color: #FFFFFF;
        font-weight: 600;
        position: relative;
    }
    .gallery_make-order::after{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        display: block;
        content: "";
        width: 19px;
        height: 11px;
        background: url(../images/svg/w-arrow-r.svg);
    }
    .gallery-pic{
        height: 100%;
        width: auto;
        position: absolute;
    }
    
}

