/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----========CSS RESET========------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
:focus {
   outline: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}

body {
 line-height: 1;
}

ol, ul {
 list-style: none;
}

blockquote, q {
 quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
   -webkit-appearance: none;
   -moz-appearance: none;
}

input[type=search] {
   -webkit-appearance: none;
   -moz-appearance: none;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

textarea {
   overflow: auto;
   vertical-align: top;
   resize: vertical;
}
audio,
canvas,
video {
   display: inline-block;
   *display: inline;
   *zoom: 1;
   max-width: 100%;
}
audio:not([controls]) {
   display: none;
   height: 0;
}
[hidden] {
   display: none;
}
html {
   font-size: 100%; /* 1 */
   -webkit-text-size-adjust: 100%; /* 2 */
   -ms-text-size-adjust: 100%; /* 2 */
}
a:focus {
   outline: thin dotted;
}
a:active,
a:hover {
   outline: 0;
}
img {
   border: 0; /* 1 */
   -ms-interpolation-mode: bicubic; /* 2 */
}
figure {
   margin: 0;
}
form {
   margin: 0;
}
fieldset {
   border: 1px solid #c0c0c0;
   margin: 0 2px;
   padding: 0.35em 0.625em 0.75em;
}
legend {
   border: 0; /* 1 */
   padding: 0;
   white-space: normal; /* 2 */
   *margin-left: -7px; /* 3 */
}
button,
input,
select,
textarea {
   font-size: 100%; /* 1 */
   margin: 0; /* 2 */
   vertical-align: baseline; /* 3 */
   *vertical-align: middle; /* 3 */
}
button,
input {
   line-height: normal;
}
button,
select {
   text-transform: none;
}


button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
   -webkit-appearance: button; /* 2 */
   cursor: pointer; /* 3 */
   *overflow: visible;  /* 4 */
}
button[disabled],
html input[disabled] {
   cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
   box-sizing: border-box; /* 1 */
   padding: 0; /* 2 */
   *height: 13px; /* 3 */
   *width: 13px; /* 3 */
}
input[type="search"] {
   -webkit-appearance: textfield; /* 1 */
   -moz-box-sizing: content-box;
   -webkit-box-sizing: content-box; /* 2 */
   box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}
textarea {
   overflow: auto; /* 1 */
   vertical-align: top; /* 2 */
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

html,
button,
input,
select,
textarea {
   color: #222;
}


::-moz-selection {
   background: #b3d4fc;
   text-shadow: none;
}

::selection {
   background: #b3d4fc;
   text-shadow: none;
}

img {
   vertical-align: middle;
}

fieldset {
   border: 0;
   margin: 0;
   padding: 0;
}

textarea {
   resize: vertical;
}

.chromeframe {
   margin: 0.2em 0;
   background: #ccc;
   color: #000;
   padding: 0.2em 0;
}
a{
   text-decoration: none;
   color: black;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========FONTS========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
@font-face {
    font-family: Avenir;
    src: url(../fonts/avenir-next.woff); 
}
@font-face {
    font-family: CircleF;
    src: url(../fonts/circe-light.woff); 
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------======GLOBAL STYLES======----- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
*{
    font-family: "Avenir";
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
    flex-shrink: 0;
}
a:focus, a:visited{
   outline: none;
}
@media screen and (max-width:375px){
    html{
        background: #F4F6F9;
    }
    .wrapper{
        margin: 0 auto;
        max-width: 336px;
    }
    ::-webkit-scrollbar-track {
        width: 3px;
    }
    
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* -------========HEADER========------- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    header{ 
        font-family: "CircleF" !important;
        position: absolute;
        padding-top: 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .header-burger{
        width: 60px;
        height: 34px;
        background-color: #45596B;
        border-radius:0 50px 50px 0;
        display: inline-block;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding:10px 10px;
        position: absolute;
    }
    .header-burger span{
        top: 0;
        left: 0;
        display: block;
        height: 2px;
        background-color: white;
        border-radius: 3px;
    }
    .header-burger span:nth-child(1){
        width: 25px;
    }
    .header-burger span:nth-child(2){
        width: 15px;
    }
    .header-burger span:nth-child(3){
        width: 20px;
    }
    .header-stories{
        display: flex;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .header-stories__story-cont{
        height: 60px;
        width: 60px;
    }
    .header-stories::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    .header-menu{
        position: absolute;
        background: #F4F6F9;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .header-menu__header{
       padding: 17px 34px 17px 18px;
       background: #45596B;
       display: flex;
       align-items: center;
    }
    .header_logo{
        width: auto;
        height: 20px;
        margin-left: 18px;
    }
    .header_number{
        margin-left: auto;
        color: white;
        font-size: 18px;
        line-height: 148.9%;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        padding-left: 23px;
        background: url(../images/phone-ico.png) left center no-repeat;
    }
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* -------=========INTRO========------- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    .intro{
        background: url(../images/intro-bg.png);
        min-height: 214px;
        padding:120px 46px 0 23px;
    }
    .intro-title{
        font-weight: 600;
        font-size: 24px;
        line-height: 124%;
        color: white;
    }
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* -------=======MAIN MENU======------- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    .main-menu{
        padding-top: 20px;
    }
    .main-menu__nav{
        width: 100%;
        overflow-x: scroll;
        padding-bottom: 33px;
    }
    .main-menu__nav_container{
        display: flex;
    }
    .main-menu_nav-item{
        background: #ECF0F3;
        box-shadow: 6px 6px 5px #D1D9E6, -6px -6px 10px #FFFFFF;
        border-radius: 12px;
        padding:8px 18px;
        font-weight: 450;
        font-size: 14px;
        line-height: 20px;
        margin-right: 10px;
        letter-spacing: -0.24px;
        color: #828181;
    }
    .main-menu_nav-item:first-child{
        margin-left: 14px;
    }
    .nav-item-active{
        background: #FACC00;
        box-shadow: 6px 6px 5px #D1D9E6, -6px -6px 10px #FFFFFF, inset 3px 3px 5px rgba(69, 89, 107, 0.18), inset -3px -3px 5px rgba(255, 255, 255, 0.4);
        color: white;
    }
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* -----=====MAIN MENU BLOCKS=====----- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    .block-header{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 28px;
    }
    .block-header_title{
        font-weight: 600;
        font-size: 18px;
        line-height: 103%;
        color: #45596B;
    }
    .header_show-all{
        font-weight: 450;
        font-size: 13px;
        line-height: 10px;
        letter-spacing: -0.24px;
        color: rgba(69, 89, 107, 0.31);
    }
    .nav-block {
        padding-bottom: 20px;
    }
    /* ------------------------------------ */
    /* -------=======SERVICES======-------- */
    /* ------------------------------------ */
    .services_secvice{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .service-img{
        border-radius: 10px;
        filter: drop-shadow(3px 0px 10px rgba(0, 0, 0, 0.1));
    }
    .service_desc_title{
        width: fit-content;
        font-weight: 600;
        font-size: 14px;
        line-height: 103%;
        color: #45596B;
        padding-right: 24px;
        background: url(../images/svg/arrow-r.svg) right center no-repeat;
        margin-bottom: 15px;
    }
    .service_desc-cont{
        position: relative;
        background-color: white;
        padding: 13px 15px 8px 16px;
        text-align: center;
        border-radius:0 12px 12px 0;
        box-shadow: 4px 3px 7px rgba(209, 217, 230, 0.54), -6px -6px 10px rgba(255, 255, 255, 0.09);
    }
    .service_desc_price{
        font-weight: 450;
        font-size: 13px;
        line-height: 111%;
        color: rgba(98, 118, 138, 0.6);
        margin-bottom: 22px;
        text-align: left;
    }
    .service_desc-more{
        font-weight: 600;
        font-size: 13px;
        line-height: 103%;
        color: #45596B;
    }
    .service_desc-more::after{
        content: "";
        background: url(../images/svg/i.svg);
        position: absolute;
        right: -6px;
        bottom: -6px;
        height: 30px;
        width: 30px;
        box-shadow: 3px 3px 5px rgba(69, 89, 107, 0.19), -3px -3px 5px rgba(209, 217, 230, 0.36);
        border-radius: 25px;
    }
    /* ------------------------------------ */
    /* ---------=======ABOUT======--------- */
    /* ------------------------------------ */
    .about_desc{
        font-size: 14px;
        line-height: 103%;
        color: rgba(69, 89, 107, 0.6);
    }
    .about_desc p{
        margin-bottom: 13px;
    }
    .about_tagline{
        margin-top: 20px;
        font-size: 14px;
        line-height: 103%;
        font-weight: 700;
        color: rgb(69 89 112);
    }
    /* ------------------------------------ */
    /* --------======REVIEWS======--------- */
    /* ------------------------------------ */
    .rew_review{
        width: 328px;
        height: 190px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 14px;
    }
    .review_desc{
        position: absolute;
        width: 100%;
        height: 55%;
        background: linear-gradient(180deg, rgba(69, 89, 107, 0) 0%, rgba(69, 89, 107, 0.25) 22.4%, rgba(69, 89, 107, 0.71) 38.54%, rgba(69, 89, 107, 0.97) 64.06%, rgba(69, 89, 107, 0.92) 83.33%), linear-gradient(180deg, rgba(69, 89, 107, 0) 0%, rgba(69, 89, 107, 0) 0.01%, rgba(69, 89, 107, 0.85) 63.54%, rgba(69, 89, 107, 0.85) 80.73%, rgba(69, 89, 107, 0.85) 85.42%);
        bottom: 0;
        left:0;
        border: 0;
        padding:35px 23px 7px 23px;
        border-radius: 0 0 10px 10px;
    }
    .desc_top{
        font-weight: 450;
        font-size: 15px;
        line-height: 103%;
        color: #FFFFFF;
        margin-bottom: 12px;
    }
    .desc_bottom{
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        line-height: 103%;
    }
    .desc_client-name{
        color: rgba(209, 217, 230, 0.63);
    }
    .desc_post-date{
        color: white;
    }
    /* ------------------------------------ */
    /* --------======CLEANERS======-------- */
    /* ------------------------------------ */
    .cleaners_cleaner{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .cleaner-img{
        border-radius: 10px;
        filter: drop-shadow(3px 0px 10px rgba(0, 0, 0, 0.1));
    }
    .cleaner_name{
        width: fit-content;
        font-weight: 600;
        font-size: 14px;
        line-height: 103%;
        color: #45596B;
        margin-bottom: 15px;
    }
    .cleaner_desc-cont{
        position: relative;
        background-color: white;
        padding: 13px 15px 8px 16px;
        text-align: center;
        border-radius:0 12px 12px 0;
        box-shadow: 4px 3px 7px rgba(209, 217, 230, 0.54), -6px -6px 10px rgba(255, 255, 255, 0.09);
    }
    .cleaner_desc{
        font-weight: 450;
        font-size: 13px;
        line-height: 111%;
        color: rgba(98, 118, 138, 0.6);
        margin-bottom: 22px;
        text-align: left;
    }
    .cleaner_rate{
        font-weight: 600;
        font-size: 13px;
        line-height: 103%;
        color: #45596B;
        display: flex;
        justify-content: space-between;
    }
    .rating{
        margin-left: 20px;
    }
    .rating:after{
        content: "";
        background: url(../images/svg/star.svg) right center no-repeat;
        padding-right: 23px;
    }

    /* ------------------------------------ */
    /* --------======EXAMPLES======-------- */
    /* ------------------------------------ */
    .ex_examples{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 12px;
        row-gap: 12px;
    }

    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------======BOTTOM MENU======------- */
    /* ------------------------------------ */
    /* ------------------------------------ */
    /* ------------------------------------ */
    .bottom-menu{
        position: fixed;
        width: 100%;
        height: 57px;
        bottom: 0;
        left: 0;
        z-index: 1000;
    }
    .bottom-menu-wrap{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #45596B;
        border-radius: 30px 30px 0px 0px;
        z-index: 2;
    }
    .bottom-menu_list{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: fit-content;
        justify-content: space-between;
        display: flex;
        font-weight: 600;
        font-size: 12px;
        line-height: 103%;
        color: #FFFFFF;
        padding: 12px 34px;
    }
    .bottom-menu_list-item{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .item-thumb{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .bottom-menu_list-item:nth-child(1) .item-thumb{
        bottom: 18px;
    }
    .bottom-menu_list-item:nth-child(2) .item-thumb{
        bottom: 10px;
    }
    .bottom-menu_list-item:nth-child(3) .item-thumb{
        bottom: 11px;
    }
    .bottom-menu_contact-pop-up{
        position: absolute;
        width: 100%;
        height: 230px;
        background: #62768A;
        border-radius: 30px 30px 0px 0px;
        bottom: 0;
        z-index: 1;
        padding: 37px 31px 105px 31px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 43px;
        row-gap: 18px;
    }
    .pop-up_btn{
        text-align: center;
        padding: 10px 34px;
        font-weight: 450;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.24px;
        color: #FFFFFF;
        border-radius: 5px;
    }
    .pop-up-tg{
        background: #47CFFC;  
    }
    .pop-up-inst{
        background: #DA2467;
    }
    .pop-up-whats-up{
        background: #38FE59;
    }
    .pop-up-call{
        background: #36A234;
    }
}



