td{
    background-color:green;
    
}

.tr{
    border:2px;
width:4px;
height:4px;
background-color:aqua;

}
#top{
    background-color:#0000FF;
}

.td{
    text-align:center;
    border:5px dotted red;
    height:50px;
    width:50px;
}