/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----========CSS RESET========------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

a {
  text-decoration: none;
  color: black; }

*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;

  
}

a:hover,a:active,a:focus{
  outline: 0;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; 
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; 
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========FONTS========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

@font-face {
  font-family: "Aeroport";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Aeroport-Light.woff2");
}

@font-face {
  font-family: "Aeroport";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Aeroport.woff2");
}

@font-face {
  font-family: "Aeroport";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Aeroport-Medium.woff2");
}

@font-face {
  font-family: "Aeroport";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Aeroport-Bold.woff2");
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------=======GLOBAL========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

@mixin Aero($size) {
  font-family: "Aeroport" !important;
  font-weight: $size !important;
}

*{
  @include Aero(300);
}

.wrapper-b{
  width: 1920px;
  margin: 0 auto;
}

.wrapper{
  width: 1440px;
  margin: 0 auto;
}

main{
  min-height: 100vh;
  background: linear-gradient(180deg, #DDEAF9 0%, #FFFFFF 100%);
  position: relative;
}

.planes{
  position: absolute;
  top: -80px;
  left: 0;
}

.btn-w-arrow{
  padding:18px 71px 18px 31px;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  font-weight: 500 !important;
  background: #1763F8;
  box-shadow: 0px 22px 44px -12px rgba(46, 117, 255, 0.35);
  border-radius: 10px;
  position: relative;
  display: block;
  width: fit-content;
  height: fit-content;

  &:after{
    content: "";
    background:url(../img/svg/btn-arrow.svg) center no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 37px;
    transform: translateY(-50%);
    transition: .3s;
  }

  &:hover{

    &::after{
      right: 35px;
    }
  }
}

.big-title{
  font-size: 44px;
  line-height: 127%;
  color: #213243;
  @include Aero(700);
}

.small-title{
  font-size: 32px;
  line-height: 40px;
  color: #213243;
  font-weight: 500 !important;
  margin-bottom: 26px;
}

.subtitle{
  font-size: 14px;
  line-height: 19px;
  color: #213243;
  padding-left: 1px;
}

.on-title{
  font-size: 14px;
  line-height: 19px;
  color: #B3BACC;
}

.link{
  font-size: 16px;
  line-height: 16px;
  color: #1763F8;
  position: relative;
  padding-bottom: 2px;
  display: block;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;

  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background: #1763F8;
  }
}

::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #1763F8;
  border-radius: 9em;
  transition: .3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}

body{
  overflow-x: hidden;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------=======HEADER========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

header{
  position: relative;
  z-index: 1;

  .wrapper-b{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 45px;

    .header_logo{
      padding: 28px 0;
    }

    .header_nav{
      display: flex;
      align-items: center;
      width: 100%;

      .nav_itemlist{
        padding: 30px;
        display: flex;
        align-items: center;

        .nav_item{

          a{
            font-size: 16px;
            line-height: 22px;
            transition: .3s;
            color: #B3BACC;
            padding: 30px 17px;
            @include Aero(400);
          }
          

          &:hover{

            a{
              color: #213243;
            }
            
          }
        }

        .nav_item-active{

          a{
            color: #213243;
          }
        }
      }

      .header_login{
        display: flex;
        align-items: center;
        margin-left: auto;

        input{
          font-size: 16px;
          line-height: 22px;
          color: #B3BACC;
          background: #EDEDED;
          border-radius: 10px;
          border: 0;
          padding: 13px 27px;
          width: 249px;
          margin-left: auto;
          margin-right: 49px; 

          &::placeholder{
            font-size: 16px;
            line-height: 22px;
            color: #B3BACC;
          }
        }
         
        .login_selection{ 
          display: flex;
          align-items: center;
          margin-right: 20px;

          .selection_text{
            font-size: 16px;
            line-height: 22px;
            color: #B3BACC;
            @include Aero(400);
          }

          input{
            display: none;
          }

          label{
            display: block;
            background: #E1ECFA;
            border-radius: 23px;
            width: 29px;
            height: 16px;
            position: relative;
            transition: .3s;
            margin: 20px;
            cursor: pointer;

            &::after{
              position: absolute;
              content: "";
              left: 2px;
              top: 50%;
              transform: translateY(-50%);
              width: 8px;
              height: 8px;
              background: white;
              border: 2px solid #1763F8;
              border-radius: 50%;
              transition: .3s;
            }
          }

          input:checked + label{

            &::after{
              left: calc(100% - 2px - 12px);
            }
          }

          .selection_text-active{
            color: #213243;
          }
        }

        .login_register,.login_log-in{
          @include Aero(400);
          font-size: 16px;
          line-height: 22px;
          color: #213243;
          cursor: pointer;
          transition: .4s;
        }

        .login_register{
          padding:32px 30px;

          &:hover{
            color: #1763F8;
            
          }
        }

        .login_log-in{
          background: #1763F8;
          color: white;
          padding:32px 50px;
        }
      }
    }
  }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------=======INTRO========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.intro{
  padding-top: 41px;
  position: relative;
  z-index: 1;

  .intro_top{
    margin-bottom: 54px;

    .wrapper{
      padding: 0 179px 0 34px;
      
      display: flex;
      align-items: center;
      justify-content: space-between;

      .intro_top-left{
        margin-right: 134px;
  
        img{
          width: 568px;
          height: 671px;
        }
      }
  
      .intro_top-right{
        width: 527px;
  
        .top-right_on-title{
          padding-left: 2px;
        }
  
        .top-right_title{
          margin-top: -7px;
          margin-bottom: 27px;
        }
  
        .top-right_subtitle{
          margin-bottom: 72px;
        }
      }
    }

    
  }

  .intro_ways{
    margin-bottom: 159px;

    .wrapper{

      .ways_subtitle{
        margin-bottom: 90px;
      }

      .ways_ways{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 23px;
        row-gap: 28px;

        .ways_way{
          background: #FFFFFF;
          box-shadow: 0px 0px 50px rgba(208, 206, 187, 0.18);
          border-radius: 10px;
          padding: 34px 10px 34px 19px;

          display: flex;
          align-items: center;
          

          .way_thumb{
            width: 60px;
            height: 60px;
            margin-right: 42px;
          }

          .way_text{
            font-size: 16px;
            line-height: 24px;
            color: #213243;
            font-weight: 500 !important;
          }
        }


      }
    }
  }

  .intro_how{

    .wrapper{
      width: 1520px;
      margin-bottom: 73px;

      .how_title,.how_subtitle{
        padding: 0 40px;
      }

      .how_subtitle{
        margin-bottom: 100px;
      }

      .how_how-blocks{
        display: grid;
        grid-template-columns: repeat(4,360px);

        .how_block{
          padding: 60px 54px 100px 38px;
          position: relative;

          .block_title{
            font-size: 32px;
            line-height: 40px;
            color: #213243;
            font-weight: 700 !important;
            margin-bottom: 40px;
            position: relative;
            transition: .3s;

            &:after{
              position: absolute;
              content: "";
              width: 30px;
              height: 30px;
              background: #FFFFFF;
              border: 7px solid #F3F3F3;
              box-sizing: border-box;
              border-radius: 50%;
              top: 50%;
              transform: translateY(-50%);
              left: -59px;
              transition: .3s;
              z-index: 1;
            }

            &::before{
              content: "";
              position: absolute;
              left: -12px;
              width: 12px;
              height: 0;
              background: -moz-linear-gradient(top,  rgba(58,123,250,1) 0%, rgba(32,124,202,0.7) 30%, rgba(56,122,250,0.5) 48%, rgba(32,124,202,0.33) 67%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(top,  rgba(58,123,250,1) 0%,rgba(32,124,202,0.7) 30%,rgba(56,122,250,0.5) 48%,rgba(32,124,202,0.33) 67%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom,  rgba(58,123,250,1) 0%,rgba(32,124,202,0.7) 30%,rgba(56,122,250,0.5) 48%,rgba(32,124,202,0.33) 67%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a7bfa', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */
              left: -50px;
              top: 45%;
              transition: .3s;
              z-index: 1;
            }

          }

          .block_text{
            font-size: 14px;
            line-height: 19px;
            color: #213243;
          }

          &:nth-child(1){
            margin-left: 12px;

            &::after{
              content: "";
              position: absolute;
              height: 100%;
              width: 12px;
              top: 65px;
              left: -12px;
              background: #F1F1F1;
            }
          }

          &:nth-child(5){
            border-left: 12px solid #F1F1F1;
            border-bottom: 12px solid #F1F1F1;
            border-right: 12px solid #F1F1F1;
            border-radius: 0 0 24px 24px;
          }

          &:nth-child(2){
            border-left: 12px solid #F1F1F1;
            border-top: 12px solid #F1F1F1;
            border-right: 12px solid #F1F1F1;
            border-radius: 24px 24px 0 0;
            margin-left: -12px;
          }

          &:nth-child(7){
            border-left: 12px solid #F1F1F1;
            border-bottom: 12px solid #F1F1F1;
            border-right: 12px solid #F1F1F1;
            border-radius: 0 0 24px 24px;
            margin-left: -12px;
          }

          &:nth-child(4){
            border-left: 12px solid #F1F1F1;
            border-top: 12px solid #F1F1F1;
            border-radius: 24px 0 0 0;
            margin-left: -12px;
            position: relative;

            &::before{
              content: "";
              width: 200%;
              position: absolute;
              top: -12px;
              left: 100%;
              border-top: 12px solid #F1F1F1;
            }
          }

          &:hover{

            .block_title{
              color: #387AFA;

              &:after{
                border: 7px solid #387AFA;
              }

              &::before{
                height: 114px;
              }


            }

          }

        }

      }
    }
  }

  
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------=======PROGRAMS========------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.programs{
  background: #DDEAF9;
  padding-bottom: 475px;
  padding-top: 80px;
  position: relative;

  .planes{
    top: 0;
  }

  .wrapper{
    display: flex;
    position: relative;
    z-index: 1;

    .programs_left{
      width: 466px;
      margin-right: 22px;

      .programs_on-title{
        margin-bottom: 10px;
      }

      .programs_title{
        margin-bottom: 24px;
      }

      .programs_subtitle{
        width: 424px;
        margin-bottom: 80px;
      }

      .programs_see-all{
      }
    }

    .programs_right{
      position: relative;

      .swiper-container{

        .swiper-wrapper{
          padding-bottom: 20px;

          .swiper-slide{
            display: grid;
            grid-template-columns: min-content min-content;
            column-gap: 23px;
            width: fit-content;
            opacity: 0 !important;

            .right_program{
              width: 465px;
              background: white;
              border-radius: 10px;
              height: fit-content;
      
              .program_image{
                width: 100%;
                height: 345px;
                border-radius: 10px;
              }
      
              .program_info{
                width: 100%;
                padding: 19px 24px 25px 24px;
      
                .program_title{
                  font-weight: 500 !important;
                  font-size: 24px;
                  line-height: 32px;
                  color: #213243;
                  margin-bottom: 19px;
                }
      
                .program_subtitle{
                  font-size: 14px;
                  line-height: 19px;
                  color: #213243;
                  margin-bottom: 34px;
                  width: 386px;
                }
      
                .program_see-more{
                  margin-left: auto;
                }
              }
            }
          }

          .swiper-slide-active{
            opacity: 1 !important;
          }
        }


      }

      .navigation-block{
        position: absolute;
        bottom: 20px;
        left: -92px;
        display: flex;

        .swiper-button-next,.swiper-button-prev{
          position: relative;
          left: unset;
          right: unset;
          top: unset;
          height: fit-content;
          width: fit-content;
          border-radius: 50%;
          transition: .3s;


          &::after{
            display: none;
          }

          &:hover{
            -webkit-box-shadow: 0px 0px 3px 4px rgba(221, 224, 230, 0.55);
            -moz-box-shadow: 0px 0px 3px 4px rgba(221, 224, 230, 0.55);
            box-shadow: 0px 0px 3px 4px rgba(221, 224, 230, 0.55);
          }

          img{
            width: 32px;
            height: 32px;
          }
        }
  
        .swiper-button-prev{
          margin-right: 5px;
        }

      }
    }

  }

}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----=======SPECIALIST========------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.specialists{
  margin-top: -349px;
  z-index: 1;
  position: relative;
  margin-bottom: 146px;

  .wrapper{

    .specialists_header{
      display: grid;
      grid-template-columns: 1fr min-content;
      margin-bottom  : 37px;

      .specialists_title{
        margin-bottom: 20px;
        grid-column-start: 1;
        grid-column-end: 3;
      }

      .specialists_all{
        justify-self:end;
        white-space: nowrap;
        margin-left: 30px;
      }
    }

    .specialists_main{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 30px;
      column-gap: 23px;
      

      .specialist_card{
        display: flex;
        width: 343px;
        padding: 19px 16px 31px 16px;
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 0px 22px 44px -12px rgba(221, 224, 230, 0.35);
        border-radius: 10px;

        .card_image{
          width: 310px;
          height: 310px;
          margin-bottom: 15px;
          border-radius: 10px;
        }

        .card_name{
          font-weight: 500 !important;
          font-size: 18px;
          line-height: 20px;
          color: #242729;
          margin-bottom: 15px;
        }

        .card_professions{
          display: flex;
          margin-bottom: 22px;

          .profession{
            font-size: 12px;
            line-height: 16px;
            padding: 10px 13px;
            background: #00987F;
            border-radius: 10px;
            color: #FFFFFF;
            font-weight: 700 !important;
            margin-right: 6px;
            min-width: 94px;
            text-align: center;

            &:nth-child(2n){
              background: #1763F8;
            }
          }
        }

        .card_statistics{
          display: grid;
          grid-template-columns: repeat(3, 1fr);

          .card_statistic{

            .statistic-name{
              font-size: 12px;
              line-height: 13px;
              color: #B3BACC;
              margin-bottom: 10px;
            }

            .statistic_text,.raiting-text{
              font-weight: 500 !important;
              font-size: 16px;
              line-height: 24px;
              color: #242729;
            }


            .raiting{
              display: flex;
              align-items: center;

              .raiting-text{
                margin-right: 8px;
              }

              .raiting_stars{
                display: flex;
                width: fit-content;
                height: 8px;

                .raiting_star{
                  margin-right: 2px;
                  position: relative;
                  width: 8px;
                  height: 8px;

                  img{
                    width: 8px;
                    height: 8px;
                    position: absolute;
                  }

                  img:last-child{
                    display: none;
                  }
                }

                .star-active{

                  img:last-child{
                    display: inline;
                  }
                  
                  img:first-child{
                    display: none;
                  }
                }
              }
            }
            
          }
        }
      }
    }
  }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========BLOG=========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.blog{
  margin-bottom: 240px;

  .wrapper{

    .blog_header{
      display: grid;
      grid-template-columns: 1fr min-content;
      margin-bottom: 40px;

      .blog_title{
        grid-column-start: 1;
        grid-column-end: 3;
        margin-bottom: 20px;
      }

      .blog_see-all{
        margin-left: 10px;
      }
    }

    .blog_main{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 65px;
      row-gap: 80px;

      .blog_item{
        display: flex;

        .item_img{
          width: 100px;
          height: 82px;
          border-radius: 10px;
          margin-right: 22px;
          flex-shrink: 0;
        }

        .item_info{

          .info_title{
            font-weight: 500 !important;
            font-size: 16px;
            line-height: 24px;
            color: #242729;
            margin-bottom: 8px;
          }

          .info_date{
            font-size: 12px;
            line-height: 13px;
            margin-bottom: 15px;
            color: #B3BACC;
          }

          .info_text{
            font-size: 14px;
            line-height: 19px;
          }
        }
      }
    }
  }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------=======INTRO ADV=======------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.intro_advantages{

  .wrapper{
    display: flex;
    justify-content: space-between;

    .adv_left{
      width: 527px;

      .adv_title{
        margin-bottom: 26px;
      }

      .adv_subtitle{
        margin-bottom: 80px;
      }
    }

    .adv_right{
      display: flex;

      .right_image{
        width: 465px;
        height: 560px;
      }

      .right_advantages{

        .advantage_blk{
          width: 410px;
          padding: 25px 32px;
          display: flex;
          align-items: center;
          background: #FFFFFF;
          box-shadow: 0px 0px 50px rgba(208, 206, 187, 0.18);
          border-radius: 10px;
          margin-bottom: 22px;
          margin-left: -95px;
          margin-right: -61px;
          
          .adv_thumb{
            width: 64px;
            height: 64px;
            margin-right: 33px;
          }

          .adv_text{
            font-size: 18px;
            line-height: 135.94%;
            font-weight: 500 !important;
            color: #545454;
          }

          &:first-child{
            margin-top: 64px;
          }

        }
      }
    }
  }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------=======CLIENTS=======-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.clients{
  padding-bottom: 100px;

  .wrapper{
    display: flex;
    
    .clients_left{
      width: 440px;
      margin-right: 100px;
    }

    .clients_right{
      margin-top: 10px;
      display: flex;
      
      .client{
        width: 220px;
        height: 65px;
        margin-right: 22px;
      }
    }
  }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------=======TRIAL=======--------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.trial{
  margin-top: 100px;
  background: #DDEAF9;
  position: relative;

  .planes{
    top: -552px;
    left: 50%;
    transform: translateX(-50%);
  }

  .wrapper{
    position: relative;
    padding: 82px 70px 72px 776px;

    img{
      position: absolute;
    }

    .trial_img{
      left: 0;
      top: -100px;
      width: 699px;
      height: 422px;
    }

    .trial_subtitle{
      margin-bottom: 55px;
    }

  }
}


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------=======FOOTER=======-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

footer{
  position: relative;

  .wrapper-b{
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    grid-template-rows: min-content;
    padding: 60px 120px 72px 110px;

    .footer_logo{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      margin-right: 52px;
      width: 235px;

      .logo{
        width: 235px;
        height: 32px;
        margin-bottom: 8px;
      }

      .logo_subtitle{
        font-size: 14px;
        line-height: 19px;
        color: #C4C4C4;
      }
    }

    .footer_made-by{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      margin-top: 10px;
      margin-right: 52px;
      width: 235px;

      p{
        font-size: 14px;
        line-height: 19px;
        color: #000000;
        margin-bottom: 23px;

        a{
          font-size: 14px;
          line-height: 19px;
          color: #fb1732;
        }
      }
      
      
    }

    .footer_about{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      width: 500px;
      margin-right: 72px;

      .about_links{
        display: flex;
        margin-bottom: 27px;

        a{
          margin-right: 8px;

          img{
            width: 39px;
            height: 39px;
          }
        }
      }

      .about_title{
        font-weight: 500 !important;
        font-size: 16px;
        line-height: 24px;
        color: #242729;
        margin-bottom: 21px;
      }

      .about_text{
        font-size: 14px;
        line-height: 19px;
        color: #242729;
      }
    }

    .footer_nav{
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
      display: flex;
      flex-direction: row;

      .footer_nav-col{
        display: flex;
        flex-direction: column;
        width: 260px;
        margin-right: 60px;

        .col_title{
          font-weight: 500 !important;
          font-size: 16px;
          line-height: 24px;
          color: #242729;
          margin-bottom: 29px;
        }

        .col_item{
          margin-bottom: 20px;

          p{
            font-size: 14px;
            line-height: 19px;
            color: #545454;
          }
        }

        &:last-child{
          margin-right: 0;
        }
      }
    }
  }

  &:after{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 11px;
    background: #1763F8;
    box-shadow: 0px 22px 44px -12px rgba(46, 117, 255, 0.35);
  }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------=======MEDIA=======--------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

@media screen and (max-width: 1920px) {

  .wrapper-b{
    width: 100vw;
  }
  
  .wrapper{
    width: 75vw;
  }
  
  .planes{
    top: -4.167vw;
    width: 100vw;
    height: auto;
  }
  
  .btn-w-arrow{
    padding:0.938vw 3.698vw 0.938vw 1.615vw;
    font-size: 0.833vw;
    line-height: 0.833vw;
    box-shadow: 0px 1.146vw 2.292vw -0.625vw rgba(46, 117, 255, 0.35);
    border-radius: 0.521vw;
  
    &:after{
      right: 1.927vw;
      width: 1.094vw;
      height: 0.625vw;
    }
  
    &:hover{
  
      &::after{
        right: 1.823vw;
      }
    }
  }
  
  .big-title{
    font-size: 2.292vw;
  }
  
  .small-title{
    font-size: 1.667vw;
    line-height: 2.083vw;
    margin-bottom: 1.354vw;
  }
  
  .subtitle{
    font-size: 0.729vw;
    line-height: 0.990vw;
  }
  
  .on-title{
    font-size: 0.729vw;
    line-height: 0.990vw;
  }
  
  .link{
    font-size: 0.833vw;
    line-height: 0.833vw;
    padding-bottom: 0.104vw;
  }
  
  ::-webkit-scrollbar {
    width: 0.521vw;
  }
  
  header{
  
    .wrapper-b{
      padding-left: 2.344vw;
  
      .header_logo{
        padding: 1.458vw 0;
        width: 9.427vw;
        height: auto;
      }
  
      .header_nav{
  
        .nav_itemlist{
          padding: 1.563vw;
  
          .nav_item{
  
            a{
              font-size: 0.833vw;
              line-height: 1.146vw;
              padding: 1.563vw 0.885vw;
            }
          }
        }
  
        .header_login{
  
          input{
            font-size: 0.833vw;
            line-height: 1.146vw;
            border-radius: 0.521vw;
            padding: 0.677vw 1.406vw;
            width: 12.969vw;
            margin-right: 2.552vw; 
  
            &::placeholder{
              font-size: 0.833vw;
              line-height: 1.146vw;
            }
          }
           
          .login_selection{
            margin-right: 1.042vw;
  
            .selection_text{
              font-size: 0.833vw;
              line-height: 1.146vw;
            }
  
            label{
              border-radius: 1.198vw;
              width: 1.510vw;
              height: 0.833vw;
              margin: 1.042vw;
  
              &::after{
                left: 0.104vw;
                width: 0.417vw;
                height: 0.417vw;
              }
            }
  
            input:checked + label{
  
              &::after{
                left: calc(100% - 0.104vw - 0.625vw);
              }
            }
          }
  
          .login_register,.login_log-in{
            font-size: 0.833vw;
            line-height: 1.146vw;
          }
  
          .login_register{
            padding:1.667vw 1.563vw;
          }
  
          .login_log-in{
            padding:1.667vw 2.604vw;
          }
        }
      }
    }
  }
  
  .intro{
    padding-top: 2.135vw;
  
    .intro_top{
      margin-bottom: 2.813vw;
  
      .wrapper{
        padding: 0 9.323vw 0 1.771vw;
  
        .intro_top-left{
          margin-right: 6.979vw;
    
          img{
            width: 29.583vw;
            height: 34.948vw;
          }
        }
    
        .intro_top-right{
          width: 27.448vw;
    
          .top-right_on-title{
            padding-left: 0.104vw;
          }
    
          .top-right_title{
            margin-top: -0.365vw;
            margin-bottom: 1.406vw;
          }
    
          .top-right_subtitle{
            margin-bottom: 3.750vw;
          }
        }
      }
    }
  
    .intro_ways{
      margin-bottom: 8.281vw;
  
      .wrapper{
  
        .ways_subtitle{
          margin-bottom: 4.688vw;
        }
  
        .ways_ways{
          column-gap: 1.198vw;
          row-gap: 1.458vw;
  
          .ways_way{
            box-shadow: 0px 0px 2.604vw rgba(208, 206, 187, 0.18);
            border-radius: 0.521vw;
            padding: 1.771vw 0.521vw 1.771vw 0.990vw;
  
            .way_thumb{
              width: 3.125vw;
              height: 3.125vw;
              margin-right: 2.188vw;
            }
  
            .way_text{
              font-size: 0.833vw;
              line-height: 1.250vw;
            }
          }
  
  
        }
      }
    }
  
    .intro_how{
  
      .wrapper{
        width: 79.167vw;
        margin-bottom: 3.802vw;
  
        .how_title,.how_subtitle{
          padding: 0 2.083vw;
        }
  
        .how_subtitle{
          margin-bottom: 5.208vw;
        }
  
        .how_how-blocks{
          grid-template-columns: repeat(4,18.750vw);
  
          .how_block{
            padding: 3.125vw 2.813vw 5.208vw 1.979vw;
  
            .block_title{
              font-size: 1.667vw;
              line-height: 2.083vw;
              margin-bottom: 2.083vw;
  
              &:after{
                width: 1.563vw;
                height: 1.563vw;
                border: 0.365vw solid #F3F3F3;
                left: -3.073vw;
              }
  
              &::before{
                left: -0.625vw;
                width: 0.625vw;
                left: -2.604vw;
              }
  
            }
  
            .block_text{
              font-size: 0.729vw;
              line-height: 0.990vw;
            }
  
            &:nth-child(1){
              margin-left: 0.625vw;
  
              &::after{
                width: 0.625vw;
                top: 3.385vw;
                left: -0.625vw;
              }
            }
  
            &:nth-child(5){
              border-left: 0.625vw solid #F1F1F1;
              border-bottom: 0.625vw solid #F1F1F1;
              border-right: 0.625vw solid #F1F1F1;
              border-radius: 0 0 1.250vw 1.250vw;
            }
  
            &:nth-child(2){
              border-left: 0.625vw solid #F1F1F1;
              border-top: 0.625vw solid #F1F1F1;
              border-right: 0.625vw solid #F1F1F1;
              border-radius: 1.250vw 1.250vw 0 0;
              margin-left: -0.625vw;
            }
  
            &:nth-child(7){
              border-left: 0.625vw solid #F1F1F1;
              border-bottom: 0.625vw solid #F1F1F1;
              border-right: 0.625vw solid #F1F1F1;
              border-radius: 0 0 1.250vw 1.250vw;
              margin-left: -0.625vw;
            }
  
            &:nth-child(4){
              border-left: 0.625vw solid #F1F1F1;
              border-top: 0.625vw solid #F1F1F1;
              border-radius: 1.250vw 0 0 0;
              margin-left: -0.625vw;
  
              &::before{
                top: -0.625vw;
                border-top: 0.625vw solid #F1F1F1;
              }
            }
  
            &:hover{
  
              .block_title{
  
                &:after{
                  border: 0.365vw solid #387AFA;
                }
  
                &::before{
                  height: 5.938vw;
                }
              }
            }
          }
        }
      }
    } 
  }
  
  .programs{
    padding-bottom: 24.740vw;
    padding-top: 4.167vw;
  
    .planes{
      top: 0;
      width: 100vw;
      height: auto;
    }
  
    .wrapper{
  
      .programs_left{
        width: 24.271vw;
        margin-right: 1.146vw;
        flex-shrink: 0;
  
        .programs_on-title{
          margin-bottom: 0.521vw;
        }
  
        .programs_title{
          margin-bottom: 1.250vw;
        }
  
        .programs_subtitle{
          width: 100%;
          margin-bottom: 4.167vw;
        }
      }
  
      .programs_right{
  
        .swiper-container{
  
          .swiper-wrapper{
            padding-bottom: 1.042vw;
  
            .swiper-slide{
              column-gap: 1.198vw;
  
              .right_program{
                width: 24.219vw;
                border-radius: 0.521vw;
        
                .program_image{
                  height: 17.969vw;
                  border-radius: 0.521vw;
                }
        
                .program_info{
                  padding: 0.990vw 1.250vw 1.302vw 1.250vw;
        
                  .program_title{
                    font-size: 1.250vw;
                    line-height: 1.667vw;
                    margin-bottom: 0.990vw;
                  }
        
                  .program_subtitle{
                    font-size: 0.729vw;
                    line-height: 0.990vw;
                    margin-bottom: 1.771vw;
                    width: 20.104vw;
                  }
                }
              }
            }
          }
        }
  
        .navigation-block{
          bottom: 1.042vw;
          left: -4.792vw;
  
          .swiper-button-next,.swiper-button-prev{
            img{
              width: 1.667vw;
              height: 1.667vw;
            }
          }
    
          .swiper-button-prev{
            margin-right: 0.260vw;
          }
        }
      }
    }
  }

  .specialists{
    margin-top: -18.177vw;
    margin-bottom: 7.604vw;
  
    .wrapper{
  
      .specialists_header{
        margin-bottom  : 1.927vw;
  
        .specialists_title{
          margin-bottom: 1.042vw;
        }
  
        .specialists_all{
          margin-left: 1.563vw;
        }
      }
  
      .specialists_main{
        row-gap: 1.563vw;
        column-gap: 1.198vw;
        
  
        .specialist_card{
          width: 17.865vw;
          padding: 0.990vw 0.833vw 31px 0.833vw;
          box-shadow: 0px 1.146vw 2.292vw -0.625vw rgba(221, 224, 230, 0.35);
          border-radius: 0.521vw;
  
          .card_image{
            width: 16.146vw;
            height: 16.146vw;
            margin-bottom: 0.781vw;
            border-radius: 0.521vw;
          }
  
          .card_name{
            font-size: 0.938vw;
            line-height: 1.042vw;
            margin-bottom: 0.781vw;
          }
  
          .card_professions{
            margin-bottom: 1.146vw;
  
            .profession{
              font-size: 0.625vw;
              line-height: 0.833vw;
              padding: 0.521vw 0.677vw;
              border-radius: 0.521vw;
              margin-right: 0.313vw;
              min-width: 4.896vw;
            }
          }
  
          .card_statistics{
  
            .card_statistic{
  
              .statistic-name{
                font-size: 0.625vw;
                line-height: 0.677vw ;
                margin-bottom: 0.521vw;
              }
  
              .statistic_text,.raiting-text{
                font-size: 0.833vw;
                line-height: 1.250vw;
              }
  
  
              .raiting{
  
                .raiting-text{
                  margin-right: 0.417vw;
                }
  
                .raiting_stars{
                  height: 0.417vw;
  
                  .raiting_star{
                    margin-right: 0.104vw;
                    position: relative;
                    width: 0.417vw;
                    height: 0.417vw;
  
                    img{
                      width: 0.417vw;
                      height: 0.417vw;
                    }
                  }
                }
              }  
            }
          }
        }
      }
    }
  }

  .blog{
    margin-bottom: 12.500vw;
  
    .wrapper{
  
      .blog_header{
        margin-bottom: 2.083vw;
  
        .blog_title{
          margin-bottom: 1.042vw;
        }
  
        .blog_see-all{
          margin-left: 0.521vw;
        }
      }
  
      .blog_main{
        column-gap: 3.385vw;
        row-gap: 4.167vw;
  
        .blog_item{
  
          .item_img{
            width: 5.208vw;
            height: 4.271vw;
            border-radius: 0.521vw;
            margin-right: 1.146vw;
          }
  
          .item_info{
  
            .info_title{
              font-size: 0.833vw;
              line-height: 1.250vw;
              margin-bottom: 0.417vw;
            }
  
            .info_date{
              font-size: 0.625vw;
              line-height: 0.677vw;
              margin-bottom: 0.781vw;
            }
  
            .info_text{
              font-size: 0.729vw;
              line-height: 0.990vw;
            }
          }
        }
      }
    }
  }

  .intro_advantages{
  
    .wrapper{
  
      .adv_left{
        width: 27.448vw;
  
        .adv_title{
          margin-bottom: 1.354vw;
        }
  
        .adv_subtitle{
          margin-bottom: 4.167vw;
        }
      }
  
      .adv_right{
  
        .right_image{
          width: 24.219vw;
          height: 29.167vw;
        }
  
        .right_advantages{
  
          .advantage_blk{
            width: 29.167vw;
            padding: 1.302vw 1.667vw;
            box-shadow: 0px 0px 2.604vw rgba(208, 206, 187, 0.18);
            border-radius: 0.521vw;
            margin-bottom: 1.146vw;
            margin-left: -4.948vw;
            margin-right: -4.948vw;
            
            .adv_thumb{
              width: 3.333vw;
              height: 3.333vw;
              margin-right: 1.719vw;
            }
  
            .adv_text{
              font-size: 0.938vw;
            }
  
            &:first-child{
              margin-top: 3.333vw;
            }
          }
        }
      }
    }
  }
  
  .clients{
    padding-bottom: 5.208vw;
  
    .wrapper{
      
      .clients_left{
        width: 22.917vw;
        margin-right: 5.208vw;
      }
  
      .clients_right{
        margin-top: 0.521vw;
        
        .client{
          width: 11.458vw;
          height: 3.385vw;
          margin-right: 1.146vw;
        }
      }
    }
  }
  
  .trial{
    margin-top: 5.208vw;
  
    .planes{
      top: -28.750vw;
    }
  
    .wrapper{
      padding: 4.271vw 3.646vw 3.750vw 40.417vw;
  
      .trial_img{
        top: -5.208vw;
        width: 36.406vw;
        height: 21.979vw;
      }
  
      .trial_subtitle{
        margin-bottom: 2.865vw;
      }
  
    }
  }

  footer{
  
    .wrapper-b{
      padding: 3.125vw 6.250vw 3.750vw 5.729vw;
  
      .footer_logo{
        margin-right: 2.708vw;
        width: 12.240vw;
  
        .logo{
          width: 12.240vw;
          height: 1.667vw;
          margin-bottom: 0.417vw;
        }
  
        .logo_subtitle{
          font-size: 0.729vw;
          line-height: 0.990vw;
        }
      }
  
      .footer_made-by{
        margin-top: 0.521vw;
        margin-right: 2.708vw;
        width: 12.240vw;
  
        p{
          font-size: 0.729vw;
          line-height: 0.990vw;
          margin-bottom: 1.198vw;
  
          a{
            font-size: 0.729vw;
            line-height: 0.990vw;
          }
        }
        
        
      }
  
      .footer_about{
        width: 26.042vw;
        margin-right: 3.750vw;
  
        .about_links{
          margin-bottom: 1.406vw;
  
          a{
            margin-right: 0.417vw;
  
            img{
              width: 2.031vw;
              height: 2.031vw;
            }
          }
        }
  
        .about_title{
          font-size: 0.833vw;
          line-height: 1.250vw;
          margin-bottom: 1.094vw;
        }
  
        .about_text{
          font-size: 0.729vw;
          line-height: 0.990vw;
        }
      }
  
      .footer_nav{
  
        .footer_nav-col{
          width: 13.542vw;
          margin-right: 3.125vw;
  
          .col_title{
            font-size: 0.833vw;
            line-height: 1.250vw;
            margin-bottom: 1.510vw;
          }
  
          .col_item{
            margin-bottom: 1.042vw;
  
            p{
              font-size: 0.729vw;
              line-height: 0.990vw;
            }
          }
        }
      }
    }
  
    &:after{
      height: 0.573vw;
      box-shadow: 0px 1.146vw 2.292vw -0.625vw rgba(46, 117, 255, 0.35);
    }
  }

}

