/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----========CSS RESET========------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
:focus {
   outline: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}

body {
 line-height: 1;
}

ol, ul {
 list-style: none;
}

blockquote, q {
 quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
   -webkit-appearance: none;
   -moz-appearance: none;
}

input[type=search] {
   -webkit-appearance: none;
   -moz-appearance: none;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

textarea {
   overflow: auto;
   vertical-align: top;
   resize: vertical;
}
audio,
canvas,
video {
   display: inline-block;
   *display: inline;
   *zoom: 1;
   max-width: 100%;
}
audio:not([controls]) {
   display: none;
   height: 0;
}
[hidden] {
   display: none;
}
html {
   font-size: 100%; /* 1 */
   -webkit-text-size-adjust: 100%; /* 2 */
   -ms-text-size-adjust: 100%; /* 2 */
}
a:focus {
   outline: thin dotted;
}
a:active,
a:hover {
   outline: 0;
}
img {
   border: 0; /* 1 */
   -ms-interpolation-mode: bicubic; /* 2 */
}
figure {
   margin: 0;
}
form {
   margin: 0;
}
fieldset {
   border: 1px solid #c0c0c0;
   margin: 0 2px;
   padding: 0.35em 0.625em 0.75em;
}
legend {
   border: 0; /* 1 */
   padding: 0;
   white-space: normal; /* 2 */
   *margin-left: -7px; /* 3 */
}
button,
input,
select,
textarea {
   font-size: 100%; /* 1 */
   margin: 0; /* 2 */
   vertical-align: baseline; /* 3 */
   *vertical-align: middle; /* 3 */
}
button,
input {
   line-height: normal;
}
button,
select {
   text-transform: none;
}


button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
   -webkit-appearance: button; /* 2 */
   cursor: pointer; /* 3 */
   *overflow: visible;  /* 4 */
}
button[disabled],
html input[disabled] {
   cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
   box-sizing: border-box; /* 1 */
   padding: 0; /* 2 */
   *height: 13px; /* 3 */
   *width: 13px; /* 3 */
}
input[type="search"] {
   -webkit-appearance: textfield; /* 1 */
   -moz-box-sizing: content-box;
   -webkit-box-sizing: content-box; /* 2 */
   box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}
textarea {
   overflow: auto; /* 1 */
   vertical-align: top; /* 2 */
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

html,
button,
input,
select,
textarea {
   color: #222;
}


::-moz-selection {
   background: #b3d4fc;
   text-shadow: none;
}

::selection {
   background: #b3d4fc;
   text-shadow: none;
}

img {
   vertical-align: middle;
}

fieldset {
   border: 0;
   margin: 0;
   padding: 0;
}

textarea {
   resize: vertical;
}

.chromeframe {
   margin: 0.2em 0;
   background: #ccc;
   color: #000;
   padding: 0.2em 0;
}
a{
   text-decoration: none;
   color: black;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========FONTS========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------======GLOBAL STYLES======----- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
*{
   font-family: 'Montserrat', sans-serif !important;
   box-sizing: border-box;
}
a:focus, a:visited{
   outline: none;
}
.wrapper{
   max-width: 1236px;
   margin: 0 auto;
}



/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -------========HEADER========------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
.header{
   width: 100%;
   background-color: #F9F9F9;
   padding: 20px 0;
}
.header__items{
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.header_nav-two, .header_nav-one{
   display: flex;
}
.nav-one_item{
   margin-right: 25px;
}
.nav-one_item_link{
   color: black;
   font-style: normal;
   font-weight: 600;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.03em;
   padding: 20px 11px 14px;
   transition-duration: .3s;
   border-bottom: 0px solid #FFF738;
}
.nav-one_item_link:hover{
   border-bottom: 7px solid #FFF738;
}
.nav-two_item{
   margin-left: 33px;
}
.nav-two_item_link{
   color: black;
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.03em;
   transition-duration: .3s;
   padding:20px 0;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------========INTRO========------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.intro{
   background:url(../images/intro-bg.png) no-repeat,rgba(0, 0, 0, 0.5);
   background-blend-mode: overlay;
   background-size: cover;
   min-height: 200px;
   position: absolute;
   width: 100%;
   z-index: 1;
}
.intro .wrapper{
   position: relative;
}
.intro__top{
   width: 100%;
   display: flex;
}
.intro_tel, .intro_order-call{
   color: white;
   height: fit-content;
   margin-top: 38px;
}
.intro_tel{
   margin-left: auto;
   font-size: 21px;
   line-height: 26px;
   font-weight: bold;
}
.intro_order-call{
   margin-left: 41px;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.03em;
   padding-right: 29px;
   background: url(../images/svg/arrow-right.svg) no-repeat center right;
}
.intro__bottom{
   width: 100%;
   padding-bottom: 30px;
}
.intro_title{
   font-weight: 800;
   font-size: 53px;
   line-height: 50px;
   letter-spacing: 0.02em;
   color: white;
   width: 30vw;
}
.intro_dest-links{
   margin-top: 35px;
}
.intro_dest-link{
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
   color: #FFFFFF;
   letter-spacing: 0.1em;
}
.intro_dest-link span{
   color: rgb(223, 225, 38);
}
.intro__weekly{
   background-color: white;
   padding-top: 30px;
   
}
.weekly_items{
   padding-left: 75px;
}
.weekly_text:first-child{
   font-style: normal;
   font-weight: 300;
   font-size: 13px;
   line-height: 16px;
   color: rgb(176,176,176);
   letter-spacing: .03em;
}
.weekly_text:last-child{
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   color: #363636;
   padding-top: 6px;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* -----=======COMPANY DESC=======----- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.company-desc{
   z-index: 100;
   position: relative;
   padding-bottom: 41px;
}
.company-desc__sale{
   position: relative;
   width: 399px;
   height: 399px;
   float: right;
   background: url(../images/info__sale-bg.png);
   background-size: cover;
   margin-top: 138px;
   transition-duration: .3s;
   border-bottom: 7px solid #FFF738;
}
.sale_sale-btn{
   position: absolute;
   padding: 19px 69px 19px 42px;
   border: none;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.03em;
   background: url(../images/svg/arrow-rigt-blk.svg) no-repeat,#FFF738;
   background-position: 160px center;
   background-blend-mode: multiply;
   transition-duration: .3s;
   bottom: 31px;
   left: 50%;
   transform: translateX(-50%);
}
.sale_sale-btn:hover{
   background-position: 165px center;
}
.company-desc_text{
   padding-top: 458px;
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 151.9%;
   letter-spacing: 0.03em;
}
.company-desc_show-all-btn{
   display: none;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* --------========INFO========-------- */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
.info{
   padding-bottom: 52px;
}
.info__nav{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.info__nav_items{
   display: flex;
}

.info__nav_item-link{
   font-weight: 300;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.03em;
   padding: 10px 31.5px;
}
.info__nav_item:first-child .info__nav_item-link{
   padding: 10px 31.5px 10px 0;

}
.info__nav_item-link-active{
   font-weight: 600;
}
.info__nav_ask-q-btn{
   padding: 19px 66px 19px 27px;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.03em;
   border: none;
   background: url(../images/svg/arrow-rigt-blk.svg) no-repeat,#FFF738;
   background-position: 150px center;
   background-blend-mode: multiply;
   transition-duration: .3s;
}
.info__nav_ask-q-btn:hover{
   background-position: 155px center;
}
.info__nav_item-link_qa-mob{
   display: none;
}
.info__nav_blocks{
   margin-top: 18px;
}
.nav__blocks_block{
   width: 100%;
}
.serv_header, .qa-block_header{
   width: 100%;
   height: 41px;
   padding-left: 28px;
   padding-right: 22px;
   background: #202020;
   font-weight: 600;
   color: white;
   display: flex;
   align-items: center;
   letter-spacing: 0.03em;
   position: relative;
}
.serv_header:after, .qa-block_header:after{
   background: url(../images/svg/serv_price_block_arrow.svg) no-repeat;
   content: "";
   background-position: center right;
   width: 15px;
   height: 15px;
   position: absolute;
   right: 35px;
   top:50%;
   transform: translateY(-50%);
   transition: .3s;
}

.block_item{
   display: flex;
   justify-content: space-between;
   padding:12px 34px 12px 28px
}
.serv_column-values{
   display: grid;
   grid-template-columns: 80px 70px 70px;
   text-align: center;
}
.counter{
   display: flex;
   max-width: 80px;
   margin: 0 auto;
}

.blocks_block_serv-price div div:nth-child(2) div:nth-child(2) div,.blocks_block_serv-price div div:nth-child(2) div:nth-child(2) p {
   font-weight: 600;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.03em;
}
.counter{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.counter_plus,.counter_minus{
   background-color: #FFF738;
   width: 19px;
   height: 19px;
   border-radius: 20px;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
}
.counter_plus{
   padding-top: 2px;
}
.counter_count{
   margin: 0 15px;
}
.serv-price-block,.qa-block{
   height: 41px;
   overflow: hidden;
   margin-bottom: 3px;
   cursor: pointer;
   transition-duration: .3s;
}
.serv-price-block-active, .qa-block-active{ 
   height: unset;
   transition-duration: .3s;
}
.serv-price-block-active .serv_header::after,.qa-block-active .qa-block_header::after{
   transform: rotate(90deg) translateX(-50%);
}
.serv-price_block_calc_summ{
   width: 100%;
}
.calc_summ_price{
   display: flex;
   margin-left: 28px;
   margin-top: 30px;  
}
.price_price{
   font-weight: 600;
   font-size: 55px;
   color: black;
}
.price_sale{
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.03em;
   color: #747474;
   margin-left: 19px;
}
.calc_summ_text{
   font-weight: 300;
   font-size: 13px;
   line-height: 16px;
   letter-spacing: 0.03em;
   color: #747474;
   width: 19vw;
}
.qa_text{
   font-weight: 300;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.03em;
}
.ex_items{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 32px;
}
.example_img{
   max-width: 390px;
   min-height: 410px;
   background: no-repeat center center;
   position: relative;
}
#example_img-1{
   background-image: url(../images/ex-pic-1.png);
}
#example_img-2{
   background-image: url(../images/ex-pic-2.png);
}
#example_img-3{
   background-image: url(../images/ex-pic-3.png);
}
.img_desc{
   position: absolute;
   height: 32.68%;
   width: 100%;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   background: rgba(0, 0, 0, 0.6);
   text-align: center;
   bottom: 0;
}
.img_desc_text{
   width: 14vw;
}
.example_more{
   width: 100%;
   border: 0;
   text-decoration: none;
   padding: 18px 0;
   background: url(../images/svg/arrow-rigt-blk.svg) center right no-repeat;
   background-color: #FFF738;
   background-position: 70% center;
   transition-duration: .3s;
}
.example_more:hover{
   background-position: 72% center;
}
.nav__blocks_block{
   display: none;
}
.block-active{
   display: block;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------======ASK QUESTION======------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
.ask-q{
   background: url(../images/q-bg.png) no-repeat;
   
   z-index: 2;
}
.ask-q .wrapper{
   border: 12px solid #F9F9F9;
   display: flex;
   justify-content: flex-end;
   position: relative;
   overflow: hidden;
}

.q__form{
   width: fit-content;
   margin-top: 75px;
}
.q_title{
   font-style: normal;
   font-weight: bold;
   font-size: 2.5vw;
   line-height: 102.4%;
   letter-spacing: 0.03em;
   width: 30vw;
   color: black;
}
.q_title-desc{
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.03em;
   width: 25vw;
   color: #000000;
}
.q_forms{
   margin-top: 40px;
}
.q_forms_number-form{
   background: #FFFFFF;
   mix-blend-mode: normal;
   border: 1px solid #A3A3A3;
   height: 55px;
   padding-right: 62px;
   padding-left: 37px;
}
.q_forms_number-form::placeholder{
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: 0.03em;
   color: #DBDBDB;
}
.q_forms_send-btn{
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.03em;
   color: #000000;
   border: none;
   height: 55px;
   padding-right: 49px;
   padding-left: 31px;
   background: url(../images/svg/arrow-rigt-blk.svg) no-repeat ,#FFF738;
   background-position: 92% center;
   background-blend-mode: multiply;
   transition-duration: .3s;
}
.q_forms_send-btn:hover{
   background-position: 95% center;
}
.q_form-desc{
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.03em;
   color: #000000;
   max-width: 544px;
   margin-top:40px;
}
.q_form-desc span{
   font-weight: 600;
}