/* inter-300 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v3-latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v3-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v3-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/inter-v3-latin_cyrillic-300.woff") format("woff"), url("../fonts/inter-v3-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/inter-v3-latin_cyrillic-300.svg#Inter") format("svg");
  /* Legacy iOS */ }

/* inter-regular - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v3-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v3-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v3-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/inter-v3-latin_cyrillic-regular.woff") format("woff"), url("../fonts/inter-v3-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/inter-v3-latin_cyrillic-regular.svg#Inter") format("svg");
  /* Legacy iOS */ }

/* inter-500 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v3-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v3-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v3-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/inter-v3-latin_cyrillic-500.woff") format("woff"), url("../fonts/inter-v3-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/inter-v3-latin_cyrillic-500.svg#Inter") format("svg");
  /* Legacy iOS */ }

/* inter-600 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v3-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v3-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v3-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/inter-v3-latin_cyrillic-600.woff") format("woff"), url("../fonts/inter-v3-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/inter-v3-latin_cyrillic-600.svg#Inter") format("svg");
  /* Legacy iOS */ }

/* inter-800 - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-v3-latin_cyrillic-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v3-latin_cyrillic-800.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v3-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/inter-v3-latin_cyrillic-800.woff") format("woff"), url("../fonts/inter-v3-latin_cyrillic-800.ttf") format("truetype"), url("../fonts/inter-v3-latin_cyrillic-800.svg#Inter") format("svg");
  /* Legacy iOS */ }

html {
  background: #F7FBFE; }

* {
  box-sizing: border-box;
  font-family: 'Inter' !important;
  font-style: normal;
  font-weight: 400; }

.button {
  border-radius: 18px;
  background: 0;
  border: 0;
  font-weight: 500; }

a {
  transition: .3s; }
  a:hover {
    color: #4174a5; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto; }

#header {
  width: 100vw;
  margin-bottom: 50px;
  background: white;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05); }
  #header .wrapper {
    display: flex;
    align-items: center;
    padding: 20px 15px; }

.header__logo {
  height: 42px;
  width: auto;
  margin-right: 30px; }

.header__search {
  display: flex; }
  .header__search input {
    border: 0;
    border-radius: 50px;
    background: #F7FBFE;
    padding: 15px 25px;
    padding-right: 40px; }
  .header__search .search_search-btn {
    margin-left: -40px;
    margin-right: 40px;
    transform: translateY(2px);
    display: block;
    background: 0;
    border: 0; }

.header__navigation {
  display: flex;
  margin-right: 20px; }
  .header__navigation li a {
    padding: 10px 15px;
    font-size: 18px;
    transition: .3s;
    font-weight: 500;
    color: black; }
    .header__navigation li a:hover {
      color: #4174a5; }

.header__cart {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 30px; }
  .header__cart svg {
    margin-right: 5px; }

.header__profile-interract button {
  padding: 11px 22px; }

.header__profile-interract .interract_login {
  background: #4174a5;
  border: 2px solid #4174a5;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  margin-right: 10px;
  transition: .3s; }
  .header__profile-interract .interract_login:hover {
    opacity: 0.8; }

.header__profile-interract .interract_register {
  border: 2px solid #4174a5;
  transition: .3s; }
  .header__profile-interract .interract_register:hover {
    background: #4174a5;
    color: white; }

.header_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative; }
  .header_profile .profile-name {
    font-size: 18px;
    text-align: center;
    color: #02569C;
    display: inline-block;
    margin-right: 20px;
    flex-shrink: 0; }
  .header_profile .profile-image {
    width: 64px;
    height: 64px;
    border: 2px solid #02569C;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    flex-shrink: 0;
    transform: translateY(-2px); }

.main .wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 50px;
  padding-bottom: 100px; }
  .main .wrapper sidebar {
    width: 100%;
    background: white;
    border-radius: 18px;
    padding: 30px 35px;
    padding-top: 50px;
    height: fit-content;
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05); }
    .main .wrapper sidebar .categories-title {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 20px;
      color: #4174a5; }
    .main .wrapper sidebar .categories-list li {
      padding: 25px 0;
      border-bottom: 1px solid #C4C4C4; }
      .main .wrapper sidebar .categories-list li a {
        display: flex;
        align-items: center;
        transition: color .3; }
        .main .wrapper sidebar .categories-list li a:hover {
          color: #02569C; }
      .main .wrapper sidebar .categories-list li img {
        margin-right: 15px; }
      .main .wrapper sidebar .categories-list li p {
        font-size: 20px;
        line-height: 23px; }
      .main .wrapper sidebar .categories-list li:last-child {
        padding-bottom: 55px;
        border: 0; }
  .main .wrapper .content {
    width: 100%;
    background: white;
    border-radius: 18px;
    padding: 40px 50px;
    padding-top: 50px;
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05); }
    .main .wrapper .content .item-block {
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
      margin-bottom: 40px;
      border-bottom: 1px solid #c4c4c4; }
      .main .wrapper .content .item-block .item-block_title {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: black;
        margin-bottom: 50px; }
      .main .wrapper .content .item-block .show-all {
        display: block;
        width: fit-content;
        margin-left: auto;
        border: 0;
        background: 0;
        text-decoration: underline;
        color: #4174a5;
        transition: .3s; }
        .main .wrapper .content .item-block .show-all:hover {
          opacity: 0.7; }
      .main .wrapper .content .item-block:last-child {
        border-bottom: 0;
        margin-bottom: -20px; }
    .main .wrapper .content .block-content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 40px;
      row-gap: 40px;
      margin-bottom: 15px; }

.main .shop-item {
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  padding: 25px 21px 34px 21px;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05); }
  .main .shop-item a {
    display: block; }
  .main .shop-item .item_image {
    width: 100%;
    height: 171px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 16px; }
  .main .shop-item .item_shop-name {
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #4174A5;
    margin-bottom: 15px; }
    .main .shop-item .item_shop-name.verified {
      position: relative;
      padding-left: 20px; }
      .main .shop-item .item_shop-name.verified::before {
        content: "";
        background: url(../img/svg/verified-ico.svg);
        background-size: cover;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 1px; }
  .main .shop-item .item_name {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
    word-break: break-all; }
  .main .shop-item .item_info-group {
    margin-bottom: 15px; }
    .main .shop-item .item_info-group .item_sub-text {
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;
      color: #BDBDBD;
      margin-bottom: 7px; }
    .main .shop-item .item_info-group .item_stars {
      display: flex; }
      .main .shop-item .item_info-group .item_stars svg {
        margin-right: 6px; }
    .main .shop-item .item_info-group:last-child {
      margin-bottom: 0; }
  .main .shop-item .item_price {
    font-weight: 700;
    font-size: 16px;
    line-height: 17px; }

footer {
  width: 100vw;
  background: white; }
  footer .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 50px 25px; }
    footer .wrapper h3 {
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 17px;
      color: #4174a5; }
    footer .wrapper ul li {
      margin-bottom: 10px; }
      footer .wrapper ul li a {
        display: flex; }
    footer .wrapper .col1 {
      padding-right: 40px; }
    footer .wrapper .footer_logo {
      margin-bottom: 20px; }

/*# sourceMappingURL=style.css.map */
