/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v18-latin_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */ }

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v18-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v18-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v18-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v18-latin_cyrillic-500.svg#Montserrat") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Rounded';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/MPLUSRounded1c-Medium.ttf"); }

@font-face {
  font-family: 'Pix';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Pixerius.otf"); }

* {
  scroll-behavior: smooth; }

.wrapper {
  margin: 0 auto; }

body {
  background: #1F1F1F;
  color: white; }

.intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .intro .wrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 2%; }

.intro__title {
  margin-bottom: 30px; }

.intro__subtitle {
  margin-left: auto;
  font-family: 'Montserrat' !important;
  font-weight: 500 !important;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 46px;
  text-align: right;
  color: white; }
  .intro__subtitle span {
    display: block; }

.intro__arrow-down {
  position: relative;
  animation: shakeArrow 3s infinite ease-in-out; }
  ani
.intro__arrow-down::after {
    position: absolute;
    content: " ";
    width: 150px;
    height: 150px;
    left: -70px;
    top: 0; }

@keyframes shakeArrow {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(30px); }
  100% {
    transform: translateY(0); } }

.dinos {
  margin-top: -82px;
  height: 1214px;
  position: relative;
  margin-bottom: 112px; }

.dinos__dino {
  position: absolute; }

.dinos__dino-left {
  left: 0;
  top: 0; }

.dinos__dino-center {
  left: 50%;
  top: 282px;
  transform: translateX(-50%); }

.dinos__dino-right {
  right: -4px;
  top: 177px; }

.runline {
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 250px;
  margin-bottom: 21px; }
  .runline .wrapper {
    width: 1491px;
    margin-top: -140px; }

.runline__line {
  width: fit-content;
  display: flex; }
  .runline__line p {
    font-size: 320px;
    line-height: 432px;
    -webkit-text-stroke: 2px #FFFFFF;
    color: #1F1F1F;
    font-family: 'Pix'; }

.runline__desc {
  display: flex;
  margin-left: 50px; }

.runline__desc_item {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat' !important;
  font-weight: 500 !important;
  font-size: 24px;
  line-height: 120%;
  position: relative;
  color: black; }
  .runline__desc_item::after {
    content: " ";
    position: absolute;
    border-radius: 50%;
    height: 180px;
    filter: blur(70px);
    opacity: .8; }
  .runline__desc_item span {
    background: white;
    white-space: nowrap;
    width: fit-content;
    position: relative;
    z-index: 2; }
  .runline__desc_item.item1 {
    margin-right: 134px; }
    .runline__desc_item.item1:after {
      width: 656px;
      left: -174px;
      top: -76px;
      background: #00FFCB; }
    .runline__desc_item.item1 span:nth-child(1) {
      margin-left: 24px;
      padding: 6px 22px 3px 22px;
      padding-bottom: 3px; }
    .runline__desc_item.item1 span:nth-child(2) {
      padding: 0px 22px 8px 21px;
      margin-top: -2px;
      position: relative; }
      .runline__desc_item.item1 span:nth-child(2):after {
        content: "";
        position: absolute;
        left: 100%;
        top: 100%;
        width: 33px;
        height: 33px;
        background: white; }
  .runline__desc_item.item2 {
    margin-right: 167px; }
    .runline__desc_item.item2:after {
      width: 658px;
      left: -174px;
      top: -73px;
      background: #A597FD; }
    .runline__desc_item.item2 span:nth-child(1) {
      padding: 5px 22px 4px 16px;
      position: relative; }
      .runline__desc_item.item2 span:nth-child(1):after {
        content: "";
        position: absolute;
        left: 100%;
        bottom: 100%;
        width: 33px;
        height: 33px;
        background: white; }
    .runline__desc_item.item2 span:nth-child(2) {
      margin-left: 35px;
      margin-top: -6px;
      padding: 3px 22px 5px 13px; }
  .runline__desc_item.item3:after {
    width: 737px;
    height: 203px;
    left: -124px;
    top: -87px;
    background: #FF598E; }
  .runline__desc_item.item3 span:nth-child(1) {
    padding: 5px 22px 1px 21px;
    margin-left: auto; }
  .runline__desc_item.item3 span:nth-child(2) {
    margin-top: -4px;
    padding: 3px 17px 4px 24px;
    margin-right: 35px;
    position: relative; }
    .runline__desc_item.item3 span:nth-child(2):after {
      content: "";
      position: absolute;
      left: 100%;
      top: 100%;
      width: 35px;
      height: 35px;
      background: white; }

.what-we-create {
  margin-bottom: 280px; }
  .what-we-create .wrapper {
    width: 1719px;
    display: flex;
    flex-direction: column; }

.what-we-create__line1 {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  margin-bottom: 3px; }

.what-we-create__illustartion {
  margin-bottom: 9px;
  margin-right: 18px; }

.what-we-create__line1_text {
  font-weight: 500;
  font-size: 170px;
  line-height: 103.4%;
  text-transform: lowercase;
  font-family: 'Rounded';
  margin-right: 71px;
  background: linear-gradient(90deg, #00FFCB 4.64%, #A597FD 57.32%, #FF598E 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.what-we-create__line2 {
  margin-right: auto; }

.what-we-create__line2_text {
  font-family: 'Pix';
  font-size: 170px;
  line-height: 99.33%;
  letter-spacing: 0.015em;
  -webkit-text-stroke: 2px #3FFFD8;
  color: #1F1F1F; }

.what-we-create__line3 {
  display: flex;
  margin-left: auto;
  margin-right: 109px;
  margin-top: -22px; }

.what-we-create_line3_text {
  font-weight: 500;
  font-size: 170px;
  line-height: 206px;
  text-transform: lowercase;
  font-family: 'Rounded';
  margin-right: 46px;
  position: relative; }
  .what-we-create_line3_text span {
    position: relative;
    z-index: 2;
    background: linear-gradient(90deg, #00FFCB 4.64%, #A597FD 57.32%, #FF598E 99.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .what-we-create_line3_text::after {
    content: " ";
    position: absolute;
    width: 265px;
    height: 108px;
    left: 205px;
    top: 36px;
    background: #00FFCB;
    border: 1px solid #000000;
    box-sizing: border-box;
    filter: blur(80px);
    opacity: .5;
    z-index: -0; }

.what-we-create_line3_textblock {
  width: 604px;
  position: relative;
  font-size: 24px;
  line-height: 120%;
  font-family: 'Montserrat' !important;
  font-weight: 500 !important;
  margin-top: 40px;
  margin-left: 23px; }
  .what-we-create_line3_textblock::after {
    content: " ";
    position: absolute;
    width: 666.19px;
    height: 221.1px;
    top: -60px;
    left: -30px;
    border: 2px solid #B9C3FC;
    box-sizing: border-box;
    border-radius: 50%;
    transform: matrix(0.97, 0.19, -0.23, 0.98, 0, 0); }
  .what-we-create_line3_textblock::before {
    content: " ";
    position: absolute;
    width: 378px;
    height: 121px;
    left: 98px;
    top: -61px;
    background: #FF598E;
    border: 1px solid #000000;
    box-sizing: border-box;
    filter: blur(80px);
    opacity: .5; }

.how-it-works {
  margin-bottom: 232px; }
  .how-it-works .wrapper {
    width: 1407px;
    position: relative; }
    .how-it-works .wrapper::after {
      content: url(../img/svg/how-it-works-star.png);
      position: absolute;
      top: 497px;
      right: 35px; }
    .how-it-works .wrapper::before {
      content: url(../img/svg/how-it-works-star.png);
      position: absolute;
      top: 390px;
      right: 250px; }

.how-it-works__title {
  font-family: 'Pix';
  font-size: 170px;
  line-height: 160px;
  margin-bottom: 76px;
  letter-spacing: 0.04em; }

.how-it-works__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: default; }
  .how-it-works__list-item:hover .how-it-works__list-item_order-num {
    background: linear-gradient(90deg, #00FFCB 4.64%, #A597FD 57.32%, #FF598E 99.99%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent; }
  .how-it-works__list-item:hover .how-it-works__list-item_text {
    color: white; }

.how-it-works__list-item_order-num {
  font-size: 120px;
  line-height: 162px;
  font-family: 'Pix';
  color: #1F1F1F;
  -webkit-text-stroke: 2px #828282;
  margin-right: 88px;
  margin-left: 2px; }

.how-it-works__list-item_text {
  font-size: 30px;
  line-height: 120%;
  font-family: 'Rounded';
  width: 582px;
  color: #999999;
  transition: .3s; }

.how-it-works__ship {
  position: absolute;
  right: -211px;
  bottom: -174px; }

.register {
  margin-bottom: 85px; }
  .register .wrapper {
    width: 991px;
    position: relative;
    transform: translateX(33px); }
    .register .wrapper::after {
      content: url(../img/svg/register-border.svg);
      position: absolute;
      left: -227px;
      top: -62px; }

.register__text {
  font-size: 30px;
  line-height: 120%;
  font-family: 'Rounded';
  margin-bottom: 36px; }
  .register__text span {
    color: #3FFFD8; }

.why-we-can {
  margin-bottom: 224px; }
  .why-we-can .wrapper {
    width: 1670px;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr min-content;
    position: relative; }

.why-we-can__header {
  font-size: 170px;
  line-height: 103.4%;
  font-family: 'Rounded';
  width: 1387px;
  margin-left: auto;
  text-align: right;
  cursor: default;
  grid-column: 1/3; }
  .why-we-can__header span {
    -webkit-text-stroke: 2px #FF598E;
    color: #1F1F1F;
    font-family: 'Pix'; }
  .why-we-can__header p:first-child {
    margin-right: 236px; }
    .why-we-can__header p:first-child span {
      margin-right: 58px;
      display: inline-block;
      transform: translateY(5px); }
  .why-we-can__header p:last-child {
    text-align: right;
    margin-right: 17px;
    margin-top: -21px; }

.why-we-can__content {
  width: 675px;
  margin-right: 187px;
  margin-left: 90px;
  font-size: 24px;
  line-height: 120%;
  font-family: 'Rounded';
  margin-top: 72px; }
  .why-we-can__content span {
    color: #EC90BD; }

.why-we-can__illustration {
  justify-self: end;
  display: block;
  margin-top: -173px; }

.why-we-can__feather {
  position: absolute;
  bottom: -73px;
  right: 22px; }

.how-vet-works {
  margin-bottom: 394px; }
  .how-vet-works .wrapper {
    width: 1578px;
    padding-left: 40px; }

.how-vet-works__header {
  font-size: 170px;
  line-height: 103.4%;
  font-family: 'Rounded';
  text-transform: lowercase;
  text-align: center;
  margin-left: -38px; }
  .how-vet-works__header span {
    font-family: 'Pix';
    background: linear-gradient(90deg, #00FFCB 4.64%, #A597FD 57.32%, #FF598E 99.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    transform: translate(-20px, 2px); }

.how-vet-works__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  column-gap: 159px;
  row-gap: 63px; }

.how-vet-works__contnet-item {
  display: flex; }
  .how-vet-works__contnet-item:nth-child(2n) {
    margin-left: 4px; }
    .how-vet-works__contnet-item:nth-child(2n) .content-item_content {
      margin-left: -75px; }
  .how-vet-works__contnet-item.item1 {
    position: relative; }
    .how-vet-works__contnet-item.item1::after {
      content: " ";
      width: 284px;
      height: 123px;
      position: absolute;
      top: 65px;
      right: 148px;
      background: linear-gradient(90deg, #00FFCB 0.01%, #A597FD 49.92%, #FF5289 99.99%);
      filter: blur(40px);
      opacity: .7;
      transform: rotate(12.39deg); }

.content-item__num {
  font-size: 200px;
  line-height: 248px;
  font-family: 'Pix';
  -webkit-text-stroke: 1px #3FFFD8;
  color: #1F1F1F;
  cursor: default; }

.content-item_content {
  margin-top: 137px;
  margin-left: -61px;
  font-family: 'Rounded';
  position: relative;
  z-index: 2; }

.content-item_title {
  font-size: 60px;
  line-height: 103.4%;
  text-transform: lowercase;
  color: #FFFFFF;
  margin-bottom: 10px; }

.content-item_text {
  font-size: 24px;
  line-height: 120%; }

.content-item_subscr {
  font-size: 14px;
  line-height: 120%;
  margin-top: 27px; }

.methodic {
  margin-bottom: 295px; }
  .methodic .wrapper {
    width: 1201px;
    display: flex;
    padding-left: 77px; }

.methodic__header {
  background: linear-gradient(90deg, #00FFCB 4.64%, #A597FD 57.32%, #FF598E 99.99%);
  font-family: 'Rounded';
  font-size: 60px;
  line-height: 81px;
  text-align: center;
  padding: 9px 0;
  padding-bottom: 16px;
  margin-bottom: 68px;
  position: relative; }
  .methodic__header span {
    font-family: 'Pix'; }
  .methodic__header h2 {
    position: relative;
    z-index: 2; }

.methodic__item:nth-child(1) .methodic__item_text span {
  color: #68FFE0; }

.methodic__item:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
  padding-right: 26px; }
  .methodic__item:nth-child(2) .methodic__item_text span {
    color: #B9C3FC; }

.methodic__item:nth-child(3) .methodic__item_text span {
  color: #FF7EA7; }

.methodic__item_illustration {
  margin-bottom: 17px; }

.methodic__item_text {
  font-size: 30px;
  line-height: 103.4%;
  font-family: 'Rounded'; }

.methodic__scratch {
  position: absolute;
  left: 15%;
  top: -107px; }

.connect-to {
  margin-bottom: 243px; }
  .connect-to .wrapper {
    width: 1350px;
    display: flex;
    flex-direction: column;
    align-items: center; }

.connect-to__container {
  margin-left: auto;
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  width: 573px; }

.connect-to__title {
  font-size: 170px;
  line-height: 180px;
  font-family: 'Rounded';
  margin-bottom: 10px;
  background: linear-gradient(90deg, #00FFCB 0.01%, #A597FD 51.56%, #FF598E 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.connect-to__subtitle {
  width: 500px;
  margin-right: auto;
  font-size: 24px;
  line-height: 121%;
  font-family: 'Montserrat' !important;
  font-weight: 400 !important; }

.connect-to__octopus {
  width: 561px;
  margin-right: 125px;
  margin-top: -35px;
  margin-bottom: 150px; }

.connect-to__table_header {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  grid-column: 1/6;
  font-size: 60px;
  line-height: 81px;
  font-family: 'Pix';
  text-align: center;
  padding-top: 10px;
  padding-bottom: 12px; }
  .connect-to__table_header h2 {
    margin-left: 57px; }

.connect-to__table {
  display: grid;
  grid-template-rows: min-content 205px 205px;
  grid-template-columns: 236px 235px 235px 235px 236px;
  border-top: 1px solid white;
  border-left: 1px solid white; }

.connect-to__table_cell {
  border-right: 1px solid white;
  border-bottom: 1px solid white; }

.join {
  margin-bottom: 191px; }
  .join .wrapper {
    width: 1020px;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.join__title {
  font-size: 60px;
  line-height: 114.5%;
  text-align: center;
  font-family: 'Rounded'; }
  .join__title span {
    font-family: 'Pix'; }
    .join__title span.rainbow {
      font-family: 'Rounded';
      background: linear-gradient(90deg, #00FFCB 4.64%, #A597FD 57.32%, #FF598E 99.99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

.join__subtitle {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-family: 'Montserrat' !important;
  font-weight: 400 !important;
  margin-top: 24px; }

.join__form {
  display: flex;
  flex-direction: column;
  width: 689px;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 155px; }
  .join__form input {
    border-radius: 50px;
    border: 0;
    color: #1F1F1F;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Montserrat' !important;
    font-weight: 500 !important;
    padding: 22px 44px 21px 44px;
    background: #FFFFFF;
    border-radius: 50px;
    margin-bottom: 18px; }
    .join__form input::placeholder {
      color: #868686; }
  .join__form button {
    background: linear-gradient(90deg, #00FFCB 4.64%, #A597FD 57.32%, #FF598E 99.99%);
    background-size: 100% 200%;
    background-position: 0% 0%;
    border-radius: 78px;
    width: 482px;
    width: 100%;
    display: block;
    margin: 0 auto;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
    text-align: center;
    padding: 11px 25px 14px 25px;
    margin-bottom: 10px;
    border: 0;
    font-family: 'Rounded';
    transition: .3s;
    margin-top: 46px; }
    .join__form button:hover {
      transform: translateY(-3px); }

.join__form_caption {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  font-family: 'Rounded'; }
  .join__form_caption a {
    position: relative;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Rounded';
    color: #FFFFFF; }
    .join__form_caption a::after {
      position: absolute;
      content: " ";
      width: 100%;
      top: 100%;
      left: 0;
      height: 1px;
      background: #FFFFFF; }

.join__progress {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 48px; }

.progress_item_title {
  font-family: 'Rounded';
  background: linear-gradient(90deg, #00FFCB 4.64%, #A597FD 57.32%, #FF598E 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  line-height: 71px;
  width: fit-content;
  margin-bottom: 3px; }

.join__progress_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -14px; }

.progress_item_text {
  font-size: 24px;
  line-height: 120%;
  font-family: 'Montserrat' !important;
  font-weight: 500 !important;
  margin-bottom: 9px; }

.its-match .wrapper {
  width: 1077px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  .its-match .wrapper::after {
    content: "";
    position: absolute;
    width: 940.45px;
    height: 187.57px;
    bottom: 50px;
    left: 25px;
    background: linear-gradient(90deg, #00FFCB 0.01%, #A597FD 49.92%, #FF5289 99.99%);
    background-blend-mode: luminosity;
    filter: blur(100px);
    transform: rotate(12.39deg);
    opacity: .7; }

.its-match__header-illustration {
  margin-right: auto;
  margin-left: 41px; }

.its-math__square {
  position: absolute;
  left: 340px;
  top: 465px;
  z-index: 2; }

.its-match__title {
  font-size: 170px;
  line-height: 230px;
  font-family: 'Pix';
  margin-top: -29px;
  text-transform: lowercase;
  margin-left: 53px;
  position: relative;
  z-index: 2; }

.its-math__subtitle {
  font-size: 30px;
  line-height: 120%;
  font-family: 'Rounded';
  margin-left: 335px;
  max-width: 527px;
  margin-top: 76px;
  position: relative;
  z-index: 2; }

.generator {
  display: none; }

.intro,
.dinos,
.runline,
.what-we-create,
.how-it-works,
.register,
.why-we-can,
.how-vet-works,
.methodic,
.connect-to,
.join,
.its-match {
  width: 1920px; }

/*# sourceMappingURL=style.css.map */
